<!DOCTYPE html>
<html>
    <head>
        <title> Customers </title>
        <meta name="description" content="Customer List">
        <meta name="keyword" content="Moderna, Customer List">
        <link rel="stylesheet" type="text/css" href="../css/general.css">
        <link rel="stylesheet" type="text/css" href="../css/list.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        
    </head>
    <body>

        {{> logoutPartial }}

        {{#if cashier}}
            {{> cashierPartial }}
        {{/if}}

        {{#if manager}}
            {{> managerPartial }}
        {{/if}}

        <div class="content">
             <div class="fixed-div">
                <h1 class="bold" style="padding-bottom: 15px;"> Customers </h1>
                <div> 
                    <div class="search">
                        <!--<form>  indicate action 
                            <input type="text" placeholder="Search" name="search" id="search-field">
                            <button type="submit" id="search-button"><i class="fa fa-search" ></i></button>
                        </form>-->
                        <input type="text" placeholder="Search" name="search" id="search-field">
                         <button type="submit" style="height: 34px; margin-left: 10px" id="search-button"><i class="fa fa-search"></i></button>                   
                    </div>
                    <div class= "div-button-end">
                        <div class="new-customer"><button id="btn-new-customer" class="btn-light-blue" data-toggle="modal" data-target="#modal-add-customer">+ New Customer</button></div>
                    </div>
                    <div style="height: 50px"></div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="modal-add-customer" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLongTitle">Add Customer</h3>
                        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>-->
                    </div>
                    <div class="modal-body">
                        <form id="add-new-customer">
                            <div class="flex-display">
                                <label for="Customer-name" class="modal-label">Name</label> 
                                <input id="customer-name" type="text" class="modal-input form-control"><br>
                            </div>
                            <p class="error modal-error" id="error-new-customer-name"></p>

                            <div class="flex-display">
                                <label for="contact-person" class="modal-label">Contact Person</label> 
                                <input id="contact-person" type="text" class="modal-input form-control"><br>
                            </div>
                            <p class="error modal-error" id="error-contact-person"></p>
                            
                            <div class="flex-display">
                                <label for="contact-number" class="modal-label">Contact Number</label> 
                                <input id="contact-number" class="modal-input form-control" type="number" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==11) return false;"><br>
                            </div>
                            <p class="error modal-error" id="error-contact-number"></p>
                            
                            <div class="flex-display">
                                <label for="address-title" class="modal-label">Address Title</label> 
                                <input class="address-title modal-input form-control" type="text"><br>
                            </div>
                             <p class="error modal-error" id="error-address-title"></p>
                            <div class="flex-display">
                                <label for="address" class="modal-label">Address</label> 
                                <input class="address modal-input form-control" type="text"><br>
                            </div>
                            <p class="error modal-error" id="error-address"></p>
                            <div id="new-row"></div>
                            <div style="display:flex; justify-content:flex-end; width:100%; padding:0; margin-top: 10px">
                                <button id="more-address" type="button" class='btn-light-blue' >Add Address</button>
                            </div>
                           
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="modal-btn-grey" data-dismiss="modal">Close</button>
                        <button type="button" class="modal-btn-light-blue" id="btn-add-new-customer">Save</button>
                    </div>
                </div>
                </div>
            </div>
                
                <table class="table" id="table-customer">
                    <thead class="table-head">
                        <tr>
                            <th>Name</th>
                            <th>Contact Person</th>
                            <th>Contact Number</th>
                            <!--<th>Address</th>-->
                        </tr>
                    </thead>
                    <tbody> 
                        {{#each customers}}
                            <tr class="link" style="cursor: pointer" data-href="/customer/{{customerID}}">
                                <td>{{name}}</td>
                                <td>{{contactPerson}}</td>
                                <td>{{number}}</td>
                                <!--<td>{{address}}</td>-->
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>

        <script>

            $(document).ready(function() {

                $(".link").click(function() {
                    window.location = $(this).data("href");
                });

                $('#more-address').click(function() {
                    $('#new-row').append(`
                        <div class="new-address-row">
                            <div class="flex-display" style="margin-bottom:3px; align-items:center">
                                <label for="address-title" class="modal-label">Address Title</label> 
                                <input class="address-title modal-input form-control" type="text" style="margin-right:5px; width: 92%"><br>
                                <button class="delete-address-button" style="height: 30px"><img src="../images/delete-icon.png" height="20px" width="15x" alt="Delete"></button>
                            </div>
                             <p class="error modal-error error-address-title"></p>

                            <div class="flex-display" style="margin-bottom:3px;">
                                <label for="address" class="modal-label">Address</label> 
                                <input class="address modal-input form-control" type="text"><br>
                            </div>
                            <p class="error modal-error error-address"></p>
                        </div>
                    `)
                })

                $(document).on('click', '.delete-address-button', function() {
                    $(this).closest('.new-address-row').remove()
                })
                
                function capitalize(string){
                    var words = string.toLowerCase().split(' ');
                    for (i=0; i<words.length; i++)
                        words[i] = words[i].charAt(0).toUpperCase() + words[i].substring(1);
                    return words.join(' ');
                };

                $('#customer-name').keyup(function() {
                    var name = capitalize($('#customer-name').val())
                    $.get('/getCheckCustomerName', {name:name}, function(result) {
                        if (result.name == name) {
                            $('#customer-name').css("border", "1px solid #B00000");
                            $('#error-new-customer-name').text("Customer information already exists");
                            $('#btn-add-new-customer').prop('disasbled', true);
                            $('#btn-add-new-customer').css("background-color", "#b3b3b3");
                        }
                        else {
                            $("#customer-name").css("border", "1px solid #DDDDDD");
                            $('#error-new-customer-name').text("");
                            $('#btn-add-new-customer').prop('disasbled', false);
                            $("#btn-add-new-customer").css("background-color", "#0F84D9");
                        }
                    })
                })


                function errorMessage(type) {
                    if (type == "noName") {
                        $('#customer-name').css("border", "1px solid #B00000");
                        $('#error-new-customer-name').text("Please input customer name");
                    } 
                    else if (type == "noContact") {
                        $('#contact-person').css("border", "1px solid #B00000");
                        $('#error-contact-person').text("Please input contact person");
                    } 

                    else if (type == "noNumber") {
                        $('#contact-number').css("border", "1px solid #B00000");
                        $('#error-contact-number').text("Invalid contact number");
                    }
                }

                function customerNameValidation(name) {
                    if (name == null || name == "") {
                        errorMessage("noName")
                        return 1;
                    }
                    else {
                        $('#customer-name').css("border", "1px solid #DDDDDD");
                        $('#new-customer-name').text("");
                        return 0;
                    }
                }

                function contactPersonValidation(name) {
                    if (name == null || name == "") {
                        errorMessage("noContact")
                        return 1;
                    }
                    else {
                        $('#contact-person').css("border", "1px solid #DDDDDD");
                        $('#error-contact-person').text("")
                        return 0;
                    }
                }   

                function numberValidation(number) {
                    if (number == 0 || number < 0) {
                        errorMessage("noNumber")
                        return 1;
                    }
                   else {
                        $('#new-contact-number').css("border", "1px solid #DDDDDD");
                        $('#error-contact-number').text("");
                        return 0;
                    }
                }     

                function addressValidation() {
                    var notFilled = false

                    $('.address-title').each(function () {
                        if ($(this).val() == "") {
                            $(this).css("border", "1px solid #B00000");
                            $(this).parents('.flex-display').next('p').text("Input address title");
                            notFilled = true
                        }
                        else {
                            $(this).parents('.flex-display').next('p').text("");
                            $(this).css("border", "1px solid #DDDDDD")
                        }
                    })

                    $('.address').each(function() {
                        if ($(this).val() == "") {
                            $(this).css("border", "1px solid #B00000");
                            $(this).parents('.flex-display').next('p').text("Input address");
                            notFilled = true
                        }
                        else {
                            $(this).parents('.flex-display').next('p').text("");
                            $(this).css("border", "1px solid #DDDDDD")
                        }
                    })

                    return notFilled;
                }


                $('#btn-add-new-customer').click(function() {
                    var name = capitalize($('#customer-name').val());
                    var contactPerson = capitalize($('#contact-person').val())
                    var number = $('#contact-number').val();
                    var address = []
                    var addressTitle = []

                    $('.address').each(function() {
                        address.push($(this).val())
                    })

                    $('.address-title').each(function () {
                        addressTitle.push(capitalize($(this).val()))
                    })

                    var titleStr = JSON.stringify(addressTitle)
                    var addressStr = JSON.stringify(address)

                    if (!customerNameValidation(name) && !contactPersonValidation(contactPerson) && !numberValidation(number) && !addressValidation(addressTitle, address)) {

                        $('#customer-name').css("border", "1px solid #DDDDDD");
                        $('#contact-person').css("border", "1px solid #DDDDDD")
                        $('#contact-number').css("border", "1px solid #DDDDDD");
                        $('#address').css("border", "1px solid #DDDDDD");

                        $('#error-new-customer-name').text("");
                        $('#error-contact-number').text("");
                        $('#error-address').text("");
                        $('#error-contact-person').text("")

                         $.post('/postCustomerInformation', {name, contactPerson, number, addressStr, titleStr}, function(result) {
                            alert('Customer has been added')
                            $('#modal-add-customer').modal('hide');
                                $('#add-new-customer').trigger('reset');
                                window.location.reload()
                         }) 
                   }
                })

                /*$('#search-field').keyup(function() {
                    $('#table-customer tr').show();
                    var searchItem = $(this).val().toLowerCase();
                 
                    $('#table-customer > tbody > tr').each(function(index) {
                        var customerName = $(this).children('td:first').text().toLowerCase();
                        if (!customerName.includes(searchItem))
                            $(this).toggle();
                    })
                })*/

                $("#search-button").click(function() {
                    $('#table-customer tr').show();
                    var searchItem = $("#search-field").val().toLowerCase();
                 
                    $('#table-customer > tbody > tr').each(function(index) {
                        var customerName = $(this).children('td:first').text().toLowerCase();
                        if (!customerName.includes(searchItem))
                            $(this).toggle();
                    })
                })
            })

        </script>
    </body>
</html>