<!DOCTYPE html>
<html>
    <head>
        <title> Deliveries </title>
        <meta name="description" content="Delivery List">
        <meta name="keyword" content="Moderna, Delivery List">
        <link rel="stylesheet" type="text/css" href="../css/general.css">
        <link rel="stylesheet" type="text/css" href="../css/list.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        
    </head>
    <body>

        {{> logoutPartial }}

        {{#if delivery}}
            {{> deliveryPartial }}
        {{/if}}

        {{#if manager}}
            {{> managerPartial }}
        {{/if}}

        <div class="content">
         <div class="fixed-div">
                <h1 class="bold" style="padding-bottom: 20px;"> Deliveries </h1>
                <div> 
                    <div class="search">
                        <input type="text" placeholder="Search" name="search" id="search-field">
                        <button type="submit" style="height: 34px; margin-left: 10px" id="search-button"><i class="fa fa-search"></i></button>
                    </div>
                    <div style="height: 50px"></div>
                </div> 
            </div>    
                
                <table class="table" id="table-delivery">
                    <thead class="table-head">
                        <tr>
                            <th>Delivery Date</th>
                            <th>Invoice</th>
                            <th>Customer Name</th>
                            <th>Amount</th> 
                            <th>Payment Status</th>
                        </tr>
                    </thead>
                    <tbody> 
                        {{#each deliveryInfo}}
                            <tr class="link" style="cursor: pointer" data-href="/deliveries/{{_id}}">
                                <td>{{deliveryDate}}</td>
                                <td>{{invoiceNum}}</td>
                                <td>{{customerName}}</td>
                                <td style="text-align:end;">₱ {{amount}}</td>
                                <td><button class="btn-status btn-{{paymentStatus}} status-id">{{paymentStatus}}</button></td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
          <script>
            $(document).ready(function() {

                $(".link").click(function() {
                    window.location = $(this).data("href");
                });

                function filter(result) {
                    $("#table-delivery tbody tr").remove();

                    if (result != null) {
                        for (var i = 0; i < result.length; i++) {
                            $("#table-delivery").find("tbody").append(
                                    `<tr class="link" style="cursor: pointer" data-href="/deliveries/${result[i]._id}">
                                        <td>${result[i].deliveryDate}</td>
                                        <td>${result[i].invoiceNum}</td>
                                        <td>${result[i].customerName}</td>
                                        <td style="text-align:end;">₱ ${result[i].amount}</td>
                                        <td><button class="btn-status btn-${result[i].paymentStatus} status-id">${result[i].paymentStatus}</button></td>
                                    </tr>`
                            );
                        }
                    }

                    $(".link").click(function() {
                        window.location = $(this).data("href");
                    });
                }

                $("#search-button").click(function() {
                    var searchItem = $("#search-field").val();

                    $.get("/getSearchDeliveryList", {searchItem: searchItem}, function (result) {

                        filter(result);
                    });

                })
            })
        </script>
    </body>
</html>