<!DOCTYPE html>
<html>
    <head>
        <title> Edit Supplier Items - {{supplierName}} </title>
        <meta name="description" content="Edit Item Suppliers">
        <meta name="keyword" content="Moderna, Edit Item Suppliers">
        <link rel="stylesheet" type="text/css" href="../css/general.css">
        <link rel="stylesheet" type="text/css" href="../css/information.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        
    </head>
    <body>

        {{> logoutPartial }}

        {{#if inventoryAndPurchasing}}
            {{> inventoryAndPurchasingPartial }}
        {{/if}}

        {{#if manager}}
            {{> managerPartial }}
        {{/if}}

        <div class="content">
            <div style="display: flex;">
                <h1 class="bold"> Edit Supplier Items - {{supplierName}}</h1>
            </div>

            <hr style="margin-top: 0px;">

            <form id="new-item">
                <input type="text" id="itemDesc" style="margin-top: 5px; margin-bottom: 0px; width: 200px; float: left; margin-right: 10px; border-radius: 5px;  height: 34px; border-width: 1px;" placeholder="Item Description">
                <select class="dropdown" id="dropdown-unit" style="margin-top: 5px; margin-bottom: 0px; width: 200px; float: left; margin-right: 10px">
                    <option value="no-selected">Select Unit</option>
                    {{#each units}}
                        <option value={{_id}}>{{unit}}</option>
                    {{/each}}
                </select>
                <input style="margin-top: 5px; margin-bottom: 0px; float: left; height: 34px; width: 34px; background-color: #0F84D9; border: #0F84D9; border-radius: 7px; color: white;" type="button" id="add-item" name="add-item" value="+">
            </form>
            
            <div style="height: 45px"></div>

            <p class="error" id="error-item" style="margin-bottom: 5px;"></p>
            <p class="error" id="error-unit" style="margin-bottom: 5px;"></p>


            <table class="table" id="table-items">
                <thead class="table-regular-head">
                    <tr>
                        <th>Item Description</th>
                        <th>Unit</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="table-items-body"> 
                    {{#each supplierItems}}
                        <tr>
                            <td class="itemDesc">{{itemDescription}}</td>
                            <td class="unit">{{unit}}</td>
                            <td><button class="delete-button"><img src="../images/delete-icon.png" height="20px" width="15x" alt="Delete"></button></td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>

             <div>
                <div style="display: flex;">
                    <div style="width: 50%"><div class="btn-cancel-invoice"><a href = "/supplier/{{supplierID}}"><button class="btn-light-grey" id="btn-cancel-edit-item-suppliers" style="margin-bottom: 10px;">Cancel</button></a></div></div>
                    <div class="btn-save-invoice btn-status"><button class="btn-light-blue" id="btn-save-edit-supplier-items" style="margin-bottom: 10px;" >Save</button></div>
                 </div>
            </div>
        </div>

        <script>
            $(document).ready(function() {

                $("#itemDesc" ).autocomplete({
                    source: function(request, response) {
                    $.ajax({
                                url: `/getAllItemName?query=${request.term}`,
                                dataType: "json",
                                data: {
                                    //request.term refers to the value currently in the text input
                                    term: request.term,
                                },
                                success: function (data) {
                                    response(data);
                                }
                         });
                    }, response: function (event, ui) {
                        if (ui.content.length === 0) {
                        }

                        else {

                        }
                    }, select: function(event, ui) {

                    }
                })

                $("#table-items").on('click','.delete-button',function() {
                    var address = window.location.pathname.split('/');
                    var supplierID = address[address.length -1]

                    var row = $(this).closest('tr');
                    var itemDesc = row.find('.itemDesc').text();
                    var unit = row.find('.unit').text();

                    $.get('/checkForPendingPOSuppliers', {supplierID, itemDesc, unit}, function(result) {
                        if (result == false)
                            row.remove();
                        else
                            alert("Cannot remove supplier. There are currently pending purchase orders");
                    })
                });

                function itemValidation(itemDescription, unit) {
                    var found = false;

                    if (itemDescription == "") {
                        errorMessage("no-description");
                        return 1;
                    } else {
                        $("#table-items-body > tr").each(function () {
                            if (itemDescription == $(this).children('.itemDescription').text() && unit == $(this).children('.unit').text())
                                found = true;
                        });

                        if (found) {
                            errorMessage("in-list");
                            return 1;
                        } else {
                            return 0;
                        }
                    }
                }

                function unitValidation(unit) {
                    if (unit == "no-selected") {
                        errorMessage('no-unit')
                        return 1;
                    }
                    else
                        return 0;
                }

                $('#itemDesc').change(function() {
                    resetErrorMessage();
                })

                $('#dropdown-unit').change(function() {
                    resetErrorMessage()
                })

                function resetErrorMessage () {
                    $("#itemDesc").css("border", "1px solid #DDDDDD");
                    $("#error-item").text("");
                    $("#dropdown-unit").css("border", "1px solid #DDDDDD");
                    $("#error-unit").text("");
                }

                function errorMessage(type) {
                    if (type == "no-description") {
                        $("#itemDesc").css("border", "1px solid #B00000");
                        $("#error-item").text("Please enter Item Description.");
                    } else if (type == "no-unit") {
                        $("#dropdown-unit").css("border", "1px solid #B00000");
                        $("#error-unit").text("Please select a Unit.");
                    }else if (type == "in-list") {
                        $("#itemDesc").css("border", "1px solid #B00000");
                        $("#error-item").text("Item already exists.");
                    }
                }

                $('#add-item').click(function() {
                    var itemDescription = $('#itemDesc').val();
                    var unitID = $('#dropdown-unit').val()
                    var unit = $("#dropdown-unit option:selected").text();

                    if (!itemValidation(itemDescription,unit) && !unitValidation(unitID)) {
                        //resetErrorMessage();

                        $('#table-items').find('tbody').append(
                            `  <tr> 
                                    <td class="itemDesc">${itemDescription}</td>
                                    <td class="unit">${unit}</td>
                                    <td><button class="delete-button"><img src="../images/delete-icon.png" height="20px" width="15x" alt="Delete"></button></td>
                                </tr>`
                        );

                        $('#new-item').trigger('reset');
                    }
                });

                $('#btn-save-edit-supplier-items').click(function() {
                    var address = window.location.pathname.split('/');
                    var supplierID = address[address.length -1]

                    var supplierItems = [];

                      $("#table-items-body > tr").each(function () {
                        var item = {
                            itemDesc: $(this).children('.itemDesc').text(),
                            unit: $(this).children('.unit').text()
                        }
                        supplierItems.push(item);
                    });

                    $('#new-supplier').trigger('reset');

                     var JSONsupplierItems = JSON.stringify(supplierItems);
                     $.ajax({
                            url: "/updateSupplierItems",              
                            type: "POST",
                            data: {JSONsupplierItems, supplierID},
                            async: false,
                            success: function(result){
                                if(result.redirect != null){
                                    alert('Successfully updated Supplier Items')
                                    window.location = result.redirect;
                                }
                            }
                    });    
                });
            }) 
        </script>
    </body>
</html>