<!DOCTYPE html>
<html>
    <head>
        <title> Edit Purchase Order </title>
        <meta name="description" content="View Purchase Order">
        <meta name="keyword" content="Moderna, View Purchase Order">
        <link rel="stylesheet" type="text/css" href="../css/general.css">
        <link rel="stylesheet" type="text/css" href="../css/information.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        <!--<link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>-->

        <link rel="stylesheet" type="text/css" href="../jquery-ui-themes-1.13.0/themes/ui-lightness/jquery-ui.css">
        <script src="../jquery-ui/jquery-ui.min.js"></script>
        
    </head>
    <body>

        {{> logoutPartial }}

        {{#if inventoryAndPurchasing}}
            {{> inventoryAndPurchasingPartial }}
        {{/if}}

        {{#if manager}}
            {{> managerPartial }}
        {{/if}}

        <div class="content">
            <div> <!-- ADD FIXED -->
                <div style="display: flex; align-items:center;">
                    <div style="width: 50%"><h1 class="bold"> Purchase Order #{{purchaseInfo.purchaseOrderNumber}}</h1></div>
                    <div class="btn-status">
                        {{#if newPO}}
                            <div><button id="btn-status" style="background-color: #0F84D9; width: 100px; border-radius: 15px; color: white; height: 25px;">New</button></div>
                        {{else if released}}
                            <div><button id="btn-status" style="background-color: #F2A154; width: 100px; border-radius: 15px; color: white; height: 25px;">Released</button></div>
                        {{else if received}}
                            <div><button id="btn-status" style="background-color: #55B66A; width: 100px; border-radius: 15px; color: white; height: 25px;">Received</button></div>
                        {{else if canceled}}
                            <div><button id="btn-status" style="background-color: #E24E3A; width: 100px; border-radius: 15px; color: white; height: 25px;">Canceled</button>Canceled</div>
                        {{/if}}
                    </div>
                </div>
            </div> 
            <hr style="margin-top: 0px;">

            <div>
                {{#if released}}
                    <div>
                        <div class="display-flex" style="margin-top: 25px; margin-bottom: 10px">
                            <h3 class ="bold h3-left">Supplier Details</h3>
                        </div>
                        <div class="label-container">
                            <div class="override-label"> Supplier </div> 
                            <div class="label-content" id="edit-PO-name-content">{{supplier.name}}</div>
                        </div>
                        <div class="label-container">
                            <div class="override-label"> Contact Person </div> 
                            <div class="label-content" id="edit-PO-contact-person-content">{{supplier.contactPerson}}</div>
                        </div>
                        <div class="label-container">
                            <div class="override-label"> Contact Number </div> 
                            <div class="label-content" id="edit-PO-contact-number">{{supplier.number}}</div>
                        </div>

                        <div class="label-container">
                            <div class="override-label"> Address </div> 
                            <div class="label-content" id="edit-PO-address">{{supplier.address}}</div>
                        </div>
                        
                    </div>
                {{/if}}

                {{#if newPO}}
                     <div>
                        <div style="display: flex; align-items: center; padding:10px">
                            <label for="supplierName">Supplier Name</label><input style="" type="text" class="margin-bottom-10 supplierInfoInput" id="supplierName" value="{{supplier.name}}">
                        </div>
                        <div id="no-supplier-error" style="display: none; margin-bottom: 5px;">
                            <p class="error" id="no-suppler">Supplier does not exist</p>
                        </div>
                        <div id="change-supplier-error" style="display: none; margin-bottom:5px">
                            <p class="error" style="position: relative; left:15%">Please change the current supplier</p>
                        </div>

                        <div style="display: flex; align-items: center; padding:10px">
                            <label for="contactPerson">Contact Person</label><input type="text" class="margin-bottom-10 supplierInfoInput" id="contactPerson" name="contactPerson" value="{{supplier.contactPerson}}">
                        </div>
                        <div style="display: flex; align-items: center; padding:10px">
                            <label for="contactNumber">Contact Number</label><input type="number" class="margin-bottom-10 supplierInfoInput" id="contactNumber" name="contactNumber" value="{{supplier.number}}">
                        </div>
                        {{#if supplier.number2}}
                            <div style="display: flex; align-items: center; padding:10px" id="div-number-2">
                                <label for="contactNumber2">Contact Number 2</label><input type="number" class="margin-bottom-10 supplierInfoInput" id="contactNumber2" name="contactNumber2" value="{{supplier.number2}}">
                            </div>
                        {{/if}}
                        <div style="display: flex; align-items: center; padding:10px">
                            <label for="address">Address</label><input type="text" class="margin-bottom-10 supplierInfoInput" id="Address" name="Address" value="{{supplier.address}}">   
                        </div>
                    </div>
                {{/if}}
                 <div class="display-flex" style="margin-top: 25px; margin-bottom: 10px">
                    <h3 class ="bold h3-left">Order Details</h3>
                </div>

                {{#if newPO}}
                <form>
                    <input style="margin-top: 5px; margin-bottom: 0px; width: 400px; float: left; margin-right: 10px" type="text" class="form-control" id="itemDescription" name="itemDescription" placeholder="Item Description">
                    <input style="margin-top: 5px; margin-bottom: 0px; width: 150px; float: left; margin-right: 10px; text-align: right;" type="number" class="form-control" id="qty" name="qty" placeholder="Qty">
                     <select class="form-control" id="dropdown-item-unit" style="margin-top: 5px; margin-bottom: 0px; width: 150px; float: left; margin-right: 10px">
                        <option value="no-selected">Select Unit</option>
                    </select>
                    <input style="margin-top: 5px; margin-bottom: 0px; float: left; height: 34px; width: 34px; background-color: #0F84D9; border: #0F84D9; border-radius: 7px; color: white;" type="button" id="addItem" name="addItem" value="+">
                </form>
            </div> 

            <!--MODAL FOR CHANGING SUPPLIERS--->
            <div class="modal fade" id="modal-change-item-supplier" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLongTitle">Change Item Suppliers</h3>
                        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>-->
                    </div>
                    <div class="modal-body">
                        <table id="table-change-item-supplier" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>Item Description</th>
                                    <th>Quantity</th>
                                    <th>Unit</th>
                                    <th>Supplier</th>
                                </tr>
                            </thead>
                            <tbody id="table-change-item-supplier-body">
                            </tbody>
                        </table>  
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="modal-btn-grey" data-dismiss="modal" id="btn-change-supplier-close">Close</button>
                        <button type="button" class="modal-btn-light-blue" id="btn-save-change-item-supplier">Save</button>
                    </div>
                </div>
                </div>
            </div>

             <div style="height: 45px"></div>

            <p id="text-warning-new-PO" class="error" style="margin-top: 5px; margin-bottom:5px;"></p>
            {{/if}}


            <table class="table" id="table-poItem">
                <thead style="background-color: #2F5D62; color: white">
                    <tr>
                        <th>Item Description</th>
                        <th>Quantity</th>
                        <th>Unit</th>
                        {{#if released}}
                            <th>Unit Price</th>
                            <th>Received</th>
                            <th>Amount</th>
                        {{/if}}
                        {{#if newPO}}
                        <th></th>
                        {{/if}}
                    </tr>
                </thead>
                <!-- right align qty, received, unit price, amount-->
                <tbody id="table-poItem-body"> 
                    {{#if newPO}}
                        {{#each items}}
                            <tr class="itemRow" >
                                <td class="classItemDescription">{{itemDescription}}</td>
                                <td><input class="classQty form-control" style="text-align: right; width: 200px;" type="number" value="{{quantity}}"></td>
                                <td class="classUnit">{{unitName}}</td>
                                <td style="text-align: right;"> <button class="delete-button delete-item-btn"><img src="../images/delete-icon.png" height="20px" width="15x" alt="Delete"></button> </td>
                            </tr>
                        {{/each}}
                    {{else}}
                        {{#each items}}
                            <tr class="itemRow" >
                                <td class="classItemDescription">{{itemDescription}}</td>
                                <td class="classQty" style="text-align: right;">{{quantity}}</td>
                                <td class="classUnit">{{unitName}}</td>
                                <td><input type="number" class="unitPrice form-control" style="text-align:right; width: 200px;"></td>
                                <td><input type="number" class="quantityReceived form-control" style="text-align:right; width: 200px;"></td>
                                <td class="classAmount"  style="text-align: right;">₱ 0.00</td>
                            </tr>
                        {{/each}}
                    {{/if}}
                </tbody>
            </table>

            {{#if released}}
                <input style="margin-top: 5px; margin-bottom: 0px; width: 150px; float: right; text-align: right;" type="number" class="form-control margin-bottom-10" id="total-discount" name="discount" placeholder="Discount"><br><br><br>

                <div class="summary-container">
                    <div class="summary-text">Subtotal</div>
                    <div class="summary-info-container"><div class="summary-info" id="subtotal">₱ 0.00</div></div>
                </div>
                <div class="summary-container">
                    <div class="summary-text">VAT</div>
                    <div class="summary-info-container"><div class="summary-info" id ="vat">₱ 0.00</div></div>
                </div>
                <div class="summary-container">    
                    <div class="summary-text">Discount</div>
                    <div class="summary-info-container"><div class="summary-info" id="discount">₱ 0.00</div></div>
                </div>
                <div class="summary-container">
                    <div class="summary-text">Total</div>
                    <div class="summary-info-container"><div class="summary-info" id="total">₱ 0.00</div></div>
                </div>
            {{/if}}

            <div style="height: 10px"></div>

            <div>
                {{#if newPO}}
                    <div style="display: flex; position: absolute; right:5%">
                        <div class="btn-save-invoice"><button class="btn-light-blue" id="btn-update-new-po" style="margin-bottom: 10px;">Save</button></div>
                        <!--<div class="btn-save-invoice btn-status"><button class="btn-light-blue" id="btn-save-invoice" style="margin-bottom: 10px;" >Receive Items</button></div>-->
                    </div>
                {{else}}
                    <div style="display: flex; position: absolute; right:3%">
                        <div class="btn-save-invoice"><button class="btn-light-blue" id="btn-update-sent-po" style="margin-bottom: 10px">Save</button></div>
                    </div>
                {{/if}}

            </div>
            <!--{{#if newPO}}
                <div class="btn-export-invoice"><button class="btn-dark-blue" id="btn-export-invoice">Export</button></div>
            {{/if}}-->

            <div style="height: 20px"></div>
        </div>

        <script>
             $(document).ready(function(){

                $('#itemDescription').focus(function() {
                    if ($("#supplierName").val() == ""){
                        alert("Please select a supplier first")
                        $('#itemDescription').blur()
                    }
                })

                $("#itemDescription" ).autocomplete({
                    source: function(request, response) {
                    $.ajax({
                                url: `/getItemNamePO?query=${request.term}`,
                                dataType: "json",
                                data: {
                                    //request.term refers to the value currently in the text input
                                    term: request.term,
                                    supplier: $('#supplierName').val()
                                },
                                success: function (data) {
                                    $('#text-warning-new-PO').text('')
                                    $("#itemDescription").css("border", "1px solid #DDDDDD");
                                    response(data);
                                }
                         });
                    }, response: function (event, ui) {
                        if (ui.content.length === 0) {
                            $('#text-warning-new-PO').text('Item does not exist')
                            $('#addItem').prop('disabled', true)
                        }

                        else {
                            $('#text-warning-new-PO').text('')
                            $('#addItem').prop('disabled', false)
                        }
                    }, select: function(event, ui) {
                        var itemDesc = ui.item.label;
                        $.get('/getEOQ', {itemDesc}, function(result) {
                            $('#qty').val(result)
                        })

                        var supplierName = $("#supplierName").val()
                        $.get('/getItemUnitsPO', {itemDesc, supplierName}, function(result) {
                            for (var i=0; i<result.length; i++) {
                                $('#dropdown-item-unit').append(`
                                    <option value="${result[i].id}">${result[i].unit}</option>
                                `)
                            }
                            $('#dropdown-item-unit').prop("selectedIndex", 1)
                        }); 
                    }
                        
                });

                $('#dropdown-item-unit').change(function () {
                    $("#qty").val("");
                })


                $("#table-poItem").on('click','.delete-item-btn',function() {
                    $(this).closest('tr').remove();
                });

                $('#addItem').click(function(){
                    var itemDesc = $('#itemDescription').val();
                    var unit = $('#dropdown-item-unit option:selected').text();
                    var qty = $('#qty').val();

                    //all blanks are filled up
                    if (itemFilled()) {
                        $('#table-poItem').append(
                        `<tr>
                            <td class="classItemDescription">${itemDesc}</td>
                            <td><input class="classQty form-control" type="number" style="text-align:right; width: 200px;" value="${qty}"</td>
                            <td class="classUnit">${unit}</td>
                            <td style="text-align: right;"> <button class="delete-button delete-item-btn"><img src="../images/delete-icon.png" height="20px" width="15x" alt="Delete"></button> </td>
                        </tr>`);

                        $('#itemDescription').val('');
                        $('#qty').val('');
                        $('#text-warning-new-PO').text("");
                        $('#dropdown-item-unit option:not(:first)').remove();
                    }
                })

                $("#supplierName").autocomplete({
                    source: function(request, response) {
                    $.ajax({
                                url: `/getSupplierName?query=${request.term}`,
                                dataType: "json",
                                data: {
                                    //request.term refers to the value currently in the text input
                                    term: request.term
                                },
                                success: function (data) {
                                    $('#no-supplier-error').css('display', 'none')
                                    $('#change-supplier-error').css('display', 'none')
                                    $("#supplierName").css("border", "1px solid #DDDDDD");
                                    response(data);
                                }
                         });
                    }, response: function (event, ui) {
                        if (ui.content.length === 0) {
                            $('#no-supplier-error').css('display', 'block')
                            $('#btn-update-new-po').prop('disabled', true)
                            $('#btn-update-new-po').css("background-color", "#b3b3b3");
                        }
                        else {
                            $('#no-supplier-error').css('display', 'none')
                            $('#btn-update-new-po').prop('disabled', false)
                            $('#btn-update-new-po').css("background-color", "#0F84D9")  
                        }
                    }, select: function(event, ui) {
                        var supplierName = ui.item.label;
                        $.get('/getSupplierInformation', {supplierName}, function(result) {
                            $('#contactPerson').val(result.contactPerson);
                            $('#number').val(result.number);
                            $('#address').val(result.address)

                            if (result?.number2 != undefined) {
                                $('#div-number-2').css('display', 'flex')
                                $('#contactNumber2').val(result.number2)
                            }
                            else {
                                $('#div-number-2').css('display', 'none')
                                $('#div-number-2').val('')
                            }
                        })

                        var forceBreak = false


                        $("#table-poItem-body > tr").each(function () {
                            var itemDesc = $(this).children('.classItemDescription').text()
                            var unit = $(this).children('.classUnit').text();
                            $.ajax({
                                type:"GET",
                                url: '/isSold',
                                data: {supplierName, unit, itemDesc},
                                async: false
                            }).done(function(result) {
                                if (result == "not sold") 
                                    forceBreak= true
                            })
                        });

                        var proceed = false
                        if (forceBreak) {
                            if (confirm("Some items are not offered by this supplier. These items will be removed from this purchase order and be placed in a separate purchase order. Do you wish to proceed"))
                                proceed = true
                            else {
                                $('#btn-update-new-po').prop('disabled', true)
                                $('#btn-update-new-po').css("background-color", "#b3b3b3");
                                proceed = false
                            }
                        }

                        //new po will be created for items that are not sold by the supplier
                        if (proceed) {
                            var newPOItems = []

                            $("#table-poItem-body > tr").each(function () {
                                var itemDesc = $(this).children('.classItemDescription').text()
                                var qty = $(this).find('.classQty').val();
                                var unit = $(this).children('.classUnit').text()
                                var row = $(this)

                                $.get('/isSold', {supplierName, unit, itemDesc}, function(result) {
                                    if (result == "not sold") {

                                        row.remove();
                                        $('#table-change-item-supplier-body').append(
                                            `<tr>
                                                <td class="change-supplier-itemDesc">${itemDesc}</td>
                                                <td><input class="change-supplier-qty form-control" style="text-align: right; width:200px;" value=${qty}></td>
                                                <td class="change-supplier-unit">${unit}</td>
                                                <td><select class="change-supplier-supplier form-control" style="width: 200px">
                                                    <option value="no-selected">Select Supplier</option>
                                                </select></td>
                                            </tr>`)

                                        $.ajax({
                                            type:"GET",
                                            url: '/getItemSuppliers',
                                            data: {itemDesc, unit},
                                            async: false
                                        }).done(function(result) {
                                            var lastRow = $('#table-change-item-supplier-body tr:last').find('.change-supplier-supplier')

                                            for (var i=0; i<result.length; i++) {
                                                $(lastRow).append(
                                                    `<option value="${result[i].id}">${result[i].name}</option>
                                                    `)
                                            }
                                        })
                                    }
                                })
                            })
                            $('#modal-change-item-supplier').modal('show')
                        }
                    }
                });

                function supplierFilled() {
                    var supplierName = $('#supplierName').val();
                    var contactPerson = $('#contactPerson').val();
                    var contactNumber = $('#contactNumber').val();
                    var address = $('#address').val();

                    if (supplierName!="" && contactPerson!="" && contactNumber!="" && address!="" ) {
                        $('#supplierName').css("border", "1px solid #DDDDDD");
                        $('#contactPerson').css("border", "1px solid #DDDDDD");
                        $('#contactNumber').css("border", "1px solid #DDDDDD");
                        $('#address').css("border", "1px solid #DDDDDD");
                        return true;
                    }

                    else {
                        if (supplierName == "")
                            $('#supplierName').css("border", "2px solid #B00000");
                        else
                            $('#supplierName').css("border", "1px solid #DDDDDD");

                        if (contactPerson == "")
                            $('#contactPerson').css("border", "2px solid #B00000");
                        else
                            $('#contactPerson').css("border", "1px solid #DDDDDD");

                        if (contactNumber == "")
                            $('#contactNumber').css("border", "2px solid #B00000");
                        else
                            $('#contactNumber').css("border", "1px solid #DDDDDD");

                        if (address == "")
                            $('#address').css("border", "2px solid #B00000");
                        else
                            $('#address').css("border", "1px solid #DDDDDD");

                        return false;
                    }
                }

                function itemFilled() {
                    var allFilled = true 
                    
                    if ($('#itemDescription').val() == "") {
                        $('#itemDescription').css("border", "2px solid #B00000");
                        allFilled = false
                    }
                     else
                        $('#itemDescription').css("border", "1px solid #DDDDDD");


                    if ($('#qty').val()== "") {
                        $('#qty').css("border", "2px solid #B00000");
                        allFilled = false
                    }
                    else
                        $('#qty').css("border", "1px solid #DDDDDD");

                    if ($('#dropdown-item-unit').val() == "no-selected") {
                        $('#dropdown-item-unit').css("border", "2px solid #B00000");
                        allFilled = false
                    }
                     else
                        $('#dropdown-item-unit').css("border", "1px solid #DDDDDD");


                    return allFilled
                }

                //---------UPDATE FOR NEW PO----------- change supplier, add items, delete items
                $('#btn-update-new-po').click(function(){
                    var address = window.location.pathname.split('/');
                    var poID = address[address.length -1]
                    var poItems = []

                    if (supplierFilled()) {
                        $("#table-poItem-body > tr").each(function () {
                            var poItem= {
                                itemDesc: $(this).children('.classItemDescription').text(), 
                                quantity: $(this).find('.classQty').val(),
                                unit: $(this).children('.classUnit').text()
                            }
                            poItems.push(poItem);
                        });

                        var itemsString = JSON.stringify(poItems);  
                        var supplierName = $('#supplierName').val()
                        $.post('/updatePOItems', {poID, itemsString, supplierName}, function(result) {
                            alert("PO updated");
                            window.location = `/purchaseOrder/${poID}`;
                        });
                    }
                    else
                        alert("Please fill out the necessary information");
                })

                function computeTotal() {
                    var overallTotal =0
                    $("#table-poItem-body > tr").each(function () {
                        overallTotal += parseFloat($(this).children('.classAmount').text().slice(1));
                    });

                    var discount = $('#total-discount').val() 
                    if (discount == "")
                        discount = 0
                    overallTotal -= parseFloat(discount);

                    var subtotal = overallTotal/1.12
                    var vat = overallTotal - subtotal
                    $('#subtotal').text("₱ " + parseFloat(subtotal).toFixed(2))
                    $('#vat').text("₱ " + parseFloat(vat).toFixed(2))
                    $('#discount').text("₱ " +  parseFloat(discount).toFixed(2))
                    $('#total').text("₱ " + parseFloat(overallTotal).toFixed(2))
                }

                $('#total-discount').keyup(function() {
                    computeTotal()
                })

                $('.unitPrice').keyup(function() {
                    var row = $(this).closest('.itemRow');

                    var unitPrice = row.find('.unitPrice').val()
                    if (unitPrice == '')
                        unitPrice = 0

                    var quantityReceived = row.find('.quantityReceived').val()
                    if (quantityReceived == '')
                        quantityReceived = 0

                    var amount = parseFloat(quantityReceived) * parseFloat(unitPrice)
                    row.find('.classAmount').html("₱ " + amount)

                    computeTotal();
                })

                $('.quantityReceived').keyup(function() {
                    var row = $(this).closest('.itemRow');

                    //quantity received input is greater than quantity ordered
                    if (parseInt(row.find('.quantityReceived').val()) > parseInt(row.find('.classQty').text())) {
                        row.find('.quantityReceived').css("border", "2px solid #B00000")
                        $('#btn-update-sent-po').prop('disabled', true)
                        $('#btn-update-sent-po').css("background-color", "#b3b3b3")
                    } 

                    else {
                        var unitPrice = row.find('.unitPrice').val()
                        if (unitPrice == '')
                            unitPrice = 0

                        var quantityReceived = row.find('.quantityReceived').val()
                        if (quantityReceived == '')
                            quantityReceived = 0

                        var amount = parseInt(quantityReceived) * parseFloat(unitPrice)
                        row.find('.classAmount').html("₱ " + amount)

                        computeTotal()
                        row.find('.quantityReceived').css("border", "1px solid #DDDDDD");
                        $('#btn-update-sent-po').prop('disabled', false)
                        $('#btn-update-sent-po').css("background-color", "#0F84D9")
                    }
                })

                //--=====-----UPDATE FOR SENT PO-------------------- -- update price, quantity received, total of po
                $('#btn-update-sent-po').click(function() {
                    var address = window.location.pathname.split('/');
                    var poID = address[address.length -1]
                    var poItems = []
                    var proceed=true;
                    var asked = false;
                    var needNewPo = false

                    $("#table-poItem-body > tr").each(function () {
                        //unit price and qty left blank
                        if (($(this).find('.unitPrice').val() == "" || $(this).find('.quantityReceived').val() == "") && proceed && !asked) {
                            if (confirm("Some items do not have a price or quantity received. A new PO will be created for these items. Do you wish to proceed.")) {
                                asked = true
                                needNewPo = true
                            }
                            else {
                                proceed = false
                                asked = true
                                if ($(this).find('.unitPrice').val() == "") 
                                    $(this).find('.unitPrice').css("border", "2px solid #B00000");
                                if ($(this).find('.quantityReceived').val() == "")
                                    $(this).find('.quantityReceived').css("border", "2px solid #B00000");
                            }
                        }
                        //quantity received is less than quantity ordered
                        else if (parseInt($(this).find('.classQty').text()) > parseInt($('.quantityReceived').val()) && !asked) {
                             if (confirm("The received quantity for some items is less than the quantity ordered. Do you want a new PO to be created for these items?")) {
                                asked = true
                                needNewPo = true
                            }
                            else
                                asked = true
                            
                        }
                    })

                    if(proceed) {
                         $("#table-poItem-body > tr").each(function () {
                            var amount = $(this).children('.classAmount').text().slice(1);
                            var unitPrice = $(this).find('.unitPrice').val()
                            if (unitPrice == "") {
                                unitPrice = 0
                                amount = 0
                            }

                            var quantityReceived = $(this).find('.quantityReceived').val()
                            if (quantityReceived == "")
                                quantityReceived = 0

                            var poItem= {
                                itemDesc: $(this).children('.classItemDescription').text(), 
                                quantity: $(this).children('.classQty').text(),
                                unit: $(this).children('.classUnit').text(),
                                price: unitPrice,
                                amount: amount,
                                quantityReceived: quantityReceived
                            }
                            poItems.push(poItem);
                        });
                        var itemsString = JSON.stringify(poItems);  
                        var subtotal = parseFloat($('#subtotal').text().slice(1));
                        var vat = parseFloat($('#vat').text().slice(1));
                        var total = parseFloat($('#total').text().slice(1));
                        var discount = parseFloat($('#discount').text().slice(1))
                        $.post('/updatePOWithPrice', {poID, itemsString, discount, subtotal, vat, total, needNewPo}, function(result) {
                            alert("PO updated");
                            window.location = "/purchaseOrders";
                        });
                    }
                })

                $('#btn-change-supplier-close').click(function(result) {
                    $('#table-change-item-supplier-body').each(function() {
                        var itemDesc = $(this).find('.change-supplier-itemDesc').text()
                        var qty = $(this).find('.change-supplier-qty').val()
                        var unit = $(this).find('.change-supplier-unit').text();
                        $('#table-poItem').append(`
                            <tr>
                                <td class="classItemDescription">${itemDesc}</td>
                                <td><input class="classQty form-control" style="text-align: right; width: 200px" type="number" value="${qty}"</td>
                                <td class="classUnit">${unit}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td style="text-align: right;"> <button class="delete-button delete-item-btn"><img src="../images/delete-icon.png" height="20px" width="15x" alt="Delete"></button> </td>
                            </tr>`)
                        $(this).remove();
                        $('#btn-update-new-po').prop('disabled',true)
                        $('#supplierName').css("border", "2px solid #B00000")
                        $('#change-supplier-error').css('display', 'block')
                        $('#btn-update-new-po').prop('disabled', true)
                        $('#btn-update-new-po').css("background-color", "#b3b3b3");
                    })
                })

                $('#btn-save-change-item-supplier').click(function(result){
                    var purchaseItems = []
                    var blank = false
                    $("#table-change-item-supplier-body > tr").each(function () {
                        if ($(this).find('.change-supplier-qty').val() == "" || $(this).find('.change-supplier-supplier').val() == "no-selected") {
                            if ($(this).find('.change-supplier-qty').val() == "") 
                                $(this).find('.change-supplier-qty').css("border", "2px solid #B00000");
                            else
                                $(this).find('.change-supplier-qty').css("border", "1px solid #DDDDDD");
                                    
                            if ($(this).find('.change-supplier-supplier').val() == "no-selected") 
                                 $(this).find('.change-supplier-supplier').css("border", "2px solid #B00000");
                            else
                                $(this).find('.change-supplier-supplier').css("border", "1px solid #DDDDDD");
                            blank = true
                        } 
                        else {
                            $(this).find('.change-supplier-qty').css("border", "1px solid #DDDDDD");
                            $(this).find('.change-supplier-supplier').css("border", "1px solid #DDDDDD");
                            var poItem= {
                                itemDescription: $(this).children('.change-supplier-itemDesc').text(), 
                                quantity: $(this).find('.change-supplier-qty').val(),
                                unit: $(this).children('.change-supplier-unit').text(),
                                supplier: $(this).find('.change-supplier-supplier').val()
                            }
                            purchaseItems.push(poItem);
                        }
                    });
                    
                    if (!blank) {
                        var purchaseString = JSON.stringify(purchaseItems);  
                        $.post('/saveGeneratePurchaseOrder', {purchaseString}, function(result) {
                            alert("New purchase orders have been created");
                            $('#modal-change-item-supplier').modal('hide');
                        });
                    }
                    else
                        alert("Please fill out the necessary information")
                })

            })
        </script>
    </body>
</html>