<!DOCTYPE html>
<html>
    <head>
        <title> Edit Purchase Order </title>
        <meta name="description" content="View Purchase Order">
        <meta name="keyword" content="Moderna, View Purchase Order">
        <link rel="stylesheet" type="text/css" href="../css/general.css">
        <link rel="stylesheet" type="text/css" href="../css/information.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        <!--<link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>-->

        <link rel="stylesheet" type="text/css" href="../jquery-ui-themes-1.13.0/themes/ui-lightness/jquery-ui.css">
        <script src="../jquery-ui/jquery-ui.min.js"></script>
        
    </head>
    <body>

        <!-- PARTIALS -->
        <div id="navbar"> 
            <div class="navbar-logo"> <img src="../images/Kamuning.png" alt="Kamuning Hardware Logo" width="200" height="65"></div>
            <div class="navbar-logout"> <a href= "login.html">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                    <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                </svg>
            </a>
            </div>
        </div>

        <div class="sidebar">
            <a href="#">Home</a>
            <a href="#">Deliveries</a>
            <a href="#">Customers</a>
        </div>

        <div class="content">
            <div> <!-- ADD FIXED -->
                <div style="display: flex; align-items:center;">
                    <div style="width: 50%"><h1 class="bold"> Purchase Order #{{purchaseInfo.purchaseOrderNumber}}</h1></div>
                    <div class="btn-status">
                        {{#if newPO}}
                            <div><button id="btn-status" style="background-color: #0F84D9;">New</button></div>
                        {{else if released}}
                            <div><button id="btn-status" style="background-color: #F2A154;">Released</button></div>
                        {{else if received}}
                            <div><button id="btn-status" style="background-color: #55B66A;">Received</button></div>
                        {{else if canceled}}
                            <div><button id="btn-status" style="background-color: #E24E3A;">Canceled</button>Canceled</div>
                        {{/if}}
                    </div>
                </div>
            </div> 
            <hr style="margin-top: 0px;">

            <div>
                {{#if released}}
                    <div>
                        <div class="header-colored-bg" style="margin-top: 15px; margin-bottom: 10px">
                            <h3 class ="bold bold header-text">Supplier Details</h3>
                        </div>
                        <div class="label-container">
                            <div class="override-label"> Supplier </div> 
                            <div class="label-content" id="edit-PO-name-content">{{supplier.name}}</div>
                        </div>
                        <div class="label-container">
                            <div class="override-label"> Contact Person </div> 
                            <div class="label-content" id="edit-PO-contact-person-content">{{supplier.contactPerson}}</div>
                        </div>
                        <div class="label-container">
                            <div class="override-label"> Contact Number </div> 
                            <div class="label-content" id="edit-PO-contact-number">{{supplier.number}}</div>
                        </div>

                        <div class="label-container">
                            <div class="override-label"> Address </div> 
                            <div class="label-content" id="edit-PO-address">{{supplier.address}}</div>
                        </div>
                        
                    </div>
                {{/if}}

                {{#if newPO}}
                     <div>
                        <div style="display: flex; align-items: center; padding:10px">
                            <label for="supplierName">Supplier Name</label><input style="" type="text" class="margin-bottom-10 supplierInfoInput" id="supplierName" value="{{supplier.name}}">
                        </div>
                        <div id="no-supplier-error" style="display: none;">
                            <p class="error" id="no-suppler">Supplier does not exist</p>
                            <button class="btn-light-blue" id="add-new-supplier">+ Add New Supplier</button>
                        </div>
                        <div id="change-supplier-error" style="display: none;">
                            <p class="error" style="position: relative; left:15%">Change supplier</p>
                        </div>

                        <div style="display: flex; align-items: center; padding:10px">
                            <label for="contactPerson">Contact Person</label><input type="text" class="margin-bottom-10 supplierInfoInput" id="contactPerson" name="contactPerson" value="{{supplier.contactPerson}}">
                        </div>
                        <div style="display: flex; align-items: center; padding:10px">
                            <label for="contactNumber">Contact Number</label><input type="text" class="margin-bottom-10 supplierInfoInput" id="contactNumber" name="contactNumber" value="{{supplier.number}}">
                        </div>
                        <div style="display: flex; align-items: center; padding:10px">
                            <label for="address">Address</label><input type="text" class="margin-bottom-10 supplierInfoInput" id="Address" name="Address" value="{{supplier.address}}">   
                        </div>
                    </div>
                {{/if}}
                <div class="header-colored-bg" style="margin-top: 15px; margin-bottom: 10px">
                    <h3 class ="bold bold header-text">Order Details</h3>
                </div>

                {{#if newPO}}
                <form>
                    <input style="margin-top: 5px; margin-bottom: 0px; width: 150px; float: left; margin-right: 10px" type="text" class="form-control" id="itemDescription" name="itemDescription" placeholder="Item Description">
                    <input style="margin-top: 5px; margin-bottom: 0px; width: 150px; float: left; margin-right: 10px; text-align: right;" type="number" class="form-control" id="qty" name="qty" placeholder="Qty">
                    <input style="margin-top: 5px; margin-bottom: 0px; float: left; height: 34px; width: 34px; background-color: #0F84D9; border: #0F84D9; border-radius: 7px; color: white;" type="button" id="addItem" name="addItem" value="+">
                </form>
            </div> 

            <!--NEW ITEM MODAL-->
            <div class="modal fade" id="modal-new-item" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLongTitle">New Item</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="add-new-item">
                            <div class="flex-display">
                                <label for="description" class="modal-label">Description</label> 
                                <input id="description" type="text" class="modal-input"><br>
                            </div>
                            <p class="error modal-error" id="error-description" style="margin-top: 3px; margin-bottom: 3px;"></p>

                            <div class="flex-display">
                                <label for="dropdown-category" class="modal-label">Type</label>
                                <select class="dropdown" id="dropdown-category" style="margin-top: 3px; margin-bottom: 5px; height: 30px">
                                    <option value="no-selected" selected>Select Type</option>
                                    {{#each itemCategories}}
                                        <option value={{_id}}>{{category}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <p class="error" id="error-category modal-error" style="margin-top: 3px; margin-bottom: 3px;"></p>

                            <div class="flex-display">
                                <label for="dropdown-unit" class="modal-label">Unit</label>
                                <select class="dropdown" id="dropdown-unit" style="margin-top: 3px; margin-bottom: 5px; height: 30px">
                                    <option value="no-selected" selected>Select Unit</option>
                                    {{#each units}}
                                        <option value={{_id}}>{{unit}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <p class="error modal-error" id="error-unit" style="margin-top: 3px; margin-bottom: 3px;"></p>

                            <div class="flex-display">
                                <label for="reorder-level" class="modal-label">Reorder Level</label>
                                <input id="reorder-level" class="modal-input" type="number" style="text-align: right;"><br>
                            </div>
                            <p class="error modal-error" id="error-reorder-level" style="margin-top: 3px; margin-bottom: 3px;"></p>

                            <div class="flex-display">
                                <label for="EOQ" class="modal-label">EOQ</label> 
                                <input id="EOQ" class="modal-input" type="number" style="text-align: right;"><br>
                            </div>
                            <p class="error modal-error" id="error-EOQ" style="margin-top: 3px; margin-bottom: 3px;"></p>

                            <div class="flex-display">
                                <label for="selling-price" class="modal-label">Selling Price</label> 
                                <input id="selling-price" class="modal-input" type="number" style="text-align: right;"><br>
                            </div>
                            <p class="error modal-error" id="error-selling-price" style="margin-top: 3px; margin-bottom: 3px;"></p>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="modal-btn-grey" data-dismiss="modal">Close</button>
                        <button type="button" class="modal-btn-light-blue" id="btn-add-new-item">Save</button>
                    </div>
                </div>
                </div>
            </div>

            <!--MODAL FOR CHANGING SUPPLIERS--->
            <div class="modal fade" id="modal-change-item-supplier" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLongTitle">Change Item Suppliers</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table id="table-change-item-supplier" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>Item Description</th>
                                    <th>Quantity</th>
                                    <th>Unit</th>
                                    <th>Supplier</th>
                                </tr>
                            </thead>
                            <tbody id="table-change-item-supplier-body">
                            </tbody>
                        </table>  
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="modal-btn-grey" data-dismiss="modal" id="btn-change-supplier-close">Close</button>
                        <button type="button" class="modal-btn-light-blue" id="btn-save-change-item-supplier">Save</button>
                    </div>
                </div>
                </div>
            </div>

             <div style="height: 45px"></div>
                <div class="display-flex" style="margin-top: 10px">
                <div id="div-warning-new-invoice">
                    <button class="btn-light-blue" id="btn-new-item" style="display: none; margin-bottom: 10px;" data-toggle="modal" data-target="#modal-new-item">Add New Item</button>
                    <p id="text-warning-new-PO" class="error" style="display: none;">Item does not exist</p>
                </div> 
            </div>    
            {{/if}}


            <table class="table" id="table-poItem">
                <thead style="background-color: #2F5D62; color: white">
                    <tr>
                        <th>Item Description</th>
                        <th>Quantity</th>
                        <th>Unit</th>
                        <th>Unit Price</th>
                        <th>Received</th>
                        <th>Amount</th>
                        {{#if newPO}}
                        <th></th>
                        {{/if}}
                    </tr>
                </thead>
                <!-- right align qty, received, unit price, amount-->
                <tbody id="table-poItem-body"> 
                    {{#if newPO}}
                        {{#each items}}
                            <tr class="itemRow" >
                                <td class="classItemDescription">{{itemDescription}}</td>
                                <td><input class="classQty" style="text-align: right;" type="number" value="{{quantity}}"></td>
                                <td class="classUnit">{{unitName}}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td> <button class="delete-button delete-item-btn"><img src="../images/delete-icon.png" height="20px" width="15x" alt="Delete"></button> </td>
                            </tr>
                        {{/each}}
                    {{else}}
                        {{#each items}}
                            <tr class="itemRow" >
                                <td class="classItemDescription">{{itemDescription}}</td>
                                <td class="classQty">{{quantity}}</td>
                                <td class="classUnit">{{unitName}}</td>
                                <td><input type="number" class="unitPrice"></td>
                                <td><input type="number" class="quantityReceived"></td>
                                <td class="classAmount">0</td>
                            </tr>
                        {{/each}}
                    {{/if}}
                </tbody>
            </table>

            {{#if released}}
                <input style="margin-top: 5px; margin-bottom: 0px; width: 150px; float: right; text-align: right;" type="number" class="form-control margin-bottom-10" id="total-discount" name="discount" placeholder="Discount"><br><br><br>

                <div class="summary-container">
                    <div class="summary-text">Subtotal</div>
                    <div class="summary-info-container"><div class="summary-info" id="subtotal">₱ 0.00</div></div>
                </div>
                <div class="summary-container">
                    <div class="summary-text">VAT</div>
                    <div class="summary-info-container"><div class="summary-info" id ="vat">₱ 0.00</div></div>
                </div>
                <div class="summary-container">    
                    <div class="summary-text">Discount</div>
                    <div class="summary-info-container"><div class="summary-info" id="discount">₱ 0.00</div></div>
                </div>
                <div class="summary-container">
                    <div class="summary-text">Total</div>
                    <div class="summary-info-container"><div class="summary-info" id="total">₱ 0.00</div></div>
                </div>
            {{/if}}

            <div style="height: 10px"></div>

            <div>
                {{#if newPO}}
                    <div style="display: flex; position: absolute; right:5%">
                        <div class="btn-save-invoice"><button class="btn-light-blue" id="btn-update-new-po" style="margin-bottom: 10px;">Save</button></div>
                        <!--<div class="btn-save-invoice btn-status"><button class="btn-light-blue" id="btn-save-invoice" style="margin-bottom: 10px;" >Receive Items</button></div>-->
                    </div>
                {{else}}
                    <div style="display: flex; position: absolute; right:3%">
                        <div class="btn-save-invoice"><button class="btn-light-blue" id="btn-update-sent-po" style="margin-bottom: 10px">Save</button></div>
                    </div>
                {{/if}}

            </div>
            <!--{{#if newPO}}
                <div class="btn-export-invoice"><button class="btn-dark-blue" id="btn-export-invoice">Export</button></div>
            {{/if}}-->

            <div style="height: 20px"></div>
        </div>

        <script>
             $(document).ready(function(){

                $('#itemDescription').focus(function() {
                    if ($("#supplierName").val() == ""){
                        alert("Please select a supplier first")
                        $('#itemDescription').blur()
                    }
                })

                $("#itemDescription" ).autocomplete({
                    source: function(request, response) {
                    $.ajax({
                                url: `/getItemNamePO?query=${request.term}`,
                                dataType: "json",
                                data: {
                                    //request.term refers to the value currently in the text input
                                    term: request.term,
                                    supplier: $('#supplierName').val()
                                },
                                success: function (data) {
                                    $('#text-warning-new-PO').css('display', 'none')
                                    $("#itemDescription").css("border", "1px solid #DDDDDD");
                                    response(data);
                                }
                         });
                    }, response: function (event, ui) {
                        if (ui.content.length === 0) {
                            $('#btn-new-item').css('display', 'block')
                            $('#text-warning-new-PO').css('display', 'block')
                            $('#addItem').prop('disabled', true)
                        }

                        else {
                            $('#text-warning-new-PO').css('display','none')
                            $('#btn-new-item').css('display', 'none');
                            $('#addItem').prop('disabled', false)
                        }
                    }
                        
                });

                 function filled(itemDesc, qty) {
                    var itemDesc = $('#itemDescription').val();
                    var qty = $('#qty').val();

                    if (itemDesc!="" && qty!="")
                        return 0
                    else if ((itemDesc == "" && qty != "") || (itemDesc == "" && qty == ""))
                        return 1
                    else if (qty == "" && itemDesc !="")
                        return 2
                }

                $("#table-poItem").on('click','.delete-item-btn',function() {
                    $(this).closest('tr').remove();
                });

                $('#addItem').click(function(){
                    var itemDesc = $('#itemDescription').val();
                    var qty = $('#qty').val();

                    //all blanks are filled up
                    if (filled(itemDesc, qty) == 0) {
                        $.get('/getItemUnit', {itemDesc}, function (result) {
                            $('#table-poItem').append(
                            `<tr>
                                <td class="classItemDescription">${itemDesc}</td>
                                <td><input class="classQty" type="number" value="${qty}"</td>
                                <td class="classUnit">${result}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td> <button class="delete-button delete-item-btn"><img src="../images/delete-icon.png" height="20px" width="15x" alt="Delete"></button> </td>
                            </tr>`);

                            $('#itemDescription').val('');
                            $('#qty').val('');
                            $('#text-warning-new-PO').text("");
                        })
                    }
                    //item description is left blank
                    else if (filled(itemDesc, qty) == 1) {
                        $("#itemDescription").css("border", "1px solid #B00000");
                        $('#text-warning-new-PO').text("Input item description");
                    }
                    //quantity is blank
                    else if (filled(itemDesc, qty) == 2) {
                        $("#quantity").css("border", "1px solid #B00000");
                        $('#text-warning-new-PO').text("Input quantity")
                    }
                })

                $("#supplierName").autocomplete({
                    source: function(request, response) {
                    $.ajax({
                                url: `/getSupplierName?query=${request.term}`,
                                dataType: "json",
                                data: {
                                    //request.term refers to the value currently in the text input
                                    term: request.term
                                },
                                success: function (data) {
                                    $('#no-supplier-error').css('display', 'none')
                                    $('#change-supplier-error').css('display', 'none')
                                    $("#supplierName").css("border", "1px solid #DDDDDD");
                                    response(data);
                                }
                         });
                    }, response: function (event, ui) {
                        if (ui.content.length === 0) {
                            $('#no-supplier-error').css('display', 'block')
                            $('#btn-update-new-po').prop('disabled', true)
                            $('#btn-update-new-po').css("background-color", "#b3b3b3");
                        }
                        else {
                            $('#no-supplier-error').css('display', 'none')
                            $('#btn-update-new-po').prop('disabled', false)
                            $('#btn-update-new-po').css("background-color", "#0F84D9")  
                        }
                    }, select: function(event, ui) {
                        var supplierName = ui.item.label;
                        $.get('/getSupplierInformation', {supplierName}, function(result) {
                            $('#contactPerson').val(result.contactPerson);
                            $('#number').val(result.number);
                            $('#address').val(result.address)
                        })

                        var forceBreak = false


                        $("#table-poItem-body > tr").each(function () {
                            var itemDesc = $(this).children('.classItemDescription').text()
                            $.ajax({
                                type:"GET",
                                url: '/isSold',
                                data: {supplierName, itemDesc},
                                async: false
                            }).done(function(result) {
                                if (result == "not sold") 
                                    forceBreak= true
                            })
                        });

                        var proceed = false
                        if (forceBreak) {
                            if (confirm("Some items are not offered by this supplier. These items will be removed from this purchase order and be placed in a separate purchase order. Do you wish to proceed"))
                                proceed = true
                            else {
                                $('#btn-update-new-po').prop('disabled', true)
                                $('#btn-update-new-po').css("background-color", "#b3b3b3");
                                proceed = false
                            }
                        }

                        //new po will be created for items that are not sold by the supplier
                        if (proceed) {
                            var newPOItems = []

                            $("#table-poItem-body > tr").each(function () {
                                var itemDesc = $(this).children('.classItemDescription').text()
                                var qty = $(this).find('.classQty').val();
                                var unit = $(this).children('.classUnit').text()
                                var row = $(this)

                                $.get('/isSold', {supplierName, itemDesc}, function(result) {
                                    if (result == "not sold") {

                                        row.remove();
                                        $('#table-change-item-supplier-body').append(
                                            `<tr>
                                                <td class="change-supplier-itemDesc">${itemDesc}</td>
                                                <td><input class="change-supplier-qty" style="text-align: right;" value=${qty} style="width:70px"></td>
                                                <td class="change-supplier-unit">${unit}</td>
                                                <td><select class="change-supplier-supplier" style="height: 27px">
                                                    <option value="no-selected">--Select Supplier--</option>
                                                </select></td>
                                            </tr>`)

                                        $.ajax({
                                            type:"GET",
                                            url: '/getItemSuppliers',
                                            data: {itemDesc},
                                            async: false
                                        }).done(function(result) {
                                            var lastRow = $('#table-change-item-supplier-body tr:last').find('.change-supplier-supplier')

                                            for (var i=0; i<result.length; i++) {
                                                $(lastRow).append(
                                                    `<option value="${result[i].id}">${result[i].name}</option>
                                                    `)
                                            }
                                        })
                                    }
                                })
                            })
                            $('#modal-change-item-supplier').modal('show')
                        }
                    }
                });

                function supplierFilled() {
                    var supplierName = $('#supplierName').val();
                    var contactPerson = $('#contactPerson').val();
                    var contactNumber = $('#contactNumber').val();
                    var address = $('#address').val();

                    if (supplierName!="" && contactPerson!="" && contactNumber!="" && address!="" ) {
                        $('#supplierName').css("border", "1px solid #DDDDDD");
                        $('#contactPerson').css("border", "1px solid #DDDDDD");
                        $('#contactNumber').css("border", "1px solid #DDDDDD");
                        $('#address').css("border", "1px solid #DDDDDD");
                        return true;
                    }

                    else {
                        if (supplierName == "")
                            $('#supplierName').css("border", "2px solid #B00000");
                        else
                            $('#supplierName').css("border", "1px solid #DDDDDD");

                        if (contactPerson == "")
                            $('#contactPerson').css("border", "2px solid #B00000");
                        else
                            $('#contactPerson').css("border", "1px solid #DDDDDD");

                        if (contactNumber == "")
                            $('#contactNumber').css("border", "2px solid #B00000");
                        else
                            $('#contactNumber').css("border", "1px solid #DDDDDD");

                        if (address == "")
                            $('#address').css("border", "2px solid #B00000");
                        else
                            $('#address').css("border", "1px solid #DDDDDD");

                        return false;
                    }
                }

                function itemFilled() {
                    var allFilled = true 
                    $("#table-poItem-body > tr").each(function () {
                        if ($(this).find('.classQty').val() == "") {
                            $(this).find('.classQty').css("border", "2px solid #B00000");
                            allFilled = false
                        }
                        else
                            $(this).find('.classQty').css("border", "1px solid #DDDDDD");
                    })
                    return allFilled
                }

                //---------UPDATE FOR NEW PO----------- change supplier, add items, delete items
                $('#btn-update-new-po').click(function(){
                    var address = window.location.pathname.split('/');
                    var poID = address[address.length -1]
                    var poItems = []

                    if (supplierFilled() && itemFilled()) {
                        $("#table-poItem-body > tr").each(function () {
                            var poItem= {
                                itemDesc: $(this).children('.classItemDescription').text(), 
                                quantity: $(this).find('.classQty').val(),
                                unit: $(this).children('.classUnit').text()
                            }
                            poItems.push(poItem);
                        });

                        var itemsString = JSON.stringify(poItems);  
                        var supplierName = $('#supplierName').val()
                        $.post('/updatePOItems', {poID, itemsString, supplierName}, function(result) {
                            alert("PO updated");
                            window.location = `/purchaseOrder/${poID}`;
                        });
                    }
                    else
                        alert("Please fill out the necessary information");
                })

                function computeTotal() {
                    var overallTotal =0
                    $("#table-poItem-body > tr").each(function () {
                        overallTotal += parseFloat($(this).children('.classAmount').text());
                    });
                    var discountPercent = $('#total-discount').val() 
                    var discount = overallTotal*(discountPercent/100)
                    overallTotal -= discount;

                    var subtotal = overallTotal/1.12
                    var vat = overallTotal - subtotal
                    $('#subtotal').text("₱ " + subtotal.toFixed(2))
                    $('#vat').text("₱ " + vat.toFixed(2))
                    $('#discount').text("₱ " +  discount.toFixed(2))
                    $('#total').text("₱ " + overallTotal.toFixed(2))
                }

                $('#total-discount').keyup(function() {
                    computeTotal()
                })

                $('.unitPrice').keyup(function() {
                    var row = $(this).closest('.itemRow');

                    var unitPrice = row.find('.unitPrice').val()
                    if (unitPrice == '')
                        unitPrice = 0

                    var quantityReceived = row.find('.quantityReceived').val()
                    if (quantityReceived == '')
                        quantityReceived = 0

                    var amount = parseFloat(quantityReceived) * parseFloat(unitPrice)
                    row.find('.classAmount').html(amount)

                    computeTotal();
                })

                $('.quantityReceived').keyup(function() {
                    var row = $(this).closest('.itemRow');

                    var unitPrice = row.find('.unitPrice').val()
                    if (unitPrice == '')
                        unitPrice = 0

                    var quantityReceived = row.find('.quantityReceived').val()
                    if (quantityReceived == '')
                        quantityReceived = 0

                    var amount = parseInt(quantityReceived) * parseFloat(unitPrice)
                    row.find('.classAmount').html(amount)

                    computeTotal()
                })

                //--=====-----UPDATE FOR SENT PO-------------------- -- update price, quantity received, total of po
                $('#btn-update-sent-po').click(function() {
                    var address = window.location.pathname.split('/');
                    var poID = address[address.length -1]
                    var poItems = []
                    var proceed=true;
                    var asked = false

                    $("#table-poItem-body > tr").each(function () {
                        if (($(this).find('.unitPrice').val() == "" || $(this).find('.quantityReceived').val() == "") && !proceed && !asked) {
                            if (confirm("Some items do not have a price or quantity received. A new PO will be created for these items. Do you wish to proceed.")) {
                            }
                            else {
                                asked = true
                                proceed = false
                                if ($(this).find('.unitPrice').val() == "") 
                                    $(this).find('.unitPrice').css("border", "2px solid #B00000");
                                if ($(this).find('.quantityReceived').val() == "")
                                    $(this).find('.quantityReceived').css("border", "2px solid #B00000");
                            }
                        }
                    })

                    if(proceed) {
                         $("#table-poItem-body > tr").each(function () {
                            var poItem= {
                                itemDesc: $(this).children('.classItemDescription').text(), 
                                quantity: $(this).children('.classQty').text(),
                                unit: $(this).children('.classUnit').text(),
                                price: $(this).find('.unitPrice').val(),
                                amount: $(this).children('.classAmount').text(),
                                quantityReceived: $(this).find('.quantityReceived').val()
                            }
                            poItems.push(poItem);
                        });
                        var itemsString = JSON.stringify(poItems);  
                        var subtotal = parseFloat($('#subtotal').text().slice(1));
                        var vat = parseFloat($('#vat').text().slice(1));
                        var total = parseFloat($('#total').text().slice(1));
                        var discount = parseFloat($('#discount').text().slice(1))
                        $.post('/updatePOWithPrice', {poID, itemsString, discount, subtotal, vat, total}, function(result) {
                            alert("PO updated");
                            window.location = "/purchaseOrders";
                        });
                    }
                })

                $('#btn-change-supplier-close').click(function(result) {
                    $('#table-change-item-supplier-body').each(function() {
                        var itemDesc = $(this).find('.change-supplier-itemDesc').text()
                        var qty = $(this).find('.change-supplier-qty').val()
                        var unit = $(this).find('.change-supplier-unit').text();
                        $('#table-poItem').append(`
                            <tr>
                                <td class="classItemDescription">${itemDesc}</td>
                                <td><input class="classQty" style="text-align: right;" type="number" value="${qty}"</td>
                                <td class="classUnit">${unit}</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td> <button class="delete-button delete-item-btn"><img src="../images/delete-icon.png" height="20px" width="15x" alt="Delete"></button> </td>
                            </tr>`)
                        $(this).remove();
                        $('#btn-update-new-po').prop('disabled',true)
                        $('#supplierName').css("border", "2px solid #B00000")
                        $('#change-supplier-error').css('display', 'block')
                        $('#btn-update-new-po').prop('disabled', true)
                        $('#btn-update-new-po').css("background-color", "#b3b3b3");
                    })
                })

                $('#btn-save-change-item-supplier').click(function(result){
                    var purchaseItems = []
                    var blank = false
                    $("#table-change-item-supplier-body > tr").each(function () {
                        if ($(this).find('.change-supplier-qty').val() == "" || $(this).find('.change-supplier-supplier').val() == "no-selected") {
                            if ($(this).find('.change-supplier-qty').val() == "") 
                                $(this).find('.change-supplier-qty').css("border", "2px solid #B00000");
                            else
                                $(this).find('.change-supplier-qty').css("border", "1px solid #DDDDDD");
                                    
                            if ($(this).find('.change-supplier-supplier').val() == "no-selected") 
                                 $(this).find('.change-supplier-supplier').css("border", "2px solid #B00000");
                            else
                                $(this).find('.change-supplier-supplier').css("border", "1px solid #DDDDDD");
                            blank = true
                        } 
                        else {
                            $(this).find('.change-supplier-qty').css("border", "1px solid #DDDDDD");
                            $(this).find('.change-supplier-supplier').css("border", "1px solid #DDDDDD");
                            var poItem= {
                                itemDescription: $(this).children('.change-supplier-itemDesc').text(), 
                                quantity: $(this).find('.change-supplier-qty').val(),
                                unit: $(this).children('.change-supplier-unit').text(),
                                supplier: $(this).find('.change-supplier-supplier').val()
                            }
                            purchaseItems.push(poItem);
                        }
                    });
                    
                    if (!blank) {
                        var purchaseString = JSON.stringify(purchaseItems);  
                        $.post('/saveGeneratePurchaseOrder', {purchaseString}, function(result) {
                            alert("New purchase orders have been created");
                            $('#modal-change-item-supplier').modal('hide');
                        });
                    }
                    else
                        alert("Please fill out the necessary information")
                })


                //STUFF FOR ADDING NEW ITEM FROM PO
                function capitalize(string){
                    var words = string.toLowerCase().split(' ');
                    for (i=0; i<words.length; i++)
                        words[i] = words[i].charAt(0).toUpperCase() + words[i].substring(1);
                    return words.join(' ');
                }

                // INPUT VALIDATION

                function descriptionValidation(description) {
                    if (description == null || description == "") {
                        errorMessage("description");
                        return 1;
                    }
                    else 
                        return 0;
                }

                function typeValidation(type) {
                    if (type == "no-selected") {
                        errorMessage("type");
                        return 1;
                    }
                    else 
                        return 0;
                }

                function unitValidation(unit) {
                    if (unit == "no-selected") {
                        errorMessage("unit");
                        return 1;
                    }
                    else 
                        return 0;
                }

                function reorderLevelValidation(reorderLevel) { 
                    if (reorderLevel == null || reorderLevel == "") {
                        errorMessage("reorderLevel");
                        return 1;
                    } else if (parseFloat(reorderLevel) <= 0) {
                        errorMessage("reorderLevelInvalidNum");
                        return 1;
                    }
                    else 
                        return 0;
                }

                function EOQValidation(EOQ) { 
                    if (EOQ == null || EOQ == "") {
                        errorMessage("EOQ");
                        return 1;
                    } else if (parseFloat(EOQ) <= 0) {
                        errorMessage("EOQInvalidNum");
                        return 1;
                    }
                    else 
                        return 0;
                }

                function sellingPriceValidation(price) {
                    if (price == null || price == "") {
                        errorMessage("sellingPrice");
                        return 1;
                    }
                    else 
                        return 0;
                }

                function errorMessage(type) {
                    if (type == "description") {
                        $("#description").css("border", "1px solid #B00000");
                        $("#error-description").text("Please enter an Item Description.");
                    } else if (type == "type") {
                        $("#dropdown-category").css("border", "1px solid #B00000");
                        $("#error-category").text("Please select a Type.");
                    } else if (type == "unit") {
                        $("#dropdown-unit").css("border", "1px solid #B00000");
                        $("#error-unit").text("Please select a Unit.");
                    } else if (type == "reorderLevel") {
                        $("#reorder-level").css("border", "1px solid #B00000");
                        $("#error-reorder-level").text("Please enter a Reorder Level.");
                    } else if (type == "reorderLevelInvalidNum") {
                        $("#reorder-level").css("border", "1px solid #B00000");
                        $("#error-reorder-level").text("Invalid Reorder Level.");
                    } else if (type == "EOQ") {
                        $("#EOQ").css("border", "1px solid #B00000");
                        $("#error-EOQ").text("Please enter an EOQ.");
                    } else if (type == "EOQInvalidNum") {
                        $("#EOQ").css("border", "1px solid #B00000");
                        $("#error-EOQ").text("Invalid EOQ.");
                    } else if (type == "sellingPrice") {
                        $("#selling-price").css("border", "1px solid #B00000");
                        $("#error-selling-price").text("Please enter a Selling Price.");
                    } 
                }

                function resetErrorMessage() {
                    $("#description").css("border", "1px solid #DDDDDD");
                    $("#error-description").text("");
                    $("#dropdown-category").css("border", "1px solid #DDDDDD");
                    $("#error-category").text("");
                    $("#dropdown-unit").css("border", "1px solid #DDDDDD");
                    $("#error-unit").text("");
                    $("#reorder-level").css("border", "1px solid #DDDDDD");
                    $("#error-reorder-level").text("");
                    $("#EOQ").css("border", "1px solid #DDDDDD");
                    $("#error-EOQ").text("");
                    $("#selling-price").css("border", "1px solid #DDDDDD");
                    $("#error-selling-price").text("");
                }

                 $('#description').keyup(function () { 
                    resetErrorMessage();

                    // Get value 
                     var description = capitalize($('#description').val());

                    // Check if dish name exists 
                    $.get("/getCheckItemDescription", {itemDescription: description}, function (result) {
                        if (result.itemDescription == description) {
                            //alert("same");
                            $("#description").css("border", "1px solid #B00000");
                            $("#error-description").text("Item Description already taken.");
                            $("#btn-add-new-item").prop("disabled", true);
                            $("#btn-add-new-item").css("background-color", "#b3b3b3");
                        } else {
                            $("#description").css("border", "1px solid #DDDDDD");
                            $("#error-description").text("");
                            $("#btn-add-new-item").prop("disabled", false);
                            $("#btn-add-new-item").css("background-color", "#0F84D9");
                        }
                    });
                });

                $('#dropdown-category').change(function() {
                    resetErrorMessage();
                })

                $('#dropdown-unit').change(function() {
                    resetErrorMessage();
                })

                $('#reorder-level').keyup(function () { 
                    resetErrorMessage();
                });

                $('#EOQ').keyup(function () { 
                    resetErrorMessage();
                });

                $('#selling-price').keyup(function () { 
                    resetErrorMessage();
                });


                function checkAll(description, category, unit, reorderLevel, EOQ, sellingPrice) {
                    descriptionValidation(description);
                    typeValidation(category);
                    unitValidation(unit);
                    reorderLevelValidation(reorderLevel);
                    EOQValidation(EOQ);
                    sellingPriceValidation(sellingPrice);
                }

                $('#btn-add-new-item').click(function() {
                    var description = capitalize($('#description').val());
                    var category = $('#dropdown-category').val();
                    var categoryText = $('#dropdown-category option:selected').text();
                    var unit = $('#dropdown-unit').val();
                    var unitText = $('#dropdown-unit option:selected').text();
                    var reorderLevel = $('#reorder-level').val();
                    var EOQ = $('#EOQ').val();
                    var sellingPrice = $('#selling-price').val();

                    checkAll(description, category, unit, reorderLevel, EOQ, sellingPrice);

                    if (!descriptionValidation(description) && !typeValidation(category) && !unitValidation(unit) && !reorderLevelValidation(reorderLevel) && !EOQValidation(EOQ)  && !sellingPriceValidation(sellingPrice)) {

                        // remove texts and red borders
                        resetErrorMessage();

                        $.post('/postNewItem', {description, category, categoryText, unit, unitText, reorderLevel, EOQ, sellingPrice}, function (updatedItem) {
                            var sellingPrice = parseFloat(updatedItem.sellingPrice).toFixed(2)

                            $('#table-inventory').find('tbody').append(
                                `  <tr class="link" style="cursor: pointer" data-href="/inventory/${updatedItem._id}"> 
                                        <td>${updatedItem.itemDescription}</td> 
                                        <td value="${updatedItem.categoryID}" class="category-id">${updatedItem.category}</td>
                                        <td style="text-align: right;">${updatedItem.quantityAvailable}</td> 
                                        <td class="unit-id" >${updatedItem.unit}</td> 
                                        <td style="text-align: right;">₱ ${sellingPrice}</td> 
                                        <td><button class="btn-status btn-low status-id" value="${updatedItem.statusID}">Low Stock</button></td>
                                    </tr>`
                            );
                        })

                        $('#modal-new-item').modal('hide');
                        $('#add-new-item').trigger('reset');
                    }
                })
            })
        </script>
    </body>
</html>