<!DOCTYPE html>
<html>
    <head>
        <title> Edit Item Suppliers - {{itemName}} </title>
        <meta name="description" content="Edit Item Suppliers">
        <meta name="keyword" content="Moderna, Edit Item Suppliers">
        <link rel="stylesheet" type="text/css" href="../css/general.css">
        <link rel="stylesheet" type="text/css" href="../css/information.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        
    </head>
    <body>

        {{> logoutPartial }}

        {{#if inventoryAndPurchasing}}
            {{> inventoryAndPurchasingPartial }}
        {{/if}}

        {{#if manager}}
            {{> managerPartial }}
        {{/if}}

        <div class="content">
            <div style="display: flex;">
                <h1 class="bold"> Edit Item Suppliers - {{itemName}}</h1>
            </div>

            <hr style="margin-top: 0px;">

            <form id="new-supplier">
                <p id="item-ID" style="display: none;">{{itemID}}</p>
                <select class="form-control" id="dropdown-supplier" style="margin-top: 5px; margin-bottom: 0px; width: 200px; float: left; margin-right: 10px">
                    <option value="no-selected" selected>Select Supplier</option>
                    {{#each suppliers}}
                            <option value={{_id}}>{{name}}</option>
                    {{/each}}
                </select>
                <select class="form-control" id="dropdown-unit" style="margin-top: 5px; margin-bottom: 0px; width: 200px; float: left; margin-right: 10px">
                    <option value="no-selected">Select Unit</option>
                    {{#each units}}
                        <option value={{_id}}>{{unit}}</option>
                    {{/each}}
                </select>
                <input style="margin-top: 5px; margin-bottom: 0px; float: left; height: 34px; width: 34px; background-color: #0F84D9; border: #0F84D9; border-radius: 7px; color: white;" type="button" id="add-supplier" name="add-supplier" value="+">
            </form>
            
            <div style="height: 45px"></div>

            <p class="error" id="error-supplier" style="margin-bottom: 5px;"></p>
            <p class="error" id="error-unit" style="margin-bottom: 5px;"></p>


            <table class="table" id="table-suppliers">
                <thead class="table-regular-head">
                    <tr>
                        <th>Name</th>
                        <th>Unit</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="table-suppliers-body"> 
                    {{#each itemSuppliers}}
                        <tr>
                            <td class="supplierName">{{supplierName}}</td>
                            <td class="unit">{{unit}}</td>
                            <td style="text-align: right;"><button class="delete-button"><img src="../images/delete-icon.png" height="20px" width="15x" alt="Delete"></button></td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>

             <div>
                <div style="display: flex;">
                    <div style="width: 50%"><div class="btn-cancel-invoice"><a href = "/inventory/{{itemID}}"><button class="btn-light-grey" id="btn-cancel-edit-item-suppliers" style="margin-bottom: 10px;">Cancel</button></a></div></div>
                    <div class="btn-save-invoice btn-status"><button class="btn-light-blue" id="btn-save-edit-item-suppliers" style="margin-bottom: 10px;" >Save</button></div>
                 </div>
            </div>
        </div>

        <script>
            $(document).ready(function() {

                $("#table-suppliers").on('click','.delete-button',function() {
                    var address = window.location.pathname.split('/');
                    var itemID = address[address.length -1]

                    var row = $(this).closest('tr');
                    var supplierName = row.find('.supplierName').text();
                    var unit = row.find('.unit').text();

                    $.get('/checkForPendingPOInventory', {itemID, supplierName, unit}, function(result) {
                        if (result == false)
                            row.remove();
                        else
                            alert("Cannot remove supplier. There are currently pending purchase orders");
                    })
                });

                function supplierValidation(supplierVal, unit, supplierName) {
                    var found = false;

                    if (supplierVal == "no-selected") {
                        errorMessage("no-selected");
                        return 1;
                    } else {
                        $("#table-suppliers-body > tr").each(function () {
                            if (supplierName == $(this).children('.supplierName').text() && unit == $(this).children('.unit').text())
                                found = true;
                        });

                        if (found) {
                            errorMessage("in-list");
                            return 1;
                        } else {
                            return 0;
                        }
                    }
                }

                function unitValidation(unit) {
                    if (unit == "no-selected") {
                        errorMessage('no-unit')
                        return 1;
                    }
                    else
                        return 0;
                }

                $('#dropdown-supplier').change(function() {
                    resetErrorMessage();
                })

                $('#dropdown-unit').change(function() {
                    resetErrorMessage()
                })

                function resetErrorMessage () {
                    $("#dropdown-supplier").css("border", "1px solid #DDDDDD");
                    $("#error-supplier").text("");
                    $("#dropdown-unit").css("border", "1px solid #DDDDDD");
                    $("#error-unit").text("");
                }

                function errorMessage(type) {
                    if (type == "no-selected") {
                        $("#dropdown-supplier").css("border", "1px solid #B00000");
                        $("#error-supplier").text("Please select a Supplier.");
                    } else if (type == "no-unit") {
                        $("#dropdown-unit").css("border", "1px solid #B00000");
                        $("#error-unit").text("Please select a Unit.");
                    }else if (type == "in-list") {
                        $("#dropdown-supplier").css("border", "1px solid #B00000");
                        $("#error-supplier").text("Supplier already selected.");
                    }
                }

                $('#add-supplier').click(function() {
                    var supplierName = $('#dropdown-supplier option:selected').text();
                    var supplierVal = $('#dropdown-supplier').val();
                    var unitID = $('#dropdown-unit').val()
                    var unit = $("#dropdown-unit option:selected").text();

                    if (!supplierValidation(supplierVal,unit, supplierName) && !unitValidation(unitID)) {
                        //resetErrorMessage();

                        $('#table-suppliers').find('tbody').append(
                            `  <tr> 
                                    <td class="supplierName">${supplierName}</td>
                                    <td class="unit">${unit}</td>
                                    <td style="text-align: right;"><button class="delete-button"><img src="../images/delete-icon.png" height="20px" width="15x" alt="Delete"></button></td>
                                </tr>`
                        );

                        $('#new-supplier').trigger('reset');
                    }
                });

                $('#btn-save-edit-item-suppliers').click(function() {
                    var itemID = $('#item-ID').text();
                    var supplierInfos = [];

                      $("#table-suppliers-body > tr").each(function () {
                        var supplierInfo = {
                            supplierName: $(this).children('.supplierName').text(),
                            unit: $(this).children('.unit').text()
                        }
                        supplierInfos.push(supplierInfo);
                    });

                    $('#new-supplier').trigger('reset');

                     var JSONsupplierInfos = JSON.stringify(supplierInfos);
                     $.ajax({
                            url: "/updateItemSuppliers",              
                            type: "POST",
                            data: {JSONsupplierInfos, itemID},
                            async: false,
                            success: function(result){
                                if(result.redirect != null){
                                    alert('Successfully updated Item Suppliers')
                                    window.location = result.redirect;
                                }
                            }
                    });    
                });
            }) 
        </script>
    </body>
</html>