<!DOCTYPE html>
<html>
    <head>
        <title> Employee Information </title>
        <meta name="description" content="Employee Information">
        <meta name="keyword" content="Moderna, Employee Information">
        <link rel="stylesheet" type="text/css" href="../css/general.css">
        <link rel="stylesheet" type="text/css" href="../css/information.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        
    </head>
    <body>

        {{> logoutPartial }}

        {{> managerPartial }}

        <div class="content">
            <br>
            <h1 class="bold">{{employeeInfo.name}}</h1> 
            <hr>
            <div style= "margin-top: 20px;">
                <div>
                    <div class="label-container">
                        <div class="override-label">Username</div> 
                        <div class="label-content">{{employeeInfo.username}}</div>
                    </div>
                    <div class="label-container">
                        <div class="override-label">Position</div> 
                        <div class="label-content" id="employee-position">{{employeeInfo.positionName}}</div>
                    </div>
                    <div class="label-container">
                        <div class="override-label">Contact Number</div> 
                        <div class="label-content">{{employeeInfo.number}}</div>
                    </div>
                </div>

                <div style="height: 10px"></div>
                   
                <div class="btn-edit-details"><button id="btn-edit-details" data-toggle="modal" data-target="#modal-update-employee">Edit Details</button></div>

                 <!-- Modal -->
                <div class="modal fade" id="modal-update-employee" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="exampleModalLongTitle">Edit Employee Information</h3>
                            <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>-->
                        </div>
                        <div class="modal-body">
                            <form id="update-employee">
                                <!--<label for="employee-name">Employee Name</label> <input id="employee-name" type="text" value="{{employeeInfo.name}}"><br>
                                <p class="error" id="error-employee-name" style="margin-top: 3px; margin-bottom: 3px;"></p>-->
                                <div class="flex-display">
                                    <label for="employee-username" class="modal-label">Username</label> 
                                    <input id="employee-username" class="modal-input form-control" type="text" value="{{employeeInfo.username}}"><br>
                                </div>
                                <p class="error modal-error" id="error-employee-username"></p>
                                
                                <div class="flex-display">
                                    <label for="employee-password" class="modal-label">Password</label> 
                                    <input id="employee-password" class="modal-input form-control" type="text"><br>                            
                                </div>
                                <p class="error modal-error" id="error-employee-password"></p>
                                
                                <div class="flex-display">
                                    <label for="Contact-number" class="modal-label">Contact Number</label> 
                                    <input id="contact-number" class="modal-input form-control" type="number" value="{{employeeInfo.number}}"><br> 
                                </div>                           
                                <p class="error modal-error" id="error-contact-number"></p>
                                
                                <div class="flex-display">
                                    <label for="dropdown-employee-position" class="modal-label">Position</label> 
                                    <select class="form-control" id="dropdown-employee-position">
                                        <option value="no-selected">--Select Position--</option>
                                        {{#each positions}}
                                            <option value="{{_id}}">{{position}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <p class="error modal-error" id="error-employee-position"></p>
                                <br>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button id="btn-delete-employee" class="modal-btn-red" style="float:left">Delete</button>
                             <button type="button" class="modal-btn-grey" data-dismiss="modal" id="btn-change-supplier-close">Close</button>
                            <button type="button" class="modal-btn-light-blue" id="btn-update-employee">Save</button>
                        </div>
                    </div>
                    </div>
                </div>

                <div style="height: 50px"></div>

               <!-- <div class="label-big-container"> 
                    <div class="label-wide">
                        <div class="navbar-logo">Notes</div>
                        <div class="notes-pencil">MAKE INTO A BUTTON-
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                            </svg>
                        </div>
                    </div>
                    <div class="label-wide-content"></div>
                </div>--> 
            </div>
        </div>

        <script>
            $(document).ready(function() {

                var position = $('#employee-position').text();
                $("#dropdown-employee-position option:contains(" + position + ") ").attr('selected', 'selected');

                function capitalize(string){
                    var words = string.toLowerCase().split(' ');
                    for (i=0; i<words.length; i++)
                        words[i] = words[i].charAt(0).toUpperCase() + words[i].substring(1);
                    return words.join(' ');
                };

                /*$('#employee-name').keyup(function() {
                    var name = capitalize($('#employee-name').val())
                    $.get('/getCheckEmployeeName', {name:name}, function(result) {
                        if (result.name == name) {
                            $('#employee-name').css("border", "1px solid #B00000");
                            $('#error-new-employee-name').text("Employee information already exists");
                            $('#btn-update-employee').prop('disasbled', true);
                            $('#btn-update-employee').css("background-color", "#b3b3b3");
                        }
                        else {
                            $("#employee-name").css("border", "1px solid #DDDDDD");
                            $('#error-new-employee-username').text("");
                            $('#btn-update--employee').prop('disasbled', false);
                            $("#btn-update--employee").css("background-color", "#0F84D9");
                        }
                    })
                })*/

                $('#employee-username').keyup(function() {
                    var username = $('#employee-username').val();
                    $.get('/getCheckEmployeeUsername', {username:username}, function(result) {
                        if (result.username == username) {
                            $('#employee-username').css("border", "1px solid #B00000");
                            $('#error-employee-name').text("Username is already taken");
                            $('#btn-add-new-employee').prop('disasbled', true);
                            $('#btn-add-new-employee').css("background-color", "#b3b3b3");
                        }
                        else {
                            $("#employee-name").css("border", "1px solid #DDDDDD");
                            $('#error-employee-name').text("");
                            $('#btn-add-new-employee').prop('disasbled', false);
                            $("#btn-add-new-employee").css("background-color", "#0F84D9");
                        }
                    })
                })


                function errorMessage(type) {
                    /*if (type == "noName") {
                        $('#employee-name').css("border", "1px solid #B00000");
                        $('#error-employee-name').text("Please input employee name");
                    } */
                    if (type == "noUsername") {
                        $('#employee-username').css("border", "1px solid #B00000");
                        $('#error-employee-username').text("Please input employee username");
                    } 
                    else if (type == "noNumber") {
                        $('#contact-number').css("border", "1px solid #B00000");
                        $('#error-contact-number').text("Invalid contact number");
                    }
                    else if (type == "noPosition") {
                        $('#error-employee-position').text("Choose employee position");
                    }
                    
                }

                /*function employeeNameValidation(name) {
                    if (name == null || name == "") {
                        errorMessage("noName")
                        return 1;
                    }
                    else 
                        return 0;
                }   */

                function employeeUsernameValidation(username) {
                    if (username == null || username == "") {
                        errorMessage("noUsername")
                        return 1;
                    }
                    else 
                        return 0;
                }  

                function numberValidation(number) {
                    if (number == 0 || number < 0) {
                        errorMessage("noNumber")
                        return 1;
                    }
                    else 
                        return 0;
                }     

                function positionValidation(position) {
                    if (position == "no-selected") {
                        errorMessage("noPosition")
                        return 1;
                    }
                    else 
                        return 0;
                }


                $('#btn-update-employee').click(function() {
                    var address = window.location.pathname.split('/');
                    var employeeID = address[address.length -1]

                    //var name = capitalize($('#employee-name').val());
                    var username = $('#employee-username').val();
                    var password = $('#employee-password').val();
                    var number = $('#contact-number').val();
                    var position = $('#dropdown-employee-position').val()

                    if (/*!employeeUsernameValidation(username) && */!numberValidation(number) && !positionValidation(position)) {

                            //$('#employee-name').css("border", "1px solid #DDDDDD");
                            $('#employee-username').css("border", "1px solid #DDDDDD");
                            $('#password').css("border", "1px solid #DDDDDD");
                            $('#contact-number').css("border", "1px solid #DDDDDD");
                            $('#position').css("border", "1px solid #DDDDDD");

                            //$('#error-employee-name').text("");
                            $('#error-employee-username').text("");
                            $('#error-employee-password').text("");
                            $('#error-contact-number').text("");
                            $('#error-employee-position').text("");

                            $.post('/postUpdateEmployeeInformation', {employeeID, username, password, number, position}, function (result) {
                                $('#modal-update-employee').modal('hide');
                                $('#update-employee').trigger('reset');
                                alert("Succesfully updated employee information!");
                                window.location.replace(`/employee/${result}`)
                            })
                                
                                
                    }
                })

                $('#btn-delete-employee').click(function() {
                    var employeeID = $('#employeeID').text();
                    if (confirm("Are you sure you want to remove this employee?")) {
                        $.post('/deleteEmployee', {employeeID});
                        alert("Employee information was deleted");
                        window.location.replace("/employees")
                    }
                    else { }

                })
            })

        </script>
    </body>
</html>