<!DOCTYPE html>
<html>
    <head>
        <title> Purchase Orders </title>
        <meta name="description" content="Purchase Order List">
        <meta name="keyword" content="Moderna, Purchase Order List">
        <link rel="stylesheet" type="text/css" href="../css/general.css">
        <link rel="stylesheet" type="text/css" href="../css/list.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        <link rel="stylesheet" type="text/css" href="../jquery-ui-themes-1.13.0/themes/ui-lightness/jquery-ui.css">
        <script src="../jquery-ui/jquery-ui.min.js"></script>
    </head>
    <body>

        {{> logoutPartial }}

        {{#if inventoryAndPurchasing}}
            {{> inventoryAndPurchasingPartial }}
        {{/if}}

        {{#if manager}}
            {{> managerPartial }}
        {{/if}}

        <div class="content">        
            <div class="fixed-div">
                <h1 class="bold" style="padding-bottom: 10px;"> Generate Purchase Order </h1>
                <div> 
                    <h3 class ="bold">Low Stock</h3>
                    <div style="height: 10px"></div>
                </div>
            </div>

                <table class="table">
                    <thead class="table-head">
                        <tr>
                            <th>Item Description</th>
                            <th style="width: 100px;">Supplier</th>
                            <th>Quantity</th>
                            <th>Unit</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="table-purchase-stocks-body"> 
                        <!-- right align qty -->
                        {{#each items}}
                            <tr>
                                <td class="itemDescription">{{itemDescription}}</td>
                                <td class="supplier">
                                    <select class="dropdown dropdown-supplier">
                                        <option value="no-selected">--Select Supplier--</option>
                                        {{#each suppliers}}
                                            <option value="{{_id}}">{{name}}</option>
                                        {{/each}}
                                    </select>
                                </td>
                                <td><input value="{{EOQ}}" class="quantity" style="text-align: right;"></td>
                                <td class="unit">{{unit}}</td>
                                <td style="width:400px">
                                    <input style="float: left; height: 34px; width: 34px; border-radius: 7px; color: white; display: block;" type="button" class="btn-dark-blue btn-add-item-supplier" name="addSupplier" value="+">

                                    <div class="div-add-item-supplier" style="display:none;">
                                        <input type="text" class="add-item-supplier" placeholder="Supplier Name" style="margin-right: 30px;">
                                        <button class="btn-save-item-supplier btn-dark-blue">Add Item Supplier</button>
                                    </div>
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>

                <div style="display: flex"> 
                        <div class="btn-cancel-invoice"><div class="btn-cancel-invoice"><button class="btn-light-grey" id="btn-cancel-PO" style="margin-bottom: 10px;">Cancel</button></div>
                    </div>
                           
                    <div class="btn-export-invoice">
                        <button class="btn-light-blue" id="btn-generate-PO" style="margin-bottom: 10px; position:absolute; right:5% ">Generate</button>
                    </div> 
                </div>

                <div style="height: 20px"></div>
            </div>

            <script>
                $(document).ready(function() {

                    $('.dropdown-supplier').change(function() {
                        var supplierID = $(this).val()
                        var itemDesc = $(this).parents('tr').find('.itemDescription').text()

                        if (supplierID != "no-selected") {
                            $.get('/getEOQ', {itemDesc}, function(result) {
                                $('#quantity').val(parseInt(result))
                            })

                            var supplierName = $(this).find('option:selected').text()

                            $.get('/getItemUnitsPO', {itemDesc, supplierName}, function(result) {
                                console.log(result)
                                $(this).parents('tr').find(".dropdown-unit").prop('disabled', false);

                                for (var i=0; i<result.length; i++) {
                                    $(this).parents('tr').find('.dropdown-unit').append(`
                                        <option value="${result[i].id}">${result[i].unit}</option>
                                    `)
                                }
                                $(this).parents('tr').find(".dropdown-unit").prop("selectedIndex", 1);
                            }); 
                        }
                    })



                    //-------ADDING NEW SUPPLIERS FUNCTIONS=-------
                    $('.btn-add-item-supplier').click(function() {
                        $(this).parents('tr').find('.div-add-item-supplier').css('display', 'flex')
                        $(this).css('display', 'none')
                        //$(this).parents('tr').find('.btn-save-item-supplier').css('display', 'block')
                    })


                    $(".add-item-supplier").autocomplete({
                        source: function(request, response) {
                        $.ajax({
                                    url: `/getSupplierName?query=${request.term}`,
                                    dataType: "json",
                                    data: {
                                        //request.term refers to the value currently in the text input
                                        term: request.term,
                                    },
                                    success: function (data) {
                                        //$('#supplier-error').css('display', 'none');
                                        //$("#supplierName").css("border", "1px solid #DDDDDD");
                                         $(this).parents('tr').find('.btn-save-item-supplier').prop('disabled', false);
                                        $(this).parents('tr').find('.btn-save-item-supplier').css("background-color", "#42415B"); 
                                        response(data);
                                    }
                             });
                        }, response: function (event, ui) {
                            if (ui.content.length === 0) {
                                //$('.supplier-error').css('display', 'block');
                                $(this).parents('tr').find('.btn-save-item-supplier').prop('disabled', true);
                                $(this).parents('tr').find('.btn-save-item-supplier').css("background-color", "#b3b3b3");
                            }
                            else {
                                //$('.supplier-error').css('display', 'none');
                                $(this).parents('tr').find('.btn-save-item-supplier').prop('disabled', false);
                                $(this).parents('tr').find('.btn-save-item-supplier').css("background-color", "#42415B"); 
                            }
                        }
                    });

                    $('.btn-save-item-supplier').click(function() {
                        var row = $(this).parents('tr')
                        var itemDesc = row.find('.itemDescription').text()
                        var unit = row.find('.unit').text();
                        var supplierName = row.find('.add-item-supplier').val()
                        $.post('/addItemSupplier', {itemDesc, unit, supplierName}, function(result) {
                            if (result!="exists")
                                row.find('.dropdown-supplier').append(`
                                <option value="${result}">${supplierName}</option`)
                            
                            row.find('.div-add-item-supplier').css('display', 'none')
                            row.find('.btn-add-item-supplier').css('display', 'block')
                            row.find('.add-item-supplier').val('');
                            
                        }) 
                    })

                    $('#btn-generate-PO').click(function() {
                        var purchaseItems = []
                        var proceed = true;
                        var forcebreak = false

                        $("#table-purchase-stocks-body > tr").each(function () {
                            if ($(this).find('.dropdown-supplier').val() == "no-selected" && !forcebreak) {
                                if (confirm("No supplier has been selected for some items. These items will not be included in the purchase order, thus will remain low-in-stock. Do you wish to proceed?")) {
                                    proceed = true
                                    forcebreak = true
                                }
                                else {
                                    proceed = false
                                    forcebreak = true
                                }
                            }
                        })

                        if (proceed) {
                            $("#table-purchase-stocks-body > tr").each(function () {
                                if ($(this).find('.dropdown-supplier').val() != "no-selected") {
                                    var item= {
                                        itemDescription: $(this).children('.itemDescription').text(),
                                        quantity: $(this).find('.quantity').val(),
                                        unit: $(this).children('.unit').text(),
                                        supplier: $(this).find('.dropdown-supplier').val()
                                    }
                                    purchaseItems.push(item);
                                }
                            })
                            var purchaseString = JSON.stringify(purchaseItems)
                            $.post('/saveGeneratePurchaseOrder', {purchaseString}, function(result) {
                                alert("POs have been generated")
                                window.location.replace('/purchaseOrders');
                            });
                        }
                    })
                })
            </script>
    </body>
</html>