<!DOCTYPE html>
<html>
    <head>
        <title> Inventory Performance Report </title>
        <meta name="description" content="Inventory Performance Report">
        <meta name="keyword" content="Moderna, Inventory Performance Report">
        <link rel="stylesheet" type="text/css" href="../css/general.css">
        <link rel="stylesheet" type="text/css" href="../css/list.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        
    </head>
    <body>
        {{> logoutPartial }}

        {{> managerPartial }}

        <div class="content">        
            <div class="fixed-div">
                <div style="display: flex; margin-bottom: 15px;">
                    <div style="width: 50%"><h1 class="bold">Inventory Performance Report</h1></div>
                    <div style="width: 50%;">
                        <h3 style="text-align: right;">As of {{today}}</h3>
                    </div>
                </div>
                <div>
                    <div class="search">
                        <label for="dropdown-sort" style="margin-right: 10px">Sort By</label>
                        <select class="dropdown" id="dropdown-sort" style="margin-right: 15px">
                            <option value="best-selling" selected>Best Selling</option>
                            <option value="worst-selling">Worst Selling</option>
                        </select>
                        <label for="dropdown-number" style="margin-right: 10px">Number of Items</label>
                        <select class="dropdown" id="dropdown-number" style="margin-right: 10px">
                            <option value="5" selected>5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                        </select>
                    </div>
                    <div class= "div-button-end">
                        <div  style="justify-content: flex-start">
                            <label class="date-label" for="start-date">Start Date</label>
                            <input style="height: 34px" type="date" id="start-date" name="start-date">
                            <label class="date-label" style="margin-left: 10px;" for="end-date">End Date</label>
                            <input style="height: 34px" type="date" id="end-date" name="end-date">
                            <button type="submit" style="height: 34px; margin-left: 10px" id="invoice-date-button"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                    <div style="height: 50px"></div>
                </div>
            </div>

            {{#each formattedInventory}}
                {{#if category}}
                    </table> 
                    <h3 class="bold category">{{category}}</h3>
                
                    <table class="table" id="table-{{category}}"> 
                        <thead style="background-color: #2F5D62; color: white; width: inherit;">
                            <tr>
                                <th>#</th>
                                <th>Item Description</th>
                                <th>Units Sold</th>
                                <th>UOM</th>
                            </tr>
                        </thead>
                {{/if}}
                
                    <tbody> 
                        {{#if description}}
                            <tr>
                                <td style="text-align: right;">{{rank}}</td>
                                <td>{{description}}</td>
                                <td style="text-align: right;">{{unitsSold}}</td>
                                <td>{{UOM}}</td>
                            </tr>
                        {{/if}}
                    </tbody>
            {{/each}}

                <div class="btn-new-PO">
                    <a id="download-link" href="" download></a>
                    <button class="btn-dark-blue" id="btn-export" style="margin-top: 10px; margin-bottom: 10px;">Export</button>
                </div> 
            </div>
        </div>

        <script>
            $(document).ready(function() {
                $('#invoice-date-button').click(function() {
                    var startDate = $("#start-date").val();
                    var endDate = $("#end-date").val();

                    if (startDate == null || startDate == "" || endDate == null || endDate == "") {
                        if (startDate == null || startDate == "")
                            $("#start-date").css("border", "1px solid #B00000")

                        if (endDate == null || endDate == "")
                            $("#end-date").css("border", "1px solid #B00000")
                    } else {
                        var convertedStartDate = new Date(startDate);
                        var convertedEndDate = new Date(endDate);

                        if(convertedStartDate > convertedEndDate) {
                            // end date is before start date 
                            $("#start-date").css("border", "1px solid #B00000");
                            $("#end-date").css("border", "1px solid #B00000");
                        }
                        else {
                            // valid dates
                            $("#start-date").css("border", "1px solid #DDDDDD");
                            $("#end-date").css("border", "1px solid #DDDDDD");

                            var sortFilter = $('#dropdown-sort').val();
                            var numberFilter = $('#dropdown-number').val();

                            $('.category').each(function() {
                                var category = $(this).text();

                                $.get("/getFilteredInventoryPerformanceReport", {startDate: convertedStartDate, endDate: convertedEndDate, category:category, sortFilter: sortFilter, numberFilter: numberFilter}, function (result) {
                                    
                                    $(`#table-${category} > tbody`).empty();

                                    for (var i=0; i<result.length; i++) {
                                        $(`#table-${category} > tbody`).append(`
                                            <tr>   
                                                <td>${result[i].rank}</td>
                                                <td>${result[i].description}</td>
                                                <td>${result[i].unitsSold}</td>
                                                <td>${result[i].UOM}</td>
                                            </tr>
                                        `)
                                    }
                                });
                            })
                        }
                    }
                })
            })        
        </script>
    </body>
</html>