<!DOCTYPE html>
<html>
    <head>
        <title> Inventory </title>
        <meta name="description" content="Purchase Order List">
        <meta name="keyword" content="Moderna, Purchase Order List">
        <link rel="stylesheet" type="text/css" href="../css/general.css">
        <link rel="stylesheet" type="text/css" href="../css/list.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        
    </head>
    <body>

        <!-- PARTIALS -->
        <div id="navbar"> 
            <div class="navbar-logo"> <img src="../images/Kamuning.png" alt="Kamuning Hardware Logo" width="200" height="65"></div>
            <div class="navbar-logout"> <a href= "login.html">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                    <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                </svg>
            </a>
            </div>
        </div>

        <div class="sidebar">
            <a href="#">Home</a>
            <a href="#">Deliveries</a>
            <a href="#">Customers</a>
        </div>

        <div class="content">        
            <div class="fixed-div">
                <h1 class="bold" style="padding-bottom: 15px;"> Inventory </h1>
                <div> 
                    <div class="search">
                        <input type="text" placeholder="Search" name="search" id="search-field">
                        <button type="submit" id="search-button"><i class="fa fa-search" ></i></button>
                    </div>
                    <div><button class="btn-light-blue" id="btn-new-item" style="float: right;" data-toggle="modal" data-target="#modal-new-item">+ New Item</button></div>
                </div>

            <div style="margin-top: 60px;">
                <label for="dropdown-inventory-type" style="margin-right: 10px">Type</label>
                <select class="dropdown" id="dropdown-inventory-type" style="margin-right: 10px">
                    <option value="all-type" selected>All</option>
                    {{#each itemCategories}}
                        <option value={{_id}}>{{category}}</option>
                    {{/each}}
                </select>

                <label for="dropdown-inventory-status" style="margin-right: 10px">Status</label>
                <select class="dropdown" id="dropdown-inventory-status" style="margin-right: 10px">
                    <option value="all-type" selected>All</option>
                    {{#each itemStatuses}}
                        <option value={{_id}}>{{status}}</option>
                    {{/each}}
                </select>
            </div>

                <div style="height: 20px"></div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="modal-new-item" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLongTitle">New Item</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="add-new-item">
                            <label for="description">Description</label> <input id="description" type="text"><br>
                            <p class="error" id="error-description" style="margin-top: 3px; margin-bottom: 3px;"></p>

                            <label for="dropdown-category" style="margin-right: 10px">Category</label>
                            <select class="dropdown" id="dropdown-category" style="margin-top: 3px; margin-bottom: 5px; height: 30px">
                                <option value="no-selected" selected>--Select Category--</option>
                                {{#each itemCategories}}
                                    <option value={{_id}}>{{category}}</option>
                                {{/each}}
                            </select>
                            <p class="error" id="error-category" style="margin-top: 3px; margin-bottom: 3px;"></p>

                            <label for="dropdown-unit" style="margin-right: 10px">Unit</label>
                            <select class="dropdown" id="dropdown-unit" style="margin-top: 3px; margin-bottom: 5px; height: 30px">
                                <option value="no-selected" selected>--Select Unit--</option>
                                {{#each units}}
                                    <option value={{_id}}>{{unit}}</option>
                                {{/each}}
                            </select>
                            <p class="error" id="error-unit" style="margin-top: 3px; margin-bottom: 3px;"></p>


                            <label for="reorder-level">Reorder Level</label> <input id="reorder-level" type="number"><br>
                            <p class="error" id="error-reorder-level" style="margin-top: 3px; margin-bottom: 3px;"></p>

                            <label for="EOQ">EOQ</label> <input id="EOQ" type="number"><br>
                            <p class="error" id="error-EOQ" style="margin-top: 3px; margin-bottom: 3px;"></p>

                            <label for="selling-price">Selling Price</label> <input id="selling-price" type="number"><br>
                            <p class="error" id="error-selling-price" style="margin-top: 3px; margin-bottom: 3px;"></p>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="btn-add-new-item">Save</button>
                    </div>
                </div>
                </div>
            </div>
                
                <table class="table" id="table-inventory">
                    <thead class="table-head" style="top: 290px;">
                        <tr>
                            <th>Item Description</th>
                            <th>Category</th>
                            <th>Quantity</th>
                            <th>Unit</th>
                            <th>Selling Price</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody> 
                        <!-- adjust alignment accordingly -->
                        {{#each inventory}}
                            <tr class="link" style="cursor: pointer" data-href="/inventory/{{_id}}">
                                <td>{{itemDescription}}</td>
                                <td value="{{categoryID}}" class="category-id">{{category}}</td>
                                <td style="text-align: right;">{{quantityAvailable}}</td>
                                <td>{{unit}}</td>
                                <td style="text-align: right;">₱ {{sellingPrice}}</td>
                                <td><button class="btn-status btn-{{btn_status}} status-id" value="{{statusID}}">{{status}}</button></td>
                            </tr>
                        {{/each}}
                    
                    </tbody>
                </table>
            </div>
        </div>

          <script>

            $(document).ready(function() {

                $(".link").click(function() {
                    window.location = $(this).data("href");
                });

                function capitalize(string){
                    var words = string.toLowerCase().split(' ');
                    for (i=0; i<words.length; i++)
                        words[i] = words[i].charAt(0).toUpperCase() + words[i].substring(1);
                    return words.join(' ');
                }

                // INPUT VALIDATION

                function descriptionValidation(description) {
                    if (description == null || description == "") {
                        errorMessage("description");
                        return 1;
                    }
                    else 
                        return 0;
                }

                function typeValidation(type) {
                    if (type == "no-selected") {
                        errorMessage("type");
                        return 1;
                    }
                    else 
                        return 0;
                }

                function unitValidation(unit) {
                    if (unit == "no-selected") {
                        errorMessage("unit");
                        return 1;
                    }
                    else 
                        return 0;
                }

                function reorderLevelValidation(reorderLevel) { 
                    if (reorderLevel == null || reorderLevel == "") {
                        errorMessage("reorderLevel");
                        return 1;
                    } else if (parseFloat(reorderLevel) <= 0) {
                        errorMessage("reorderLevelInvalidNum");
                        return 1;
                    }
                    else 
                        return 0;
                }

                function EOQValidation(EOQ) { 
                    if (EOQ == null || EOQ == "") {
                        errorMessage("EOQ");
                        return 1;
                    } else if (parseFloat(EOQ) <= 0) {
                        errorMessage("EOQInvalidNum");
                        return 1;
                    }
                    else 
                        return 0;
                }

                function sellingPriceValidation(price) {
                    if (price == null || price == "") {
                        errorMessage("sellingPrice");
                        return 1;
                    }
                    else 
                        return 0;
                }

                function errorMessage(type) {
                    if (type == "description") {
                        $("#description").css("border", "1px solid #B00000");
                        $("#error-description").text("Please enter an Item Description.");
                    } else if (type == "type") {
                        $("#dropdown-category").css("border", "1px solid #B00000");
                        $("#error-category").text("Please select a Type.");
                    } else if (type == "unit") {
                        $("#dropdown-unit").css("border", "1px solid #B00000");
                        $("#error-unit").text("Please select a Unit.");
                    } else if (type == "reorderLevel") {
                        $("#reorder-level").css("border", "1px solid #B00000");
                        $("#error-reorder-level").text("Please enter a Reorder Level.");
                    } else if (type == "reorderLevelInvalidNum") {
                        $("#reorder-level").css("border", "1px solid #B00000");
                        $("#error-reorder-level").text("Invalid Reorder Level.");
                    } else if (type == "EOQ") {
                        $("#EOQ").css("border", "1px solid #B00000");
                        $("#error-EOQ").text("Please enter an EOQ.");
                    } else if (type == "EOQInvalidNum") {
                        $("#EOQ").css("border", "1px solid #B00000");
                        $("#error-EOQ").text("Invalid EOQ.");
                    } else if (type == "sellingPrice") {
                        $("#selling-price").css("border", "1px solid #B00000");
                        $("#error-selling-price").text("Please enter a Selling Price.");
                    } 
                }

                function resetErrorMessage() {
                    $("#description").css("border", "1px solid #DDDDDD");
                    $("#error-description").text("");
                    $("#dropdown-category").css("border", "1px solid #DDDDDD");
                    $("#error-category").text("");
                    $("#dropdown-unit").css("border", "1px solid #DDDDDD");
                    $("#error-unit").text("");
                    $("#reorder-level").css("border", "1px solid #DDDDDD");
                    $("#error-reorder-level").text("");
                    $("#EOQ").css("border", "1px solid #DDDDDD");
                    $("#error-EOQ").text("");
                    $("#selling-price").css("border", "1px solid #DDDDDD");
                    $("#error-selling-price").text("");
                }

                function filter(result) {
                    $("#table-inventory tbody tr").remove();

                    if (result != null) {
                        for (var i = 0; i < result.length; i++) {
                            $("#table-inventory").find("tbody").append(
                                `  <tr class="link" style="cursor: pointer" data-href="/inventory/${result[i]._id}"> 
                                        <td>${result[i].itemDescription}</td>
                                        <td value="${result[i].categoryID}" class="category-id">${result[i].category}</td>
                                        <td style="text-align: right;">${result[i].quantityAvailable}</td>
                                        <td>${result[i].unit}</td>
                                        <td style="text-align: right;">₱ ${result[i].sellingPrice}</td>
                                        <td><button class="btn-status btn-${result[i].btn_status} status-id">${result[i].status}</button></td>
                                    </tr>`
                            );
                        }
                    }

                    $(".link").click(function() {
                        window.location = $(this).data("href");
                    });
                }

                $("#search-button").click(function() {
                    var searchItem = $("#search-field").val();
                    $('#dropdown-inventory-type').val("all-type");
                    $('#dropdown-inventory-status').val("all-type");

                    $.get("/getSearchInventory", {searchItem: searchItem}, function (result) {
                       filter(result);
                    });

                })

                $('#dropdown-inventory-type').change(function() {
                    $('#table-inventory tr').show();
                    var typeFilter = $('#dropdown-inventory-type').val();
                    var statusFilter = $('#dropdown-inventory-status').val();
                    
                    $.get("/getFilterInventory", {typeFilter: typeFilter, statusFilter: statusFilter}, function (result) {
                        $("#search-field").val(null);
                        filter(result);
                    });
                })

                 $('#dropdown-inventory-status').change(function() {
                    $('#table-inventory tr').show();
                    var typeFilter = $('#dropdown-inventory-type').val();
                    var statusFilter = $('#dropdown-inventory-status').val();
                    
                    $.get("/getFilterInventory", {typeFilter: typeFilter, statusFilter: statusFilter}, function (result) {
                        $("#search-field").val(null);
                        filter(result);
                    });

                })

                $('#description').keyup(function () { 
                    resetErrorMessage();

                    // Get value 
                     var description = capitalize($('#description').val());

                    // Check if dish name exists 
                    $.get("/getCheckItemDescription", {itemDescription: description}, function (result) {
                        if (result.itemDescription == description) {
                            //alert("same");
                            $("#description").css("border", "1px solid #B00000");
                            $("#error-description").text("Item Description already taken.");
                            $("#btn-add-new-item").prop("disabled", true);
                            $("#btn-add-new-item").css("background-color", "#b3b3b3");
                        } else {
                            $("#description").css("border", "1px solid #DDDDDD");
                            $("#error-description").text("");
                            $("#btn-add-new-item").prop("disabled", false);
                            $("#btn-add-new-item").css("background-color", "#0F84D9");
                        }
                    });
                });

                $('#dropdown-category').change(function() {
                    resetErrorMessage();
                })

                $('#dropdown-unit').change(function() {
                    resetErrorMessage();
                })

                $('#reorder-level').keyup(function () { 
                    resetErrorMessage();
                });

                $('#EOQ').keyup(function () { 
                    resetErrorMessage();
                });

                $('#selling-price').keyup(function () { 
                    resetErrorMessage();
                });


                function checkAll(description, category, unit, reorderLevel, EOQ, sellingPrice) {
                    descriptionValidation(description);
                    typeValidation(category);
                    unitValidation(unit);
                    reorderLevelValidation(reorderLevel);
                    EOQValidation(EOQ);
                    sellingPriceValidation(sellingPrice);
                }

                $('#btn-add-new-item').click(function() {
                    var description = capitalize($('#description').val());
                    var category = $('#dropdown-category').val();
                    var categoryText = $('#dropdown-category option:selected').text();
                    var unit = $('#dropdown-unit').val();
                    var unitText = $('#dropdown-unit option:selected').text();
                    var reorderLevel = $('#reorder-level').val();
                    var EOQ = $('#EOQ').val();
                    var sellingPrice = $('#selling-price').val();

                    checkAll(description, category, unit, reorderLevel, EOQ, sellingPrice);

                    if (!descriptionValidation(description) && !typeValidation(category) && !unitValidation(unit) && !reorderLevelValidation(reorderLevel) && !EOQValidation(EOQ)  && !sellingPriceValidation(sellingPrice)) {

                        // remove texts and red borders
                        resetErrorMessage();

                        $.post('/postNewItem', {description, category, categoryText, unit, unitText, reorderLevel, EOQ, sellingPrice}, function (updatedItem) {
                            /*var sellingPrice = parseFloat(updatedItem.sellingPrice).toFixed(2)

                            $('#table-inventory').find('tbody').append(
                                `  <tr class="link" style="cursor: pointer" data-href="/inventory/${updatedItem._id}"> 
                                        <td>${updatedItem.itemDescription}</td> 
                                        <td value="${updatedItem.categoryID}" class="category-id">${updatedItem.category}</td>
                                        <td style="text-align: right;">${updatedItem.quantityAvailable}</td> 
                                        <td class="unit-id">${updatedItem.unit}</td> 
                                        <td style="text-align: right;">₱ ${sellingPrice}</td> 
                                        <td><button class="btn-status btn-low status-id" value="${updatedItem.statusID}">Low Stock</button></td>
                                    </tr>`
                            );
                        })*/

                            $('#modal-new-item').modal('hide');
                            $('#add-new-item').trigger('reset');

                            window.location.reload()
                        })
                    }
                })
            })

        </script>
    </body>
</html>