<!DOCTYPE html>
<html>
    <head>
        <title> Invoices </title>
        <meta name="description" content="Invoice List">
        <meta name="keyword" content="Moderna, Invoice List">
        <link rel="stylesheet" type="text/css" href="../css/general.css">
        <link rel="stylesheet" type="text/css" href="../css/list.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        
    </head>
    <body>

        {{> logoutPartial }}

        {{#if cashier}}
            {{> cashierPartial }}
        {{/if}}

        {{#if manager}}
            {{> managerPartial }}
        {{/if}}

        <div class="content">        
            <div class="fixed-div">
                <h1 class="bold" style="padding-bottom: 15px;"> Invoices </h1>
                <div> 
                    <div class="search">
                        <input type="text" placeholder="Search" name="search" id="search-field">
                        <button type="submit" style="height: 34px; margin-left: 10px" id="search-button"><i class="fa fa-search"></i></button>
                    </div>
                    <div class="btn-new-PO" style="margin-bottom: 10px;"><button class="btn btn-primary" id="btn-new-invoice" style="float: right;">+ New Invoice</button></div>

                    <div style="display: flex; justify-content: flex-end; align-items:center;">
                        <label class="date-label" for="start-date" style="margin-right: 5px;">Start Date</label>
                        <input style="height: 34px" type="date" id="start-date" name="start-date">
                        <label class="date-label" style="margin-left: 10px; margin-right: 5px;" for="end-date">End Date</label>
                        <input style="height: 34px" type="date" id="end-date" name="end-date">
                        <button type="submit" style="height: 34px; margin-left: 10px" id="invoice-date-button"><i class="fa fa-search"></i></button>
                    </div>
                    <div style="height: 11px"></div>
                </div>
            </div>

                <table class="table" id="table-invoice">
                    <thead class="table-head" style="top: 270px">
                        <tr>
                            <th>Date</th>
                            <th style="text-align:center;">Invoice</th>
                            <th>Customer</th>
                            <th style="text-align:center;">Total</th> 
                            <th>Type</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody> 
                        {{#each invoicesInfo}}
                            <tr class="link" style="cursor: pointer" data-href="/invoices/{{_id}}">
                                <td>{{formattedDate}}</td>
                                <td style="text-align: right;">{{invoiceID}}</td>
                                <td>{{customerName}}</td>
                                <td style="text-align: right;">₱ {{total}}</td>
                                <td>{{type}}</td>
                                <td><button class="btn-status btn-{{status}} status-id">{{status}}</button></td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        <script>
            $(document).ready(function() {
                $(".link").click(function() {
                    window.location = $(this).data("href");
                });

                $("#btn-new-invoice").click(function() {
                    window.location = '/newInvoice';
                });

                $("#invoice-date-button").click(function() {
                    var startDate = $("#start-date").val();
                    var endDate = $("#end-date").val();
                    $("#search-field").val(null);

                    if (startDate == null || startDate == "" || endDate == null || endDate == "") {
                        if (startDate == null || startDate == "")
                            $("#start-date").css("border", "1px solid #B00000");

                        if (endDate == null || endDate == "")
                            $("#end-date").css("border", "1px solid #B00000");
                    } else {
                        var convertedStartDate = new Date(startDate);
                        var convertedEndDate = new Date(endDate);

                        if(convertedStartDate > convertedEndDate) {
                            // end date is before start date 
                            $("#start-date").css("border", "1px solid #B00000");
                            $("#end-date").css("border", "1px solid #B00000");
                        }
                        else {
                            // valid dates
                            $("#start-date").css("border", "1px solid #DDDDDD");
                            $("#end-date").css("border", "1px solid #DDDDDD");

                            $.get("/getFilteredRowsInvoice", {startDate: convertedStartDate, endDate: convertedEndDate}, function (result) {

                                $("#table-invoice tbody tr").remove();

                                for (var i = 0; i < result.length; i++) {
                                    $("#table-invoice").find("tbody").append(
                                        `  <tr class="link" style="cursor: pointer" data-href="/order/${result[i]._id}"> 
                                                <td>${result[i].formattedDate}</td>
                                                <td style="text-align: right;">${result[i].invoiceID}</td>
                                                <td>${result[i].customerName}</td>
                                                <td style="text-align: right;">₱ ${result[i].total}</td>
                                                <td>${result[i].type}</td>
                                                <td><button class="btn-status btn-${result[i].status} status-id">${result[i].status}</button></td>
                                        </tr>`
                                    );
                                }

                                $(".link").click(function() {
                                    window.location = $(this).data("href");
                                });
                            });
                        }
                    }
                });

                 $("#search-button").click(function() {
                    var startDate = $("#start-date").val(null);
                    var endDate = $("#end-date").val(null);
                    //$('#table-invoice tr').show();
                    var searchItem = $("#search-field").val();
                 
                    $.get("/getSearchInvoice", {searchItem: searchItem}, function (result) {

                        $("#table-invoice tbody tr").remove();

                        if (result != null) {
                            for (var i = 0; i < result.length; i++) {
                                $("#table-invoice").find("tbody").append(
                                `  <tr class="link" style="cursor: pointer" data-href="/invoices/${result[i]._id}"> 
                                        <td>${result[i].formattedDate}</td>
                                        <td style="text-align: right;">${result[i].invoiceID}</td>
                                        <td>${result[i].customerName}</td>
                                        <td style="text-align: right;">₱ ${result[i].total}</td>
                                        <td>${result[i].type}</td>
                                        <td><button class="btn-status btn-${result[i].status} status-id">${result[i].status}</button></td>
                                    </tr>`
                            );
                            }
                        } else {
                            // say no search results 
                        }

                        $(".link").click(function() {
                            window.location = $(this).data("href");
                        });

                    });
                });

                
            })
        </script>
    </body>
</html>