<!DOCTYPE html>
<html>
    <head>
        <title> New Invoice </title>
        <meta name="description" content="New Invoice">
        <meta name="keyword" content="Moderna, View Invoice">
        <link rel="stylesheet" type="text/css" href="../css/general.css">
        <link rel="stylesheet" type="text/css" href="../css/information.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>


        <!--<link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>-->
        <link rel="stylesheet" type="text/css" href="../jquery-ui-themes-1.13.0/themes/ui-lightness/jquery-ui.css">
        <script src="../jquery-ui/jquery-ui.min.js"></script>
    </head>
    <body>

        {{> logoutPartial }}

       {{#if cashier}}
            {{> cashierPartial }}
        {{/if}}

        {{#if manager}}
            {{> managerPartial }}
        {{/if}}

        <div class="content">
            <div> <!-- ADD FIXED -->
                <div style="display: flex">
                    <div style="width: 50%"><h1 class="bold">New Invoice</h1></div>
                    <div class="btn-status">
                        <h3 id="dateToday"></h3>
                    </div>
                </div>
            </div> 
            <hr style="margin-top: 0px;">

        <div style="display: flex; align-items: center;">
            <label for="dropdown-new-invoice-type" style="margin-right: 10px">Type</label>
            <select class="form-control" id="drop-down-new-invoice-type" style="margin-right: 20px; width: 150px;">
                     {{#each itype}}
                        <option value={{_id}}>{{type}}</option>
                     {{/each}}
            </select>

            <label for="dropdown-payment-type" style="margin-right: 10px">Payment Type</label>
            <select class="form-control" id="dropdown-payment-type" style="margin-right: 20px; width: 150px;">
                {{#each paymentTypes}}
                    <option value={{_id}}>{{paymentOption}}</option>
                {{/each}}
            </select>

            <p id="payment-type-error" class="error"></p>

            <div class="delivery-info" style="display:none;">
                <div style="display: flex; align-items: center;"> 
                     <label class="date-label" style="margin-right: 10px" for="delivery-date">Delivery Date</label>
                    <input style="margin-right: 20px; width: 180px;" type="date" id="delivery-date" class="form-control" name="delivery-date">

                    <label  id = "label-delivery" for="dropdown-delivery-personnel" style="margin-right: 10px">Delivery Personnel</label>
                    <select class="form-control" id="dropdown-delivery-personnel" style="margin-right: 10px; width: 150px;">
                            <option value="no-selected" selected>Select Personnel</option>
                            {{#each delperson}}
                                <option value={{_id}}>{{name}}</option>
                            {{/each}}
                    </select>
                </div>
            </div>
        </div>

            <div class="header-colored-bg" style="margin-top: 20px;">
                <h3 class ="bold header-text">Customer Details</h3>
            </div>

                <div>
                    <input style="margin-top: 15px;" type="text" class="form-control margin-bottom-10" id="customer-Name" name="customer-Name" placeholder="Customer Name">
                    <p class="error" id="error-customer"></p>
                    <button class="btn-light-blue" id="add-new-customer" style="display:none; margin-bottom: 10px;" data-toggle="modal" data-target="#customerModal">Add New Customer</button>
                    <!-- Modal -->
                    <div class="modal fade" id="customerModal">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h2 class="modal-title" id="modalTitle">Add Customer</h2>
                                
                                </div>
                                <div class="modal-body">
                                    <form id="add-new-customer">
                                        <div class="flex-display">
                                            <label for="new-customer-name" class="modal-label">Customer Name</label> 
                                            <input id="new-customer-name"class="modal-input form-control" type="text"><br>
                                        </div>
                                        <p class="error modal-error" id="error-new-customer-name"></p>
                                        
                                        <div class="flex-display">
                                            <label for="new-contact-number" class="modal-label">Contact Number</label> 
                                            <input id="new-contact-number" class="modal-input form-control" type="number"><br>
                                        </div>
                                        <p class="error modal-error" id="error-contact-number"></p>
                                        
                                        <div class="flex-display">
                                            <label for="new-address" class="modal-label">Address</label> 
                                            <input id="new-address" class="modal-input form-control" type="text"><br>
                                        </div>
                                        <p class="error modal-error" id="error-address"></p>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="modal-btn-grey" data-dismiss="modal">Close</button>
                                    <button type="button" id = "save-cust" class="modal-btn-light-blue">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <textarea class="form-control margin-bottom-10 delivery-info" id="address" name="address" placeholder="Address"></textarea> <!--style="display:none"-->
                    <!--<p class="error" id="error-address"></p>-->
                    <input type="text" class="form-control margin-bottom-10 delivery-info" id="contactNumber" name="contactNumber" placeholder="Contact Number"> <!--style="display:none"-->
                    <!--<p class="error" id="error-number"></p>-->
                    <div>
                        <div>
                            <textarea class="form-control delivery-info" id="notes" name="notes" placeholder="Delivery Notes"></textarea>
                        </div>
                    </div>
                </div>

                <div class="header-colored-bg" style="margin-top: 15px; margin-bottom: 10px">
                    <h3 class ="bold bold header-text">Order Details</h3>
                </div>

                <form>
                    <input style="margin-top: 5px; margin-bottom: 0px; width: 150px; float: left; margin-right: 10px" type="text" class="form-control" id="itemDescription" name="itemDescription" placeholder="Item Description">
                    <select class="form-control" id="dropdown-item-unit" style="margin-top: 5px; margin-bottom: 0px; width: 150px; float: left; margin-right: 10px">
                        <option value="no-selected">Unit</option>
                    </select>
                    <input style="margin-top: 5px; margin-bottom: 0px; width: 150px; float: left; margin-right: 10px; text-align: right;" type="number" class="form-control" id="qty" name="qty" placeholder="Qty">
                    <input style="margin-top: 5px; margin-bottom: 0px; width: 150px; float: left; margin-right: 10px; text-align: right;" type="text" class="form-control" id="discount" name="discount" placeholder="Discount">
                    <input style="margin-top: 5px; margin-bottom: 0px; float: left; height: 34px; width: 34px; background-color: #0F84D9; border: #0F84D9; border-radius: 7px; color: white;" type="button" id="addItem" name="addItem" value="+">
                </form>
            
                <div style="height: 50px"></div>

                <div id="div-warning-new-invoice">
                    <p id="text-warning-new-invoice" class="error"> </p>
                </div>

                    <table class="table">
                        <thead style="background-color: #2F5D62; color: white">
                            <tr>
                                <th>Item Description</th>
                                <th>Qty</th>
                                <th>Unit</th>
                                <th>Unit Price</th>
                                <th>Discount</th>
                                <th>Amount</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="table-body-item-list"> 
                        </tbody>                     
                    </table>

                    <input style="margin-top: 5px; margin-bottom: 0px; width: 150px; float: right; text-align: right;" type="text" class="form-control margin-bottom-10" id="total-discount" name="discount" placeholder="Discount">
                
                    <br> 
                    <br> 
                    <br> 
                    <div class="summary-container">
                        <div class="summary-text">Subtotal </div>
                        <div class="summary-info-container"><div class="summary-info" style="text-align:right" id ="subtotalbox">₱ 0.00</div></div>
                    </div>
                    <div class="summary-container">
                        <div class="summary-text">VAT </div>
                        <div class="summary-info-container" ><div class="summary-info" id ="vatbox">₱ 0.00</div></div>
                    </div>
                    <div class="summary-container">    
                        <div class="summary-text">Discount </div>
                        <div class="summary-info-container"><div class="summary-info" id ="disbox">₱ 0.00</div></div>
                    </div>
                    <div class="summary-container">
                        <div class="summary-text">Total </div>
                        <div class="summary-info-container" ><div class="summary-info" id ="totbox">₱ 0.00</div></div>
                    </div>

                    <div style="height: 10px"></div>

                    <div>
                        <div style="display: flex;">
                            <div style="width: 50%"><div class="btn-cancel-invoice"><button class="btn-light-grey" id="btn-cancel-invoice" style="margin-bottom: 10px;">Cancel</button></div></div>
                            <div class="btn-save-invoice btn-status"><button class="btn-light-blue" id="btn-save-invoice" style="margin-bottom: 10px;" >Save</button></div>
                        </div>
                    </div>

                    <!--<div class="btn-export-invoice"><button class="btn-dark-blue" id="btn-export-invoice">Export</button></div>-->

                    <div style="height: 20px"></div>   


        <script>
            $(document).ready(function() {

                $('.delivery-info').css('display', 'none');
                //$('').css('display', 'none')

                var today = new Date();
                var dd = String(today.getDate()).padStart(2, '0');
                var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                var yyyy = today.getFullYear();
                today = mm + '/' + dd + '/' + yyyy;
                $('#dateToday').text(today);
                var value = "Delivery";

                function filled(itemDesc, qty) {
                    var itemDesc = $('#itemDescription').val();
                    var qty = $('#qty').val();

                    if (itemDesc!="" && qty!="")
                        return 0
                    else if ((itemDesc == "" && qty != "") || (itemDesc == "" && qty == ""))
                        return 1
                    else if (qty == "" && itemDesc !="")
                        return 2
                }

                $('#drop-down-new-invoice-type').on('change', function() {
                    //in-store
                    if(this.value == '6197863ac4f0088e95c9bf84'){
                        $('.delivery-info').css('display', 'none')
                        var payment = $('#dropdown-payment-type option:selected').text()
                        if (payment == "COD") {
                            $('#dropdown-payment-type').css("border", "2px solid #B00000")
                            $('#payment-type-error').text('Payment method cannot be COD for in-store transactions')
                        }
                    }
                    //delivery
                    else if(this.value == '61a591c1233fa7f9abcd5726'){
                        $('.delivery-info').css('display', 'block');
                        $('#dropdown-payment-type').css("border", "1px solid #DDDDDD")
                        $('#payment-type-error').text('');
                    }
                    //alert(this.value)

                    // Remove all inputs
                    // hide add new customer block
                    // ------------------------------------------------------------------------------------------------------------------------------------------------------TO FIX LATER
                })

                $('#dropdown-payment-type').change(function() {
                    var type = $('#drop-down-new-invoice-type option:selected').text() 
                    var payment = $('#dropdown-payment-type option:selected').text()
                    if (type == "In-Store" && payment == "COD") {
                        $('#dropdown-payment-type').css("border", "2px solid #B00000")
                        $('#payment-type-error').text('Payment method cannot be COD for in-store transactions')
                    }
                    else {
                        $('#dropdown-payment-type').css("border", "1px solid #DDDDDD")
                        $('#payment-type-error').text('')
                    }
                })

                //---------------------VALIDATION FOR NEW CUSTOMER--------------------------

                $('#new-customer-name').keyup(function() {
                    var name = capitalize($('#new-customer-name').val())
                    $.get('/getCheckCustomerName', {name:name}, function(result) {
                        if (result.name == name) {
                            $('#new-customer-name').css("border", "1px solid #B00000");
                            $('#error-new-customer-name').text("Customer information already exists");
                            $('#save-cust').prop('disasbled', true);
                            $('#save-cust').css("background-color", "#b3b3b3");
                        }
                        else {
                            $("#new-customer-name").css("border", "1px solid #DDDDDD");
                            $('#error-new-customer-name').text("");
                            $('#save-cust').prop('disasbled', false);
                            $("#save-cust").css("background-color", "#0F84D9");
                        }
                    })
                }) 


                 function errorMessage(type) {
                    if (type == "noName") {
                        $('#customer-name').css("border", "1px solid #B00000");
                        $('#error-new-customer-name').text("Input customer name.");
                    } 
                    else if (type == "noNumber") {
                        $('#new-contact-number').css("border", "1px solid #B00000");
                        $('#error-contact-number').text("Invalid contact number.");
                    }
                    else if (type == "noAddress") {
                        $('#new-address').css("border", "1px solid #B00000");
                        $('#error-address').text("Input address.");
                    }
                }

                function customerNameValidation(name) {
                    if (name == null || name == "") {
                        errorMessage("noName")
                        return 1;
                    }
                    else {
                        $('#new-customer-name').css("border", "1px solid #DDDDDD");
                        $('#error-new-customer-name').text("");
                        return 0;
                    }
                }   

                function numberValidation(number) {
                    if (number == 0 || number < 0) {
                        errorMessage("noNumber")
                        return 1;
                    }
                    else {
                        $('#new-contact-number').css("border", "1px solid #DDDDDD");
                        $('#error-contact-number').text("")
                        return 0;
                    }
                }     

                function addressValidation(address) {
                    if (address == null || address == "") {
                        errorMessage("noAddress")
                        return 1;
                    }
                    else {
                        $('#new-address').css("border", "1px solid #DDDDDD");
                        $('#error-address').text("");
                        return 0;
                    }
                }

                /*Modal functions*/
                $('#save-cust').click(function() {
                    var custname = capitalize($('#new-customer-name').val());
                    var custphone = $('#new-contact-number').val();
                    var custaddress = $('#new-address').val();
                    if (!customerNameValidation(custname) && !numberValidation(custphone) && !addressValidation(custaddress)) {

                        $('#customer-name').css("border", "1px solid #DDDDDD");
                        $('#contact-number').css("border", "1px solid #DDDDDD");
                        $('#address').css("border", "1px solid #DDDDDD");

                        $('#error-new-customer-name').text("");
                        $('#error-contact-number').text("");
                        $('#error-address').text("");

                        $.post('/createNewCustomer', {custname,custphone,custaddress}, function(result) {})
                     $('#customerModal').modal('hide');
                     
                    }
                })

                function capitalize(string){
                    var words = string.toLowerCase().split(' ');
                    for (i=0; i<words.length; i++)
                        words[i] = words[i].charAt(0).toUpperCase() + words[i].substring(1);
                    return words.join(' ');
                };

                function removeItem (elementID){
                    var element = document.getElementById(elementID);
                    element.parentNode.removeChild(element);
                }

                $("#itemDescription" ).autocomplete({
               
                    source: function(request, response) {
                    $.ajax({
                                url: `/getItemName?query=${request.term}`,
                                dataType: "json",
                                data: {
                                    //request.term refers to the value currently in the text input
                                    term: request.term,
                                },
                                success: function (data) {
                                    $('#text-warning-new-PO').css('display', 'none')
                                    $("#itemDescription").css("border", "1px solid #DDDDDD");
                                    response(data);
                                }
                         });
                    }, response: function (event, ui) {
                        if (ui.content.length === 0) 
                            $('#text-warning-new-PO').css('display', 'block')

                        else 
                            $('#text-warning-new-PO').css('display','none')
                    }, select: function(event, ui) {
                        $('#dropdown-item-unit option:not(:first)').remove();
                        var itemDesc = ui.item.label;
                        $.get('/getItemUnitsInvoice', {itemDesc}, function(result) {
                            for (var i=0; i<result.length; i++) {
                                $('#dropdown-item-unit').append(`
                                    <option value="${result[i].id}">${result[i].unit}</option>
                                `)
                            }
                            $('#dropdown-item-unit').prop("selectedIndex", 1)
                        }); 
                    }
                });
                
                /*$.ui.autocomplete.prototype._renderItem = function (ul, item) {
                 return $("<li></li>")
                .data("item.autocomplete", item)
                .append($("<a></a>").html(item.label))
                .appendTo(ul);
                };*/

                 $("#customer-Name").autocomplete({
                    source: function(request, response) {
                    $.ajax({
                                url: `/getCustomerList?query=${request.term}`,
                                dataType: "json",
                                data: {
                                    //request.term refers to the value currently in the text input
                                    term: request.term,
                                },
                                success: function (data) {
                                    $('#text-warning-new-PO').css('display', 'none')
                                    $("#customer-Name").css("border", "1px solid #DDDDDD");
                                    
                                    response(data);
                              }
                         });
                    }, 
                    response: function (event, ui) {
                        if (ui.content.length === 0 && ($('#drop-down-new-invoice-type option:selected').text() == "Delivery")) {
                            $('#add-new-customer').css('display', 'block')
                            $('#error-customer').text("Customer does not exist");
                            $('#customer-Name').css("border", "2px solid #B00000");
                        }
                        else {
                            $('#add-new-customer').css('display', 'none')
                            $('#error-customer').text("");
                            $('#customer-Name').css("border", "1px solid #DDDDDD");
                        }
                    }, select: function(event, ui) {
                        var customerName = ui.item.label;
                        $.get('/getCustomerInformation', {customerName}, function(result) {
                            $('#contactNumber').val(result.number);
                            $('#address').val(result.address);
                        });
                    }
                });

                function computeTotal() {
                    var discountTotal = 0;
                    var amount = 0;
                    

                    $("#table-body-item-list > tr").each(function () {
                        amount += parseFloat($(this).children('.amount').text().slice(1))
                        discountTotal += parseFloat($(this).children('.discount').text().slice(1))
                    }); 

                    var totalDiscount = $('#total-discount').val();


                    if (totalDiscount == "")
                        totalDiscount = 0

                    discountTotal += parseFloat(totalDiscount)
                    amount -= parseFloat(totalDiscount)
                    var vat = (amount *.12);
                    var sub = (amount - vat);
                    
                    //$('#subtotalbox').val(sub);
                    $('#subtotalbox').text("₱ " + parseFloat(sub).toFixed(2)); 

                    //$('#vatbox').val(vat);
                    $('#vatbox').text("₱ " + parseFloat(vat).toFixed(2));

                    //$('#disbox').val(discountTotal);
                    $('#disbox').text("₱ " + parseFloat(discountTotal).toFixed(2));

                    //$('#totbox').val(amount);
                    $('#totbox').text("₱ " + parseFloat(amount).toFixed(2));
                }
             
                $('#total-discount').keyup(function() {
                    computeTotal()
                })

                $('#addItem').click(function() {
                   var itemDesc = $('#itemDescription').val();
                   var unit = $("#dropdown-item-unit option:selected").text(    )
                   var unitID = $('#dropdown-item-unit').val();
                   var quantity = $('#qty').val();
                   var discount = $('#discount').val();
                   if (discount == "")
                        discount = 0                   
                    
                    if(filled(itemDesc, qty) == 0) {
                        $.get('/getItemPrice', {itemDesc, quantity, unitID}, function (result) {
                            if(quantity > result.quantityAvailable)
                                $('#text-warning-new-invoice').text("Requested amount exceeds available!");
                            
                            else{
                                var sellingPrice = result.sellingPrice;
                                //var dis = discount/100;
                                //var discountAmount = parseFloat(sellingPrice * dis).toFixed(2);
                                var totalPrice = parseFloat((sellingPrice*quantity)- discount).toFixed(2);
                                var element = $('#table-body-item-list tr').filter(function(){
                                        return this.innerHTML.indexOf(itemDesc) !== -1;
                                })
                                if (element.length){
                                    //alert("element at index already inside!")
                                    //console.log(element)
                                     $('#text-warning-new-invoice').text("Item already exists in cart!");
                                }
                                else
                                {
                                    $('#table-body-item-list').append(
                                    `<tr>
                                        <td class="itemDescription">${itemDesc}</td>
                                        <td class="qty" style="text-align:right;">${quantity}</td>
                                        <td class="unit">${unit}</td>
                                        <td class="price" style="text-align:right;">₱ ${sellingPrice}</td>
                                        <td class="discount" style="color:red" style="text-align:right;">₱${discount}</td>
                                        <td class ="amount" style="text-align:right;">₱ ${totalPrice}</td>
                                        <td><button class="delete-button add-stock-delete-btn" id="btn-delete-item"><img src="../images/delete-icon.png" height="20px" width="15x" alt="Delete"></button></td>
                                    </tr>`);
                                    //console.log(amount);
                                    computeTotal();
                                    $('#itemDescription').val('');
                                    $('#qty').val('');
                                    $('#discount').val('');
                                    $('#dropdown-item-unit option:not(:first)').remove();
                                    $('#text-warning-new-invoice').text('')
                                }
                            }
                        })  
                    }
                })  

                $("#table-body-item-list").on('click','.delete-item-btn',function() {
                    $(this).closest('tr').remove();
                    computeTotal();
                });


                $(document).on("click", ".custbutton", function () {
                    $('.modal').modal('show');
                    //alert('clicked!');
                }); 


                function invoicefilled(){
                    switch($('#drop-down-new-invoice-type').val()){
                        //delivery
                        case '61a591c1233fa7f9abcd5726':
                        var errmsg = 'There is no input data in the hightlighted fields!';
                        var err = 0;
                        if ($('#customer-Name').val()==''){
                            $('#customer-Name').css("border","1px solid red")
                            err +=1;
                        }
                        if ($('#address').val()==''){
                            $('#address').css("border","1px solid red")
                            err +=1;
                        }
                        if($('#contactNumber').val()==''){
                            $('#contactNumber').css("border","1px solid red")
                            err +=1;
                        }
                        if($('#delivery-date').val()==''){
                        $('#delivery-date').css("border","1px solid red")
                        err +=1;
                        }
                        if($('#dropdown-delivery-personnel').val()=='no-selected'){
                            $('#dropdown-delivery-personnel').css("border","1px solid red")
                            err +=1;
                        }
                        if(err >= 1){
                             $('#text-warning-customerdetails').text(errmsg);
                             return 0;
                        }
                        else{
                            $('#text-warning-customerdetails').text('');
                            return 1;
                        }
                        break;
                        //in-store
                        case '6197863ac4f0088e95c9bf84':
                         if ($('#customer-Name').val()==''){
                         $('#text-warning-customerdetails').text("Input Customer Name");
                         return 0;
                        }
                        else{
                            return 1;
                        }
                        
                    }
                }

                $('#btn-save-invoice').click(function() {
                    if(invoicefilled() == 1){
                        var orderedItems = [];
                        var custName = $('#customer-Name').val();
                        var address = '';
                        var date =  $('#dateToday').text();
                        var ddate = $('#delivery-date').val();
                        var dnotes = '';

                        var typeID = $('#drop-down-new-invoice-type').val();   
                        var paymentOption = $('#dropdown-payment-type').val();
                        var employeeID = $('#dropdown-delivery-personnel').val();

                        $("#table-body-item-list > tr").each(function () {
                            var item = {
                                itemDescription: $(this).children('.itemDescription').text(),
                                unit:$(this).children('.unit').text(),
                                quantity: $(this).children('.qty').text(),
                                discount: $(this).children('.discount').text().slice(1),
                            }
                            orderedItems.push(item);
                        }); 
                           
                       //cash or cheque
                        if(paymentOption == '61b2de709f9cd4edddf21d64' || paymentOption == '61b2de7f9f9cd4edddf21d65'){
                            //paid
                            var statusID = '619785b0d9a967328c1e8fa6'
                        }

                        //cod or on account
                        if(paymentOption == '61b2de879f9cd4edddf21d66' || paymentOption == '61b2de8d9f9cd4edddf21d67'){
                            //pending
                            var statusID = '619785d78094faf8c10d1484';
                        }

                        if ($('#drop-down-new-invoice-type option:selected').text() == "Delivery")
                            var statusID = '619785d78094faf8c10d1484'

                        var subtotal = $('#subtotalbox').text().slice(1);
                        var VAT = $('#vatbox').text().slice(1);
                        var discount = $('#disbox').text().slice(1);
                        var total = $('#totbox').text().slice(1);
                        var itemString = JSON.stringify(orderedItems);  

                        $.post('/createNewInvoice', {custName, date, typeID, statusID, paymentOption,subtotal, VAT, discount, total, employeeID, ddate, dnotes, itemString}, function(result) {
                            alert("Transaction successfully processed");
                            window.location = "/invoices"
                        }) 
                    }
                    else{
                    
                    }
                })

                $('#btn-export-invoice').click(function() {
                    var customerName = $('#customer-Name');
                    var items = [];
                    $("#table-body-item-list > tr").each(function () {
                        var item = {
                            itemDescription: $(this).children('.itemDescription').text(),
                            quantity: $(this).children('.quantity').text(),
                            unit: $(this).children('.unit').text(),
                            price: $(this).children('.price').text(),
                            discount: $(this).children('.discount').text().replace('₱',''),
                            amount: $(this).children('.amount').text()
                        }
                        items.push(item);
                    }); 
                    var itemsString = JSON.stringify(items);
                    $.get('/exportInvoice',{customerName, itemsString}, function(result){

                    })
                })
            }) 
        </script>
    </body>
</html>