<!DOCTYPE html>
<html>
    <head>
        <title> New Invoice </title>
        <meta name="description" content="New Invoice">
        <meta name="keyword" content="Moderna, View Invoice">
        <link rel="stylesheet" type="text/css" href="../css/general.css">
        <link rel="stylesheet" type="text/css" href="../css/information.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>

        <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">
        <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
        
    </head>
    <body>

        <!-- PARTIALS -->
        <div id="navbar"> 
            <div class="navbar-logo"> <img src="../images/Kamuning.png" alt="Kamuning Hardware Logo" width="200" height="65"></div>
            <div class="navbar-logout"> <a href= "login.html">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                    <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                </svg>
            </a>
            </div>
        </div>

        <div class="sidebar">
            <a href="#">Home</a>
            <a href="#">Deliveries</a>
            <a href="#">Customers</a>
        </div>

        <div class="content">
            <div> <!-- ADD FIXED -->
                <div style="display: flex">
                    <div style="width: 50%"><h1 class="bold">New Invoice</h1></div>
                    <div class="btn-status">
                        <h3 id="dateToday"></h3>
                    </div>
                </div>
            </div> 
            <hr>

        <div style="display: flex; align-items: center;">
            <label for="dropdown-new-invoice-type" style="margin-right: 10px">Type</label>
            <select class="dropdown" id="drop-down-new-invoice-type" style="margin-right: 10px">
                     {{#each itype}}
                        <option value={{_id}}>{{type}}</option>
                     {{/each}}
            </select>

            <label for="dropdown-payment-type" style="margin-right: 10px">Payment Type</label>
            <select class="dropdown" id="dropdown-payment-type" style="margin-right: 10px">
                {{#each paymentTypes}}
                    <option value={{_id}}>{{paymentOption}}</option>
                {{/each}}
            </select>

            <div class="delivery-info" style="display:none;">
                <label class="date-label" for="deliverydate">Delivery Date</label>
                <input style="height: 34px" type="date" id="delivery-date" name="deliverydate">

                <label  id = "label-delivery" for="dropdown-delivery-personnel" style="margin-right: 10px">Delivery Personnel</label>
                <select class="dropdown" id="dropdown-delivery-personnel" style="margin-right: 10px">
                        <option value="no-selected" selected>--Select Delivery Personnel</option>
                         {{#each delperson}}
                            <option value={{_id}}>{{name}}</option>
                        {{/each}}
                </select>
            </div>
        </div>

            <div class="header-colored-bg" style="margin-top: 20px;">
                <h3 class ="bold header-text">Customer Details</h3>
            </div>

                <div>
                    <input style="margin-top: 15px;" type="text" class="form-control margin-bottom-10" id="customer-Name" name="customer-Name" placeholder="Customer Name">
                    <!--<select style="margin-top: 15px;" class = "form-control margin-bottom-10" id = "dropdown-custom" style="margin-right: 10px">
                    <option value="default" selected disabled hidden>Customer Name</option>
                    <option value="addnew"></option>
                      {{#each customerList}}
                        <option value={{_id}}>{{name}}</option>
                      {{/each}}
                    </select>-->
                    <textarea class="form-control margin-bottom-10 delivery-info" id="address" name="address" placeholder="Address"></textarea> <!--style="display:none"-->
                    <input type="text" class="form-control margin-bottom-10 delivery-info" id="contactNumber" name="contactNumber" placeholder="Contact Number"> <!--style="display:none"-->
                    <div>
                        <div>
                            <textarea class="form-control delivery-info" id="notes" name="notes" placeholder="Delivery Notes"></textarea>
                        </div>
                    </div>
                    <div>
                        <p id = "text-warning-customerdetails" style="color: red;"></p>
                    </div>
                </div>

                <div class="header-colored-bg" style="margin-top: 15px; margin-bottom: 10px">
                    <h3 class ="bold bold header-text">Order Details</h3>
                </div>

                <form>
                    <input style="margin-top: 5px; margin-bottom: 0px; width: 150px; float: left; margin-right: 10px" type="text" class="form-control" id="itemDescription" name="itemDescription" placeholder="Item Description">
                    <input style="margin-top: 5px; margin-bottom: 0px; width: 150px; float: left; margin-right: 10px; text-align: right;" type="number" class="form-control" id="qty" name="qty" placeholder="Qty">
                    <input style="margin-top: 5px; margin-bottom: 0px; width: 150px; float: left; margin-right: 10px; text-align: right;" type="text" class="form-control" id="discount" name="discount" placeholder="Discount">
                    <input style="margin-top: 5px; margin-bottom: 0px; float: left; height: 34px; width: 34px; background-color: #0F84D9; border: #0F84D9; border-radius: 7px; color: white;" type="button" id="addItem" name="addItem" value="+">
                </form>
            
                <div style="height: 45px"></div>

                <div id="div-warning-new-invoice">
                    <p id="text-warning-new-invoice" style="color: red;"> </p>
                </div>

                    <table class="table">
                        <thead style="background-color: #2F5D62; color: white">
                            <tr>
                                <th>Item Description</th>
                                <th>Qty</th>
                                <th>Unit</th>
                                <th>Unit Price</th>
                                <th>Discount</th>
                                <th>Amount</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="table-body-item-list"> 
                        </tbody>                     
                    </table>

                    <input style="margin-top: 5px; margin-bottom: 0px; width: 150px; float: right; text-align: right;" type="text" class="form-control margin-bottom-10" id="total-discount" name="discount" placeholder="Discount">
                
                    <br> 
                    <br> 
                    <br> 
                    <div class="summary-container">
                        <div class="summary-text">Subtotal </div>
                        <div class="summary-info-container"><div class="summary-info" style="text-align:right">₱{{sub}}<div id ="subtotalbox"></div></div></div>
                    </div>
                    <div class="summary-container">
                        <div class="summary-text">VAT </div>
                        <div class="summary-info-container" ><div class="summary-info">₱{{vat}}<div id ="vatbox"></div></div></div>
                    </div>
                    <div class="summary-container">    
                        <div class="summary-text">Discount </div>
                        <div class="summary-info-container"><div class="summary-info">₱{{discountTotal}}<div id ="disbox"></div></div></div>
                    </div>
                    <div class="summary-container">
                        <div class="summary-text">Total </div>
                        <div class="summary-info-container" ><div class="summary-info">₱{{amount}}<div id ="totbox"></div></div></div>
                    </div>

                    <div style="height: 10px"></div>

                    <div>
                        <div style="display: flex;">
                            <div style="width: 50%"><div class="btn-cancel-invoice"><button class="btn-light-grey" id="btn-cancel-invoice" style="margin-bottom: 10px;">Cancel</button></div></div>
                            <div class="btn-save-invoice btn-status"><button class="btn-light-blue" id="btn-save-invoice" style="margin-bottom: 10px;" >Save</button></div>
                        </div>
                    </div>

                    <div class="btn-export-invoice"><button class="btn-dark-blue" id="btn-export-invoice">Export</button></div>

                    <div style="height: 20px"></div>    


                    <!-- Modal -->
                <div class="modal fade" id="customerModal">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                <h2 class="modal-title" id="modalTitle">Customer Details</h2>
                
                </div>
                <div class="modal-body">
                <label for="name">Name: <input type="text" id="custname" name="name"><br></label><br>
                <label for="phone">Phone: <input type="text" id="custphone" name="phone"></label><br>
                <label for="address">Address: <input type="text" id="custaddress" name="address"></label><br>
                 <div id="div-warning-new-invoice">
                    <p id="text-warning-customer" style="color: red;"></p>
                </div>

               
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id = "save-cust" class="btn btn-primary">Save changes</button>
                </div>
                </div>
                </div>
                </div>
                </div>


        <script>
            $(document).ready(function() {

                $('.delivery-info').css('display', 'none');
                $('').css('display', 'none')

                var today = new Date();
                var dd = String(today.getDate()).padStart(2, '0');
                var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                var yyyy = today.getFullYear();
                today = mm + '/' + dd + '/' + yyyy;
                $('#dateToday').text(today);
                var value = "Delivery";

                function filled(itemDesc, qty) {
                    var itemDesc = $('#itemDescription').val();
                    var qty = $('#qty').val();

                    if (itemDesc!="" && qty!="")
                        return 0
                    else if ((itemDesc == "" && qty != "") || (itemDesc == "" && qty == ""))
                        return 1
                    else if (qty == "" && itemDesc !="")
                        return 2
                }



                $('#drop-down-new-invoice-type').on('change', function() {
                    if(this.value == '6197863ac4f0088e95c9bf84'){
                        $('.delivery-info').css('display', 'none')
                    }
                    else if(this.value == '61a591c1233fa7f9abcd5726'){
                        $('.delivery-info').css('display', 'block');
                    }
                    //alert(this.value)
                })

                /*Modal functions*/
                $('#save-cust').click(function() {
                    var custname = $('#custname').val();
                    var custphone = $('#custphone').val();
                    var custaddress = $('#custaddress').val();
                if( custname == ""|| custphone == ""||custaddress == ""){
                    $('#text-warning-customer').text("Some fields are empty!");
                }
                else{
                $.post('/createNewCustomer', {custname,custphone,custaddress}, function(result) {})
                 $('#customerModal').modal('hide');
                 
                }
               
                })

                function capitalize(string){
                    var words = string.toLowerCase().split(' ');
                    for (i=0; i<words.length; i++)
                        words[i] = words[i].charAt(0).toUpperCase() + words[i].substring(1);
                    return words.join(' ');
                };

                function removeItem (elementID){
                    var element = document.getElementById(elementID);
                    element.parentNode.removeChild(element);
                }
                $("#itemDescription" ).autocomplete({
               
                    source: function(request, response) {
                    $.ajax({
                                url: `/getItemNameInvoice?query=${request.term}`,
                                dataType: "json",
                                data: {
                                    //request.term refers to the value currently in the text input
                                    term: request.term,
                                },
                                success: function (data) {
                                    $('#text-warning-new-PO').css('display', 'none')
                                    $("#itemDescription").css("border", "1px solid #DDDDDD");
                                    response(data);
                                }
                         });
                    }, response: function (event, ui) {
                        if (ui.content.length === 0) 
                            $('#text-warning-new-PO').css('display', 'block')

                        else 
                            $('#text-warning-new-PO').css('display','none')
                    }   
                });
                
                $.ui.autocomplete.prototype._renderItem = function (ul, item) {
                 return $("<li></li>")
                .data("item.autocomplete", item)
                .append($("<a></a>").html(item.label))
                .appendTo(ul);
                };

                 $("#customer-Name").autocomplete({
                    source: function(request, response) {
                    $.ajax({
                                url: `/getCustomerList?query=${request.term}`,
                                dataType: "json",
                                data: {
                                    //request.term refers to the value currently in the text input
                                    term: request.term,
                                },
                                success: function (data) {
                                    $('#text-warning-new-PO').css('display', 'none')
                                    $("#customer-Name").css("border", "1px solid #DDDDDD");
                                
                                    response(data);
                              }
                         });
                    }, 
                    response: function (event, ui) {
                       if (ui.content.length === 0) 
                            {
                                ui.content.push({
                                label: '<button id = "addnew" class="custbutton">Add New Customer</button>',
                                button: true
                                 })  
                            }
                        else 
                            {
                            }
                    }
                });
             
                let amount = 0;
                let discountTotal = 0;
                $('#addItem').click(function() {
                   var itemDesc = $('#itemDescription').val();
                   var quantity = $('#qty').val();
                   var discount = $('#discount').val();
                   
                    
                    if(filled(itemDesc, qty) == 0) {
                    $.get('/getItemPrice', {itemDesc}, function (result) {
                        if(quantity > result.quantityAvailable){
                            $('#text-warning-new-invoice').text("Requested amount exceeds available!");
                        }
                        else{
                        var sellingPrice = result.sellingPrice;
                        var dis = discount/100;
                        var discountAmount = parseFloat(sellingPrice * dis).toFixed(2);
                        var totalPrice = parseFloat((sellingPrice*quantity)- discountAmount).toFixed(2);
                        var element = $('#table-body-item-list tr').filter(function(){
                            return this.innerHTML.indexOf(itemDesc) !== -1;
                        })
                        if (element.length){
                            //alert("element at index already inside!")
                            //console.log(element)
                             $('#text-warning-new-invoice').text("Item already exists in cart!");
                        }
                        else
                        {
                        $('#table-body-item-list').append(
                        `<tr>
                            <td class="itemDescription">${itemDesc}</td>
                            <td class="qty">${quantity}</td>
                            <td class="unit">Piece</td>
                            <td class="price">₱${sellingPrice}</td>
                            <td class="discount" style="color:red">₱${discountAmount}</td>
                            <td class = "amount">₱${totalPrice}</td>
                            <td><button class="delete-button add-stock-delete-btn" id="btn-delete-item"><img src="../images/delete-icon.png" height="20px" width="15x" alt="Delete"></button></td>
                        </tr>`);
                        //console.log(amount);
                        
                        }}
                        updateData();
                    })

                }
                function updateData() {
                    var sub = 0;
                    var vat = 0;
                    var discountTotal = 0;
                    var amount = 0;
                    $("#table-body-item-list > tr").each(function () {
                            amount += parseInt($(this).children('.amount').text().replace('₱','')),
                            discountTotal += parseInt($(this).children('.discount').text().replace('₱',''))
                    }); 
                     vat = (amount *.12);
                     sub = (amount - vat);


                        
                        $('#subtotalbox').val(sub);
                        $('#subtotalbox').text(parseFloat(sub).toFixed(2)); 

                        $('#vatbox').val(vat);
                        $('#vatbox').text(parseFloat(vat).toFixed(2));

                        $('#disbox').val(discountTotal);
                        $('#disbox').text(parseFloat(discountTotal).toFixed(2));

                        $('#totbox').val(amount);
                        $('#totbox').text(parseFloat(amount).toFixed(2));
                }
                function DeleteRow(item) {
                 // event.target will be the input element.
                var parent = item.parentNode.parentNode;
                parent.parentNode.removeChild(parent);
                
                }
                $(document).on("click", "#btn-delete-item", function () {
                    DeleteRow(this);
                    updateData();
                })
                    //statement to get item info from db*/

                    
                }) 
             $(document).on("click", ".custbutton", function () {
                $('.modal').modal('show');
                //alert('clicked!');
            }); 
            function invoicefilled(){
                switch($('#drop-down-new-invoice-type').val()){
                    case '61a591c1233fa7f9abcd5726':
                      var errmsg = 'There is no input data in the hightlighted fields!!';
                    var err = 0;
                    if ($('#customer-Name').val()==''){
                    $('#customer-Name').css("border","1px solid red")
                    err +=1;
                    }
                    if ($('#address').val()==''){
                    $('#address').css("border","1px solid red")
                    err +=1;
                    }
                    if($('#contactNumber').val()==''){
                    $('#contactNumber').css("border","1px solid red")
                    err +=1;
                    }
                    if($('#delivery-date').val()==''){
                    $('#delivery-date').css("border","1px solid red")
                    err +=1;
                    }
                    if($('#dropdown-delivery-personnel').val()=='no-selected'){
                    $('#dropdown-delivery-personnel').css("border","1px solid red")
                    err +=1;
                    }
                    if(err >= 1){
                         $('#text-warning-customerdetails').text(errmsg);
                         return 0;
                    }
                    else{
                        $('#text-warning-customerdetails').text('');
                        return 1;
                    }
                    break;
                    case '6197863ac4f0088e95c9bf84':
                     if ($('#customer-Name').val()==''){
                     $('#text-warning-customerdetails').text("Customer field is missing");
                     return 0;
                    }
                    else{
                        return 1;
                    }
                    
                }

            }

               // let i = 0;
                $('#btn-save-invoice').click(function() {
                    var check = invoicefilled();
                    if(check==1){
                    var orderedItems = [];
                     var itemString = JSON.stringify(orderedItems);  
                   
                    
                    var custID = $('#customer-Name').val();
                    var statusID = '0';
                    var address = '';
                    var date =  $('#dateToday').text();
                    var ddate = $('#delivery-date').val();
                    var dnotes = '';

                    var typeID = $('#drop-down-new-invoice-type').val();   
                    var paymentOption = $('#dropdown-payment-type').val();
                    var employeeID = $('#dropdown-delivery-personnel').val();

                    $("#table-body-item-list > tr").each(function () {
                        var item = {
                            invoice_id: '',
                            itemDescription: $(this).children('.itemDescription').text(),
                            quantity: $(this).children('.qty').text(),
                            discount: $(this).children('.discount').text().replace('₱',''),
                        }
                        orderedItems.push(item);
                    }); 
                        switch(typeID){
                        case '61a591c1233fa7f9abcd5726':
                         $('#delivery-date').css("border","1px solid black")
                        if(paymentOption == '61b2de709f9cd4edddf21d64'){
                            statusID = '619785b0d9a967328c1e8fa6'
                        }
                        if(paymentOption == '61b2de7f9f9cd4edddf21d65'){
                            statusID = '619785d78094faf8c10d1484';
                        }
                        if(paymentOption == '61b2de879f9cd4edddf21d66'){
                             statusID = '619785d78094faf8c10d1484';
                        }
                        if(paymentOption == '61b2de8d9f9cd4edddf21d67'){
                            statusID = '61b2df709f9cd4edddf21d68'
                        }
                        break;
                        case '6197863ac4f0088e95c9bf84':
                        if(paymentOption == '61b2de709f9cd4edddf21d64'){
                            statusID = '619785b0d9a967328c1e8fa6'
                        }
                        break;
                    }

                    var subtotal = $('#subtotalbox').val();
                    var VAT = $('#vatbox').val();
                    var discount = $('#disbox').val();
                    var total = $('#totbox').val();
                   

                    $.post('/createNewInvoice', {custID,date,typeID,statusID,paymentOption,subtotal,VAT,discount,total,employeeID,ddate,dnotes,itemString}, function(result) {
                        alert("Tranasction successfully processed");
                        window.location = "/invoices"
                    }) 
                    }
                    else{
                 
                    }
                })
            }) 
        </script>
    </body>
</html>