<!DOCTYPE html>
<html>
    <head>
        <title> Purchase Orders </title>
        <meta name="description" content="Purchase Order List">
        <meta name="keyword" content="Moderna, Purchase Order List">
        <link rel="stylesheet" type="text/css" href="../css/general.css">
        <link rel="stylesheet" type="text/css" href="../css/list.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        
    </head>
    <body>

        {{> logoutPartial }}

        {{#if inventoryAndPurchasing}}
            {{> inventoryAndPurchasingPartial }}
        {{/if}}

        {{#if manager}}
            {{> managerPartial }}
        {{/if}}

        <div class="content">        
            <div class="fixed-div">
                <h1 class="bold" style="padding-bottom: 15px;"> Purchase Orders </h1>
                <div> 
                    <div class="search" style="width: 40%">
                            <input type="text" placeholder="Search" name="search" id="search-field">
                            <button type="submit" id="search-button"><i class="fa fa-search" ></i></button>
                    </div>
                   
                    <div class="btn-new-PO"><button class="btn btn-primary" id="btn-new-PO" style="float: right;" data-toggle="modal" data-target="#modal-PO-type">+ New PO</button></div>
                    
                </div>
                
                <br>

                <label for="dropdown-po-status" style="margin-right: 10px">Status</label>
                <select class="dropdown" id="dropdown-po-status" style="margin-right: 10px">
                    <option value="all-type" selected>All</option>
                        {{#each statuses}}
                            <option value="{{purchaseOrderStatus}}">{{purchaseOrderStatus}}</option>
                        {{/each}}
                </select>

                <div style="height: 20px"></div>
            </div>

                <table class="table" id="table-po">
                    <thead class="table-head" style="top: 240px;">
                        <tr>
                            <th>Date</th>
                            <th>PO</th>
                            <th>Supplier</th>
                            <th>Amount</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody> 
                        <!-- align accordingly -->
                        {{#each purchases}}
                            <tr class="link" style="cursor: pointer" data-href="/purchaseOrder/{{poID}}">
                                <td>{{date}}</td>
                                <td style="text-align: right">{{poNumber}}</td>
                                <td>{{supplier}}</td>
                                <td style="text-align:right;">₱ {{amount}}</td>
                                <td class="btn-status btn-{{status}} status-id">{{status}}</td>

                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="modal-PO-type" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="exampleModalLongTitle">Choose Purchase Order Type</h3>
                        </div>
                        <div class="modal-body">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="PO-type" id="radio-generate" value="generate" checked>
                                <label class="form-check-label" for="exampleRadios1">
                                    Generate Purchase Order
                                </label>
                                </div>
                                <div class="form-check">
                                <input class="form-check-input" type="radio" name="PO-type" id="radio-manual" value="manual">
                                <label class="form-check-label" for="exampleRadios2">
                                    Manual Purchase Order
                                </label>
                                </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="modal-btn-grey" data-dismiss="modal">Cancel</button>
                            <button type="button" class="modal-btn-light-blue" id="btn-PO-type-choice">Continue</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            
            $(document).ready(function() {
                 $(".link").click(function() {
                    window.location = $(this).data("href");
                });

                $('#btn-PO-type-choice').click(function() {
                    var radioVal = $("input[name='PO-type']:checked").val();

                    if (radioVal == "generate") {
                        window.location = "/generatePurchaseOrder";
                    } else if (radioVal == "manual") {
                        window.location = "/newPurchaseOrder";
                    }
                })

                $('#dropdown-po-status').change(function() {
                    $('#table-po tr').show();
                    var filter = $('#dropdown-po-status').val();
                     $('#search-field').val(null);
                    
                    $('#table-po > tbody > tr').each(function(index) {
                        var statusID = $(this).children('.btn-status').text()
                        if (filter != statusID && filter!="all-type")
                            $(this).toggle();
                    })
                })

                /*$('#search-field').keyup(function() {
                     $('#table-po tr').show();
                    var searchItem = $(this).val().toLowerCase();
                 
                    $('#table-po > tbody > tr').each(function(index) {
                        var poNumber = $(this).children('td:eq(1)').text();
                        var supplierName = $(this).children('td:eq(2)').text().toLowerCase();

                        if (!poNumber.includes(searchItem) && !supplierName.includes(searchItem))
                            $(this).toggle();
                    })
                })*/

                $('#search-button').click(function() {
                    $('#table-po tr').show();
                    var searchItem = $('#search-field').val().toLowerCase();
                 
                    $('#table-po > tbody > tr').each(function(index) {
                        var poNumber = $(this).children('td:eq(1)').text();
                        var supplierName = $(this).children('td:eq(2)').text().toLowerCase();

                        if (!poNumber.includes(searchItem) && !supplierName.includes(searchItem))
                            $(this).toggle();
                    })
                })
            })
        </script>
    </body>
</html>