<!DOCTYPE html>
<html>
    <head>
        <title> Purchases Report </title>
        <meta name="description" content="Purchases Report">
        <meta name="keyword" content="Moderna, Purchases Report">
        <link rel="stylesheet" type="text/css" href="../css/general.css">
        <link rel="stylesheet" type="text/css" href="../css/list.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        
    </head>
    <body>

        {{> logoutPartial }}

        {{> managerPartial }}

        <div class="content">        
            <div class="fixed-div">
                <div style="display: flex;">
                    <div style="width: 50%"><h1 class="bold">Purchases Report</h1></div>
                    <div style="width: 50%;">
                        <h3 style="text-align: right;">As of {{today}}</h3>
                    </div>
                </div>
                <div style="display: flex; justify-content: flex-end; align-items:center;">
                    <label class="date-label" for="start-date" style="padding-top: 7px; padding-right: 5px">Start Date</label>
                    <input style="height: 34px" type="date" id="start-date" name="start-date">
                    <label class="date-label" style="margin-left: 10px; padding-top: 7px; padding-right: 5px;" for="end-date">End Date</label>
                    <input style="height: 34px" type="date" id="end-date" name="end-date">
                    <button type="submit" style="height: 34px; margin-left: 10px" id="purchase-report-button"><i class="fa fa-search"></i></button>
                    <div style="height: 64px"></div>
                </div>
            </div>

                <table class="table">
                    <thead class="table-head">
                        <tr>
                            <th>Date Ordered</th>
                            <th>PO #</th>
                            <th>Supplier</th>
                            <th>Date Received</th>
                            <th>Amount Paid</th>
                        </tr>
                    </thead>
                    <tbody id="table-purchase-report-body"> 
                        {{#each purchases}}
                            <tr>
                                <td>{{dateMade}}</td>
                                <td>{{poNumber}}</td>
                                <td>{{supplier}}</td>
                                <td>{{dateReceived}}</td>
                                <td style="text-align: right;">₱ {{amountPaid}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
                <div class="summary-total-container" style= "margin-top: 10px;">    
                    <div class="summary-total-text">Total Purchases</div>
                    <div class="summary-info-container"><div id="purchases-total" class="summary-total-info">₱ {{total}}</div></div>
                </div>
                <div class="btn-new-PO">
                    <button class="btn-dark-blue" id="btn-export" style="margin-top: 10px; margin-bottom: 10px;">Export</button>
                </div> 
            </div>
        </div>

        <script>
            
            $(document).ready(function() {
                 $("#purchase-report-button").click(function() {
                    var startDate = $("#start-date").val();
                    var endDate = $("#end-date").val();

                    if (startDate == null || startDate == "" || endDate == null || endDate == "") {
                        if (startDate == null || startDate == "")
                            $("#start-date").css("border", "1px solid #B00000")

                        if (endDate == null || endDate == "")
                            $("#end-date").css("border", "1px solid #B00000")
                    } else {
                        var convertedStartDate = new Date(startDate);
                        var convertedEndDate = new Date(endDate);

                        if(convertedStartDate > convertedEndDate) {
                            // end date is before start date 
                            $("#start-date").css("border", "1px solid #B00000");
                            $("#end-date").css("border", "1px solid #B00000");
                        }
                        else {
                            // valid dates
                            $("#start-date").css("border", "1px solid #DDDDDD");
                            $("#end-date").css("border", "1px solid #DDDDDD");

                            $.get("/getFilteredPurchaseReport", {startDate: convertedStartDate, endDate: convertedEndDate}, function (result) {

                                $("#table-purchase-report-body tr").remove();
                                var total = 0;

                                for (var i = 0; i < result.length; i++) {
                                    var amountPaid = result[i].amountPaid.toLocaleString('en-US')
                                    $("#table-purchase-report-body").append(
                                        `  <tr> 
                                            <td>${result[i].dateMade}</td>
                                            <td>${result[i].poNumber}</td>
                                            <td>${result[i].supplier}</td>
                                            <td>${result[i].dateReceived}</td>
                                            <td>₱ ${amountPaid}</td>
                                        </tr>`
                                    );
                                    total += parseFloat(result[i].amountPaid);
                                }

                                $("#purchases-total").text("₱ " + total.toLocaleString('en-US'));

                                    $.get("/getDateToday", {}, function (result2) {
                                        $("#date-today").text(result2);
                                    });
                            });
                        }
                    }
                });
            })
        </script>
    </body>
</html>