<!DOCTYPE html>
<html>
    <head>
        <title> Return </title>
        <meta name="description" content="Return">
        <meta name="keyword" content="Moderna, Return">
        <link rel="stylesheet" type="text/css" href="../css/general.css">
        <link rel="stylesheet" type="text/css" href="../css/information.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        <!--<link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>-->
        <link rel="stylesheet" type="text/css" href="../jquery-ui-themes-1.13.0/themes/ui-lightness/jquery-ui.css">
        <script src="../jquery-ui/jquery-ui.min.js"></script>
    </head>
    <body>

        <!-- PARTIALS -->
        <div id="navbar"> 
            <div class="navbar-logo"> <img src="../images/Kamuning.png" alt="Kamuning Hardware Logo" width="200" height="65"></div>
            <div class="navbar-logout"> <a href= "login.html">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                    <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                </svg>
            </a>
            </div>
        </div>

        <div class="sidebar">
            <a href="#">Home</a>
            <a href="#">Deliveries</a>
            <a href="#">Customers</a>
        </div>

        <div class="content">
            <div> <!-- ADD FIXED -->
                <div style="display: flex;">
                    <div style="width: 50%"><h1 class="bold"> Invoice #{{invoiceInfo.invoiceID}} </h1></div>
                    <div class="btn-status">
                        <h3>MM/DD/YYYY</h3>
                    </div>
                </div>
            </div> 
            <hr>

            <div style="display: flex; align-content: center; align-items: center;">
                <label for="dropdown-return-type" style="margin-right: 10px">Type</label>
                <select class="dropdown" id="dropdown-return-type" style="margin-right: 10px">
                    {{#each types}}
                        <option value="{{_id}}">{{type}}</option>
                    {{/each}}
                </select>

                <label for="dropdown-payment-type" style="margin-right: 10px">Payment Type</label>
                <select class="dropdown" id="dropdown-payment-type" style="margin-right: 10px">
                        {{#each paymentTypes}}
                            <option value="{{_id}}">{{paymentOption}}</option>
                        {{/each}}
                    </select>
                
                <div class="delivery-info" style="display: none;">
                    <label class="date-label" for="delivery-date">Delivery Date</label>
                    <input style="height: 34px" type="date" id="delivery-date" name="delivery-date">

                    <label for="dropdown-delivery-personnel" style="margin-right: 10px">Delivery Personnel</label>
                    <select class="dropdown" id="dropdown-delivery-personnel" style="margin-right: 10px">
                        <option value="no-selected">--Select Delivery Personnel--</option>
                        {{#each deliveryPersonnel}}
                            <option value="{{_id}}">{{name}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>

            <div class="header-colored-bg" style="margin-top: 15px; margin-bottom: 10px">
                <h3 class ="bold header-text">Customer Details</h3>
            </div>

            <div>
                 <input style="margin-top: 15px;" type="text" class="form-control margin-bottom-10" id="customerName" name="customerName" placeholder="Customer Name" value="{{customerInfo.name}}">
                 <p class="error" id="error-customer-name" style="margin-bottom: 5px;"></p>
                 <div class="delivery-info" style="display: none;">
                    <textarea class="form-control margin-bottom-10" id="address" name="address" placeholder="Address">{{customerInfo.address}}</textarea> <!--style="display:none"-->
                    <input type="text" class="form-control margin-bottom-10" id="contactNumber" name="contactNumber" placeholder="Contact Number" value="{{customerInfo.number}}"> <!--style="display:none"-->
                    <textarea class="form-control" id="delivery-notes" name="notes" placeholder="Delivery Notes"></textarea>
                </div>
            </div>


                <div class="header-colored-bg" style="margin-top: 40px; margin-bottom: 10px">
                    <h3 class ="bold bold header-text">Order Details</h3>
                </div>
                
                <h3 class ="bold">Return Items</h3>

                    <table class="table" id="table-return-order-details">
                        <thead style="background-color: #2F5D62; color: white">
                            <tr>
                                <th>Item Description</th>
                                <th style="display: none;">Qty Purchased</th>
                                <th>Qty</th>
                                <th>Unit</th>
                                <th>Unit Price</th>
                                <th>Discount</th>
                                <th>Amount</th>
                                <th>Return</th>
                                <th>Reason</th>
                            </tr>
                        </thead>
                        <tbody> 
                            {{#each invoiceItems}}
                                <tr class="return-row">
                                    <td class="return-item-desc">{{itemDescription}}</td>
                                    <td style="display: none" class="quantity-purchased">{{quantity}}</td>
                                    <td><input class="return-quantity" type="number" value="{{quantity}}" style="width:70px" disabled></td>
                                    <td class="unit">{{unit}}</td>
                                    <td class="return-unit-price">₱ {{unitPrice}}</td>
                                    <td class="return-discount">₱ {{discount}}</td>
                                    <td class="return-amount">₱ {{amount}}</td>
                                    <td>
                                        <input type="checkbox" class="return-check">
                                    </td>
                                    <td>
                                        <select class= "dropdown return-reason" style="height: 30px" disabled>
                                            <option value="no-selected" selected>--Select Reason--</option>
                                            {{#each returnReasons}}
                                                <option value="{{_id}}">{{reason}}</option>
                                            {{/each}}
                                        </select>
                                    </td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>

                    <div class="display-flex" style="margin-top: 30px">
                        <h3 class ="bold h3-left">Add New Item</h3>
                    </div>

                    <hr style="margin-top: 0px; margin-bottom: 10px;">

                    <form>
                        <input style="margin-top: 5px; margin-bottom: 0px; width: 150px; float: left; margin-right: 10px" type="text" class="form-control" id="return-add-item-description" name="return-add-item-description" placeholder="Item Description">
                         <select class="dropdown" id="dropdown-item-unit" style="margin-top: 5px; margin-bottom: 0px; width: 150px; float: left; margin-right: 10px">
                            <option value="no-selected">--Unit--</option>
                        </select>
                        <input style="margin-top: 5px; margin-bottom: 0px; width: 150px; float: left; margin-right: 10px; text-align: right;" type="text" class="form-control" id="return-add-item-qty" name="return-add-item-qty" placeholder="Qty">
                        <input style="margin-top: 5px; margin-bottom: 0px; width: 150px; float: left; margin-right: 10px; text-align: right;" type="text" class="form-control" id="return-add-item-discount" name="return-add-item-discount" placeholder="Discount">
                        <input style="margin-top: 5px; margin-bottom: 0px; float: left; height: 34px; width: 34px; background-color: #0F84D9; border: #0F84D9; border-radius: 7px; color: white;" type="button" id="return-add-item" name="return-add-item-addItem" value="+">
                    </form>

                    <div style="height: 45px"></div>

                    <div id="div-warning-return-new-item">
                        <p id="text-warning" style="color: red; display: none;"></p>
                    </div>

                    <table class="table" id="table-return-new-item">
                        <thead style="background-color: #2F5D62; color: white">
                            <tr>
                                <th>Item Description</th>
                                <th>Qty</th>
                                <th>Unit</th>
                                <th>Unit Price</th>
                                <th>Discount</th>
                                <th>Amount</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="table-return-new-item-body"> 
                            
                        </tbody>
                    </table>

                    <input style="margin-top: 5px; margin-bottom: 0px; width: 150px; float: right; text-align: right;" type="number" class="form-control margin-bottom-10" id="total-discount" name="discount" placeholder="Discount">

                    <br> 
                    <br> 
                    <br> 
                    <div class="summary-container">
                        <div class="summary-text">Subtotal</div>
                        <div class="summary-info-container"><div class="summary-info" id="subtotal">₱ {{invoiceInfo.subtotal}}</div></div>
                    </div>
                    <div class="summary-container">
                        <div class="summary-text">VAT</div>
                        <div class="summary-info-container"><div class="summary-info" id="vat">₱ {{invoiceInfo.VAT}}</div></div>
                    </div>
                    <div class="summary-container">    
                        <div class="summary-text">Discount</div>
                        <div class="summary-info-container"><div class="summary-info" id="discount">₱ {{invoiceInfo.discount}}</div></div>
                    </div>
                    <div class="summary-container">
                        <div class="summary-text">Order Total</div>
                        <div class="summary-info-container"><div class="summary-info" id="orderTotal">₱ {{invoiceInfo.total}}</div></div>
                    </div>

                    <hr style="margin-top: 0px; margin-bottom: 10px;">

                    <div class="summary-container">
                        <div class="summary-text">Paid by Customer</div>
                        <div class="summary-info-container"><div class="summary-info" id="paid">₱ {{invoiceInfo.total}}</div></div>
                    </div>

                    <div class="summary-container">
                        <div class="summary-text">Refunded Amount</div>
                        <div class="summary-info-container"><div class="summary-info" id="refund">₱ 0</div></div>
                    </div>

                    <div class="summary-container">
                        <div class="summary-text">Balance</div>
                        <div class="summary-info-container"><div class="summary-info" id="balance">₱ 0</div></div>
                    </div>


                    <hr style="margin-top: 0px; margin-bottom: 10px;">

                    <div class="summary-container">
                        <div class="summary-text">Total</div>
                        <div class="summary-info-container"><div class="summary-info" id="total">₱ 0</div></div>
                    </div>

                    <div style="height: 10px"></div>

                    <div>
                        <div style="display: flex;">
                            <div style="width: 50%"><div class="btn-cancel-invoice"><button class="btn-light-grey" id="btn-save-invoice" style="margin-bottom: 10px;">Cancel</button></div></div>
                            <div class="btn-save-return btn-status"><button class="btn-light-blue" id="btn-save-return" style="margin-bottom: 10px;" >Save</button></div>
                        </div>
                    </div>

                    <div class="btn-export-invoice"><button class="btn-dark-blue" id="btn-export-invoice">Export</button></div>

                    <div style="height: 20px"></div>
        </div>

        <script>
            $(document).ready(function(){

                $('#dropdown-return-type').change(function() {
                    var val = $('#dropdown-return-type option:selected').text();

                    if (val == "In-Store") {
                        $('.delivery-info').css('display', 'none')
                    }
                    else
                        $('.delivery-info').css('display', 'block')
                })

                //should be for delivery only
                $("#customerName").autocomplete({
                    source: function(request, response) {
                    $.ajax({
                                url: `/getCustomerName?query=${request.term}`,
                                dataType: "json",
                                data: {
                                    //request.term refers to the value currently in the text input
                                    term: request.term
                                },
                                success: function (data) {
                                    response(data);
                                }
                         });
                    }, response: function (event, ui) {
                        if (ui.content.length === 0) {
                            $("#customerName").css("border", "1px solid #B00000");
                            $("#error-customer-name").text("Customer does not exist")
                            $("#btn-save-return").prop("disabled", true);
                            $("#btn-save-return").css("background-color", "#b3b3b3");
                        }
                        else {
                            $("#customerName").css("border", "1px solid #DDDDDD");
                            $('#error-customer-name').text('')
                            $("#btn-save-return").prop("disabled", false);
                            $("#btn-save-return").css("background-color", "#0F84D9");
                        }
                    }, select: function(event, ui) {
                        var customerName = ui.item.label;
                        $.get('/getCustomerInformation', {customerName}, function(result) {
                            $('#contactNumber').val(result.number);
                            $('#address').val(result.address)
                            $("#customerName").css("border", "1px solid #DDDDDD");
                            $('#error-customer-name').text("")
                            $("#error-customer-name").css("display", "none");
                            $("#btn-save-return").prop("disabled", false);
                            $("#btn-save-return").css("background-color", "#0F84D9");
                        })
                    }
                });

                $("#return-add-item-description").autocomplete({
                    source: function(request, response) {
                    $.ajax({
                                url: `/getItemName?query=${request.term}`,
                                dataType: "json",
                                data: {
                                    //request.term refers to the value currently in the text input
                                    term: request.term
                                },
                                success: function (data) {
                                    response(data);
                                }
                         });
                    }, response: function (event, ui) {
                        if (ui.content.length === 0) {
                            
                        }

                        else {
                            
                        }
                    }, select: function(event, ui) {
                        var itemDesc = ui.item.label;
                        $.get('/getItemUnits', {itemDesc}, function(result) {
                            for (var i=0; i<result.length; i++) {
                                $('#dropdown-item-unit').append(`
                                    <option value="${result[i].id}">${result[i].unit}</option>
                                `)
                            }
                        }); 
                    }
                });

                $('#total-discount').keyup(function() {
                    computeTotal()
                })

                $('.return-check').change(function() {
                    if ($(this).is(":checked")) {
                        $(this).parents('tr').find(".return-quantity").prop('disabled', false)
                        $(this).parents('tr').find(".return-reason").prop('disabled', false)
                    }
                    else {
                        $(this).parents('tr').find(".return-quantity").prop('disabled', true)
                        $(this).parents('tr').find(".return-reason").prop('disabled', true)
                    }
                    computeTotal();
                });

                $('.return-quantity').keyup(function () {
                    if (parseInt($(this).parents('tr').find('.return-quantity').val()) > parseInt($(this).parents('tr').find('.quantity-purchased').text())){
                        $(this).parents('tr').find(".return-quantity").css("border", "2px solid #B00000");
                        alert("Quantity returned cannot be greater than quantity purchased");
                        $("#btn-save-return").prop("disabled", true);
                        $("#btn-save-return").css("background-color", "#b3b3b3");
                    }
                    else {
                        $(this).parents('tr').find(".return-quantity").css("border", "1px solid #DDDDDD");
                        $("#btn-save-return").prop("disabled", false);
                        $("#btn-save-return").css("background-color", "#0F84D9");
                        computeTotal()
                    }
                })

                $("#table-return-new-item-body").on('click','.delete-item-btn',function() {
                    $(this).closest('tr').remove();
                    computeTotal();
                });

                function customerNameFilled() {
                    var customerName = $('#customerName').val();
                    if (customerName == '') {
                            $("#customerName").css("border", "1px solid #B00000");
                            $("#error-customer-name").text("Customer name cannot be empty")
                            $("#btn-save-return").prop("disabled", true);
                            $("#btn-save-return").css("background-color", "#b3b3b3");
                            $('#contactNumber').val('')
                            $('#address').val('')
                            return false
                        }
                        else {
                            $("#customerName").css("border", "1px solid #DDDDDD");
                            $('#error-customer-name').text('')
                            $("#btn-save-return").prop("disabled", false);
                            $("#btn-save-return").css("background-color", "#0F84D9");
                            return true
                        }
                }

                function deliveryInfoFilled() {
                    var deliveryDate = $('#delivery-date').val()
                    var paymentType = $('#dropdown-payment-type').val()
                    var deliveryPersonnel = $('#dropdown-delivery-personnel').val()

                    var address = $('#address').val()
                    var contactNumber = $('#contactNumber').val()

                    //inputs are complete
                    if (deliveryDate && paymentType!="no-selected" && deliveryPersonnel!="no-selected" && address!="" && contactNumber!="") {
                        $('#delivery-date').css("border", "1px solid #DDDDDD")
                        $('#dropdown-payment-type').css("border", "1px solid #DDDDDD")
                        $('#dropdown-delivery-personnel').css("border", "1px solid #DDDDDD")
                        $('#address').css("border", "1px solid #DDDDDD")
                        $('#contactNumber').css("border", "1px solid #DDDDDD")
                        return true
                    }
                    else {
                        if (!deliveryDate) //delivery date is blank
                            $('#delivery-date').css("border", "2px solid #B00000");
                        else
                            $('#delivery-date').css("border", "1px solid #DDDDDD")

                        if (paymentType == "no-selected")
                            $('#dropdown-payment-type').css("border", "2px solid #B00000");
                        else
                            $('#dropdown-payment-type').css("border", "1px solid #DDDDDD")

                        if (deliveryPersonnel == "no-selected")
                            $('#dropdown-delivery-personnel').css("border", "2px solid #B00000")
                        else
                            $('#dropdown-delivery-personnel').css("border", "1px solid #DDDDDD")

                        if (address == "")
                            $('#address').css("border", "2px solid #B00000");
                        else
                            $('#address').css("border", "1px solid #DDDDDD")

                        if (contactNumber == "")
                            $('#contactNumber').css("border", "2px solid #B00000");
                        else
                            $('#contactNumber').css("border", "1px solid #DDDDDD")

                        return false
                    }
                }


                function allFilled() {
                    var invoiceType = $('#dropdown-return-type option:selected').text()
                    var noReason = false

                    $('#table-return-order-details > tbody > tr').each(function() {
                        if ($(this).find('.return-check').is(":checked")) {
                            //no selected return reason
                            if ($(this).find('.return-reason').val() == "no-selected") {
                                noReason = true
                                $(this).find('.return-reason').css("border", "2px solid #B00000")
                            }
                            else {
                                $(this).find('.return-reason').css("border", "1px solid #DDDDDD")
                            }
                        }
                    })
                    if (noReason)
                        alert("Select return reason for items");


                    if (invoiceType == "In-Store") {
                        if (customerNameFilled()) 
                            return true
                        else
                            return false
                    }

                    else if (invoiceType == "Delivery") {
                        if (customerNameFilled() && deliveryInfoFilled())
                            return true
                        else
                            return false
                    }

                }

                function computeTotal() {
                    var balance = 0;
                    var orderTotal = 0;
                    var discount = 0;
                    var refund = 0;
                    var newItemsTotal = 0

                    var paid = $('#paid').text().slice(1)

                    $('#table-return-order-details > tbody > tr').each(function() {
                        //item to be returned, either added to shrinkage or added back to inventory
                        var quantity = $(this).find('.return-quantity').val()
                        if (quantity == "" || quantity == NaN)
                            quantity = 0

                        if ($(this).find('.return-check').is(":checked")) 
                            refund += (quantity * parseFloat($(this).children('.return-unit-price').text().slice(1)))

                        else 
                            orderTotal += (quantity * parseFloat($(this).children('.return-unit-price').text().slice(1)))    

                        if ((quantity*parseFloat($(this).children('.return-unit-price').text().slice(1))) != parseFloat($(this).children('.return-amount').text().slice(1))) {
                            orderTotal += (parseFloat($(this).children('.return-amount').text().slice(1)) - (quantity * parseFloat($(this).children('.return-unit-price').text().slice(1))))
                        }
                    })

                    $('#table-return-new-item-body > tr').each(function() {
                        var amount = parseFloat($(this).find('.amount').text().slice(1))
                        orderTotal += parseFloat(amount)
                        //newItemsTotal += parseFloat(amount)
                    })

                    var discountTotal = $('#total-discount').val()
                    //there is discount
                    if (discountTotal != "")
                        discount = orderTotal * (discountPercent/100)

                    orderTotal -= discount
                    var subtotal = orderTotal/1.12
                    var vat = orderTotal - subtotal

                    var total = orderTotal - paid
                    
                    $('#subtotal').text("₱ " + parseFloat(subtotal).toFixed(2))
                    $('#vat').text("₱ " + parseFloat(vat).toFixed(2))
                    $('#discount').text("₱ " + parseFloat(discount).toFixed(2))
                    $('#orderTotal').text("₱ " + parseFloat(orderTotal).toFixed(2))

                    $('#refund').text("₱ " + parseFloat(refund).toFixed(2))
                    //$('#balance').text("₱ " + parseFloat(balance).toFixed(2))
                    $('#total').text("₱ " + parseFloat(total).toFixed(2))
                }


                $('#return-add-item').click(function() {
                    var itemDesc = $('#return-add-item-description').val()
                    var quantity = $('#return-add-item-qty').val()
                    var discount = $('#return-add-item-discount').val()
                    if (discount == "")
                        discount = 0
                    var unit = $("#dropdown-item-unit option:selected").text()
                    var unitID = $('#dropdown-item-unit').val();

                    $.get('/getItemPrice', {itemDesc, quantity, unitID}, function (result) {
                        if(quantity < result.quantityAvailable) {
                            var sellingPrice = result.sellingPrice;
                            var totalPrice = parseFloat((sellingPrice*quantity)- discount).toFixed(2);

                            $('#table-return-new-item-body').append(
                                `<tr>
                                    <td class="itemDesc">${itemDesc}</td>
                                    <td class="quantity">${quantity}</td>
                                    <td class="unit">${unit}</td>
                                    <td class="unitPrice">₱ ${sellingPrice}</td>
                                    <td class="discount">₱ ${discount}</td>
                                    <td class = "amount">₱ ${totalPrice}</td>
                                    <td> <button class="delete-button delete-item-btn"><img src="../images/delete-icon.png" height="20px" width="15x" alt="Delete"></button> </td>
                                </tr>`)

                            computeTotal()
                            $('#text-warning').css('display', 'none')
                            $('#return-add-item-description').val('')
                            $('#return-add-item-qty').val('')
                            $('#return-add-item-discount').val('')
                        }

                        else {
                            $('#text-warning').text("Cannot add Item. There is not enough quantity for the item.")
                            $('#text-warning').css('display', 'block')
                        }
                    })
                })

                $('#btn-save-return').click(function () {
                    var returns = []
                    var newInvoiceItems = []

                    var address = window.location.pathname.split('/');
                    var oldInvoiceID = address[address.length -1]

                    if (allFilled()) {

                        $('#table-return-order-details > tbody > tr').each(function() {
                            //item to be returned, either added to shrinkage or added back to inventory
                            if ($(this).find('.return-check').is(":checked")) {
                                var returnItem = {
                                    itemDesc: $(this).children('.return-item-desc').text(),
                                    unit:$(this).children('.unit').text(),
                                    quantity: $(this).find('.return-quantity').val(),
                                    reason: $(this).find('.return-reason').val(),
                                    discount: $(this).children('.return-discount').text().slice(1)
                                }
                                returns.push(returnItem)
                            } 
                            else {
                                var invoiceItem = {
                                    itemDesc: $(this).children('.return-item-desc').text(),
                                    unit:$(this).children('.unit').text(),
                                    quantity: $(this).find('.return-quantity').val(),
                                    discount: $(this).children('.return-discount').text().slice(1)
                                }
                                newInvoiceItems.push(invoiceItem);
                            }
                        })

                        $('#table-return-new-item-body > tr').each(function() {
                            var invoiceItem = {
                                itemDesc: $(this).children('.itemDesc').text(),
                                unit:$(this).children('.unit').text(),
                                quantity: $(this).children('.quantity').text(),
                                discount: $(this).children('.discount').text().slice(1)
                            }
                            newInvoiceItems.push(invoiceItem);
                        })

                        var invoiceType = $('#dropdown-return-type').val()
                        var deliveryInfo
                        //order is a delivery
                        if (invoiceType == "61a591c1233fa7f9abcd5726") {
                            var invoiceInfo = {
                                customerName: $('#customerName').val(),
                                invoiceType: invoiceType,
                                statusID: "619785d78094faf8c10d1484",
                                paymentOptionID:$('#dropdown-payment-type').val(),
                                subtotal: parseFloat($('#subtotal').text().slice(1)),
                                vat: parseFloat($('#vat').text().slice(1)),
                                discount: parseFloat($('#discount').text().slice(1)),
                                total: parseFloat($('#total').text().slice(1))
                            }

                            deliveryInfo = {
                                deliveryDate: new Date($('#delivery-date').val()),
                                deliveryPersonnel: $('#dropdown-delivery-personnel').val(),
                                deliveryNotes: $('#delivery-notes').val()
                            }
                        }
                        else {
                            var invoiceInfo = {
                                customerName: $('#customerName').val(),
                                invoiceType: invoiceType,
                                statusID: "619785b0d9a967328c1e8fa6",
                                paymentOptionID: $('#dropdown-payment-type').val(),
                                subtotal: parseFloat($('#subtotal').text().slice(1)),
                                vat: parseFloat($('#vat').text().slice(1)),
                                discount: parseFloat($('#discount').text().slice(1)),
                                total: parseFloat($('#total').text().slice(1))
                            }
                            deliveryInfo= {}
                        }

                        var invoiceInfoString = JSON.stringify(invoiceInfo)
                        var returnsString = JSON.stringify(returns)
                        var newInvoiceItemsString = JSON.stringify(newInvoiceItems)
                        var deliveryInfoString = JSON.stringify(deliveryInfo)
                        $.post('/saveReturn', {oldInvoiceID, invoiceInfoString, returnsString, newInvoiceItemsString, deliveryInfoString}, function(result) {
                                alert("Return processed")
                                window.location = `/invoices/${result}`;
                        })   

                    }
                    else
                        alert("Please fill out the necessary information")

                    
                })

            })
        </script>
    </body>
</html>