<!DOCTYPE html>
<html>
    <head>
        <title> Sales Report </title>
        <meta name="description" content="Sales Report">
        <meta name="keyword" content="Moderna, Sales Report">
        <link rel="stylesheet" type="text/css" href="../css/general.css">
        <link rel="stylesheet" type="text/css" href="../css/list.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        
    </head>
    <body>

        {{> logoutPartial }}

        {{> managerPartial }}

        <div class="content">        
            <div class="fixed-div">
                <div style="display: flex;">
                    <div style="width: 50%"><h1 class="bold">Sales Report</h1></div>
                    <div style="width: 50%;">
                        <h3 style="text-align: right;" id="date-today">As of {{today}}</h3>
                    </div>
                </div>
                <div style="display: flex; justify-content: flex-end; align-items:center;">
                    <label class="date-label" for="start-date" style="padding-top: 7px; padding-right: 5px">Start Date</label>
                    <input style="height: 34px" type="date" id="start-date" name="start-date">
                    <label class="date-label" style="margin-left: 10px; padding-top: 7px; padding-right: 5px;" for="end-date">End Date</label>
                    <input style="height: 34px" type="date" id="end-date" name="end-date">
                    <button type="submit" style="height: 34px; margin-left: 10px" id="sales-report-button"><i class="fa fa-search"></i></button>
                    <div style="height: 64px"></div>
                </div>
            </div>

                <table class="table" id="table-sales-report">
                    <thead class="table-head">
                        <tr>
                            <th>Date</th>
                            <th>Invoice #</th>
                            <th>Gross Total</th>
                            <th>Discount</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody> 
                        {{#each formattedInvoices}}
                            <tr class="link" style="cursor: pointer" data-href="/invoices/{{invoice_id}}">
                                <td>{{date}}</td>
                                <td>{{invoiceID}}</td> <!--right align??--> 
                                <td style="text-align: right;">₱ {{gross}}</td>
                                <td style="text-align: right;">₱ {{discount}}</td>
                                <td style="text-align: right;">₱ {{total}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
                <div class="summary-total-container" style= "margin-top: 10px;">    
                    <div class="summary-total-text">Total Sales</div>
                    <div class="summary-info-container"><div id="sales-total" class="summary-total-info">₱ {{total}}</div></div>
                </div>
                <div class="btn-new-PO">
                    <a id="download-link" href="" download></a>
                    <button class="btn-dark-blue" id="btn-export" style="margin-top: 10px; margin-bottom: 10px;">Export</button>
                </div> 
            </div>
        </div>
         <script>
            $(document).ready(function() {

                $(".link").click(function() {
                    window.location = $(this).data("href");
                });

                
                $("#sales-report-button").click(function() {
                    var startDate = $("#start-date").val();
                    var endDate = $("#end-date").val();

                    if (startDate == null || startDate == "" || endDate == null || endDate == "") {
                        if (startDate == null || startDate == "")
                            $("#start-date").css("border", "1px solid #B00000")

                        if (endDate == null || endDate == "")
                            $("#end-date").css("border", "1px solid #B00000")
                    } else {
                        var convertedStartDate = new Date(startDate);
                        var convertedEndDate = new Date(endDate);

                        if(convertedStartDate > convertedEndDate) {
                            // end date is before start date 
                            $("#start-date").css("border", "1px solid #B00000");
                            $("#end-date").css("border", "1px solid #B00000");
                        }
                        else {
                            // valid dates
                            $("#start-date").css("border", "1px solid #DDDDDD");
                            $("#end-date").css("border", "1px solid #DDDDDD");

                            $.get("/getFilteredSalesReport", {startDate: convertedStartDate, endDate: convertedEndDate}, function (result) {

                                $("#table-sales-report tbody tr").remove();
                                var total = 0;

                                for (var i = 0; i < result.length; i++) {
                                    $("#table-sales-report").find("tbody").append(
                                        `  <tr> 
                                                <td>${result[i].date}</td>
                                                <td>${result[i].invoiceID}</td>
                                                <td style="text-align: right;">₱ ${result[i].subtotal}</td>
                                                <td style="text-align: right;">₱ ${result[i].discount}</td>
                                                <td style="text-align: right;">₱ ${result[i].total}</td>
                                        </tr>`
                                    );

                                    total += parseFloat(result[i].total);
                                }

                                $("#sales-total").text("₱ " + total.toFixed(2));

                                    $.get("/getDateToday", {}, function (result2) {
                                        $("#date-today").text(result2);
                                    });
                            });
                        }
                    }
                });

                $('#btn-export').click(function() {
                    var startDate = $("#start-date").val();
                    var endDate = $("#end-date").val();

                    $.get('/exportSales', {startDate, endDate}, function(result) {
                        $('#download-link').attr('href', '/documents/'+result)
                        $('#download-link')[0].click()
                    })
                })
            })
        </script>
    </body>
</html>