<!DOCTYPE html>
<html>
    <head>
        <title> Sales Per Customer Report </title>
        <meta name="description" content="Sales Per Customer Report">
        <meta name="keyword" content="Moderna, Sales Per Customer Report">
        <link rel="stylesheet" type="text/css" href="../css/general.css">
        <link rel="stylesheet" type="text/css" href="../css/list.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        
        <link rel="stylesheet" type="text/css" href="../jquery-ui-themes-1.13.0/themes/ui-lightness/jquery-ui.css">
        <script src="../jquery-ui/jquery-ui.min.js"></script>
    </head>
    <body>

        <!-- PARTIALS -->
        <div id="navbar"> 
            <div class="navbar-logo"> <img src="../images/Kamuning.png" alt="Kamuning Hardware Logo" width="200" height="65"></div>
            <div class="navbar-logout"> <a href= "login.html">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                    <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                </svg>
            </a>
            </div>
        </div>

        <div class="sidebar">
            <a href="#">Home</a>
            <a href="#">Deliveries</a>
            <a href="#">Customers</a>
        </div>

        <div class="content">        
            <div class="fixed-div">
                <div style="display: flex; margin-bottom: 15px;">
                    <div style="width: 50%"><h1 class="bold">Sales Per Customer Report</h1></div>
                    <div style="width: 50%;">
                        <h3 style="text-align: right;">As of {{today}}</h3>
                    </div>
                </div>
                <div>
                    <div class="search" style="display: flex; align-items: center;" >
                        <label for="dropdown-customer" style="margin-right: 10px">Customer</label>
                        <!--<select class="dropdown" id="dropdown-customer" style="margin-right: 10px">
                            <option value="no-selected" selected>Select Customer</option>
                            {{#each itemCategories}}
                                <option value={{_id}}>{{category}}</option>
                            {{/each}}
                        </select>-->
                        <input type="text" class="form-control" placeholder="Customer Name" style="width: 300px;" id="customer-name">
                    </div>
                    <div class= "div-button-end">
                        <div  style="justify-content: flex-start">
                            <label class="date-label" for="start-date">Start Date</label>
                            <input style="height: 34px" type="date" id="start-date" name="start-date">
                            <label class="date-label" style="margin-left: 10px;" for="end-date">End Date</label>
                            <input style="height: 34px" type="date" id="end-date" name="end-date">
                            <button type="submit" style="height: 34px; margin-left: 10px" id="invoice-date-button"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                    <div style="height: 50px"></div>
                </div>
            </div>

                <table class="table">
                    <thead class="table-head">
                        <tr>
                            <th>Date</th>
                            <th>Invoice #</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody id="table-customer-sales-body"> 
                        <!--<tr>
                            <td>{{date}}</td>
                            <td>{{invoiceNumber}}</td>
                            <td style="text-align: right;">{{total}}</td>
                        </tr>-->
                    </tbody>
                </table>
                <div class="summary-total-container" style= "margin-top: 10px;">    
                    <div class="summary-total-text">Total Sales</div>
                    <div class="summary-info-container"><div id="sales-total" class="summary-total-info">₱ {{total}}</div></div>
                </div>
                <div class="btn-new-PO">
                    <button class="btn-dark-blue" id="btn-export" style="margin-top: 10px; margin-bottom: 10px;">Export</button>
                </div> 
            </div>
        </div>

        <script>
            $(document).ready(function() {
                $('#customer-name').autocomplete({
                    source: function(request, response) {
                    $.ajax({
                                url: `/getCustomerName?query=${request.term}`,
                                dataType: "json",
                                data: {
                                    //request.term refers to the value currently in the text input
                                    term: request.term,
                                },
                                success: function (data) {
                                    $("#customer-name").css("border", "1px solid #DDDDDD");
                                    response(data);
                                }
                         });
                    }, response: function (event, ui) {
                        if (ui.content.length === 0) {
                            $('#contactPerson').css("border", "2px solid #B00000");
                            alert("Customer does not exists");
                        }
                        else {
                           $("#customer-name").css("border", "1px solid #DDDDDD");
                        }
                    }, select:  function(event, ui) {
                        var customerName = ui.item.label;

                        $.get('/getCustomerInvoices', {customerName}, function(result) {
                            var total = 0;

                            for (var i = 0; i < result.length; i++) {
                                var date = new Date(result[i].date)
                                date = date.getMonth() + 1 + "/" + date.getDate() + "/" + date.getFullYear()
                                var amount = result[i].total.toLocaleString('en-US')
                                $("#table-customer-sales-body").append(
                                    `  <tr> 
                                            <td>${date}</td>
                                            <td>${result[i].invoiceID}</td>
                                            <td style="text-align: right;">₱ ${amount}</td>
                                    </tr>`
                                );

                                total += parseFloat(result[i].total);
                            }

                            $("#sales-total").text("₱ " + total.toLocaleString('en-US'));
                        })
                    }
                })

                $('#invoice-date-button').click(function() {
                    var startDate = $("#start-date").val();
                    var endDate = $("#end-date").val();

                    if (startDate == null || startDate == "" || endDate == null || endDate == "") {
                        if (startDate == null || startDate == "")
                            $("#start-date").css("border", "1px solid #B00000")

                        if (endDate == null || endDate == "")
                            $("#end-date").css("border", "1px solid #B00000")
                    } else {
                        var convertedStartDate = new Date(startDate);
                        var convertedEndDate = new Date(endDate);

                        if(convertedStartDate > convertedEndDate) {
                            // end date is before start date 
                            $("#start-date").css("border", "1px solid #B00000");
                            $("#end-date").css("border", "1px solid #B00000");
                        }
                        else {
                            // valid dates
                            $("#start-date").css("border", "1px solid #DDDDDD");
                            $("#end-date").css("border", "1px solid #DDDDDD");

                            var customerName = $('#customer-name').val()

                            $.get("/getFilteredCustomerInvoices", {customerName, startDate: convertedStartDate, endDate: convertedEndDate}, function (result) {

                                    $("#table-customer-sales-body tr").remove();
                                    var total = 0;

                                    for (var i = 0; i < result.length; i++) {
                                        var date = new Date(result[i].date)
                                        date = date.getMonth() + 1 + "/" + date.getDate() + "/" + date.getFullYear()
                                        var amount = result[i].total.toLocaleString('en-US')
                                        $("#table-customer-sales-body").append(
                                            `  <tr> 
                                                    <td>${date}</td>
                                                    <td>${result[i].invoiceID}</td>
                                                    <td style="text-align: right;">₱ ${amount}</td>
                                            </tr>`
                                        );

                                        total += parseFloat(result[i].total);
                                    }

                                $("#sales-total").text("₱ " + total.toLocaleString('en-US'));
                            });
                        }
                    }
                })
            })
        </script>
    </body>
</html>