<!DOCTYPE html>
<html>
    <head>
        <title> Shrinkages </title>
        <meta name="description" content="Shrinkages List">
        <meta name="keyword" content="Moderna, Invoice List">
        <link rel="stylesheet" type="text/css" href="../css/general.css">
        <link rel="stylesheet" type="text/css" href="../css/list.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        
    </head>
    <body>

        {{> logoutPartial }}

        {{#if inventoryAndPurchasing}}
            {{> inventoryAndPurchasingPartial }}
        {{/if}}

        {{#if manager}}
            {{> managerPartial }}
        {{/if}}
        </div>

        <div class="content">        
            <div class="fixed-div">
                <h1 class="bold" style="padding-bottom: 15px;"> Shrinkages </h1>
                <div> 
                    <div class="search">
                        <input type="text" placeholder="Search" name="search" id="search-field">
                        <button type="submit" style="height: 34px; margin-left: 10px" id="search-button"><i class="fa fa-search"></i></button>
                    </div>
                    <div class= "div-button-end">
                        <div  style="justify-content: flex-start">
                            <label class="date-label" for="start-date">Start Date</label>
                            <input style="height: 34px" type="date" id="start-date" name="start-date">
                            <label class="date-label" style="margin-left: 10px;" for="end-date">End Date</label>
                            <input style="height: 34px" type="date" id="end-date" name="end-date">
                            <button type="submit" style="height: 34px; margin-left: 10px" id="date-button"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                    <div style="height: 50px"></div>
                </div>
            </div>

                <table class="table" id="table-shrinkages">
                    <thead class="table-head">
                        <tr>
                            <th>Date Reported</th>
                            <th>Item Description</th>
                            <th>Quantity</th> <!-- right aligned-->
                            <th>Unit</th> 
                            <th>Reason</th>
                            <th>Reported By</th>
                        </tr>
                    </thead>
                    <tbody> 
                        {{#each shrinkagesInfo}}
                            <tr>
                                <td>{{date}}</td>
                                <td>{{description}}</td>
                                <td style="text-align: right;">{{quantity}}</td>
                                <td>{{unit}}</td>
                                <td>{{reason}}</td>
                                <td>{{employee}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        <script>

            $(document).ready(function() {

                function filter(result) {
                    $("#table-shrinkages tbody tr").remove();

                    if (result != null) {
                        for (var i = 0; i < result.length; i++) {
                            $("#table-shrinkages").find("tbody").append(
                                `  <tr> 
                                        <td>${result[i].date}</td>
                                        <td>${result[i].description}</td>
                                        <td style="text-align: right;">${result[i].quantity}</td>
                                        <td>${result[i].unit}</td>
                                        <td>${result[i].reason}</td>
                                        <td>${result[i].employee}</td>
                                    </tr>
                              `
                            );
                        }
                    }
                }

                $("#search-button").click(function() {
                    var searchItem = $("#search-field").val();
                    var startDate = $("#start-date").val(null);
                    var endDate = $("#end-date").val(null);

                    $.get("/getSearchShrinkages", {searchItem: searchItem}, function (result) {
                        filter(result);
                    });

                });

                $("#date-button").click(function() {
                    var startDate = $("#start-date").val();
                    var endDate = $("#end-date").val();
                    $("#search-field").val(null);

                    if (startDate == null || startDate == "" || endDate == null || endDate == "") {
                        if (startDate == null || startDate == "")
                            $("#start-date").css("border", "1px solid #B00000")

                        if (endDate == null || endDate == "")
                            $("#end-date").css("border", "1px solid #B00000")
                    } else {
                        var convertedStartDate = new Date(startDate);
                        var convertedEndDate = new Date(endDate);

                        if(convertedStartDate > convertedEndDate) {
                            // end date is before start date 
                            $("#start-date").css("border", "1px solid #B00000");
                            $("#end-date").css("border", "1px solid #B00000");
                        }
                        else {
                            // valid dates
                            $("#start-date").css("border", "1px solid #DDDDDD");
                            $("#end-date").css("border", "1px solid #DDDDDD");

                            $.get("/getFilteredRowsShrinkages", {startDate: convertedStartDate, endDate: convertedEndDate}, function (result) {

                                filter(result);

                                
                               /* 
                                    $.get("/getDateToday", {}, function (result2) {
                                        $("#dateToday").text(result2);
                                    });
                                */
                            });
                        }
                    }
                });
            })

        </script>
    </body>
</html>