<!DOCTYPE html>
<html>
    <head>
        <title>{{supplierInfo.name}}</title>
        <meta name="description" content="Supplier Information">
        <meta name="keyword" content="Moderna, Supplier Information">
        <link rel="stylesheet" type="text/css" href="../css/general.css">
        <link rel="stylesheet" type="text/css" href="../css/information.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

         <!--<link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">
        <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>-->
        <link rel="stylesheet" type="text/css" href="../jquery-ui-themes-1.13.0/themes/ui-lightness/jquery-ui.css">
        <script src="../jquery-ui/jquery-ui.min.js"></script>
        
    </head>
    <body>

        <!-- PARTIALS -->
        <div id="navbar"> 
            <div class="navbar-logo"> <img src="../images/Kamuning.png" alt="Kamuning Hardware Logo" width="200" height="65"></div>
            <div class="navbar-logout"> <a href= "login.html">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                    <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                </svg>
            </a>
            </div>
        </div>

        <div class="sidebar">
            <a href="#">Home</a>
            <a href="#">Sales Report</a>
            <a href="#">Inventory</a>
            <a href="#">Losses</a>
            <a href="#">invoices</a>
            <a href="#">Purchase Orders</a>
            <a href="#">Suppliers</a>
            <a href="#">Customers</a>
        </div>

        <div class="content">
            <br>
            <h1 class="bold" id="supplier-name">{{supplierInfo.name}}</h1> 
            <hr>
             <div class="btn-edit-details"><button id="btn-edit-details" data-toggle="modal" data-target="#modal-edit-supplier">Edit Supplier Details</button></div>
            <div style= "margin-top: 15px;">
                <div>
                    <div class="label-container">
                        <div class="override-label"> Contact Person </div> 
                        <div class="label-content">{{supplierInfo.contactPerson}}  </div>
                    </div>
                    <div class="label-container">
                        <div class="override-label"> Contact Number </div> 
                         <div class="label-content">{{supplierInfo.number}}</div>
                    </div>
                    <div class="label-container">
                        <div class="override-label"> Email Address </div> 
                        <div class="label-content">{{supplierInfo.email}}  </div>
                    </div>

                  <div class="label-container">
                        <div class="override-label"> Address </div> 
                        <div class="label-content">{{supplierInfo.address}}  </div>
                    </div>
                </div>

                  

                 <!-- Modal Supplier Info-->
                <div class="modal fade" id="modal-edit-supplier" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="exampleModalLongTitle">Edit Supplier Details</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <form id="edit-supplier">
                                {{!-- <label for="Supplier-name">Supplier Name</label> <input id="supplier-name" type="text" value="{{name}}"><br>
                                <p class="error" id="error-new-supplier-name" style="margin-top: 3px; margin-bottom: 3px;"></p> --}}

                                 <label for="contact-person">Contact Person</label> <input id="contact-person" type="text" value="{{supplierInfo.contactPerson}}"><br>
                                <p class="error" id="error-contact-person" style="margin-top: 3px; margin-bottom: 3px;"></p>

                                <label for="contact-number">Contact Number</label> <input id="contact-number" type="number" value="{{supplierInfo.number}}"><br>
                                <p class="error" id="error-contact-number" style="margin-top: 3px; margin-bottom: 3px;"></p>

                                  <label for="email">Email</label> <input id="email" type="text" value="{{supplierInfo.email}}"><br>
                                <p class="error" id="error-email" style="margin-top: 3px; margin-bottom: 3px;"></p>

                                <label for="address">Address</label> <input id="address" type="text" value="{{supplierInfo.address}}"><br>
                                <p class="error" id="error-address" style="margin-top: 3px; margin-bottom: 3px;"></p>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button id="btn-delete-supplier" class="btn-red" style="float:left">Delete Supplier</button>
                            <button type="button" class="btn btn-primary" id="btn-update-supplier">Update Information</button>
                        </div>
                    </div>
                    </div>
                </div>

                <div style="height: 20px"></div>
            <hr>


             <div style="margin-top: 30px; display: flex; align-items: center;">
                <div style="width: 90%; float: left;">
                    <h3 class ="bold h3-left">Items</h3>
                </div>
                   <div class= "div-button-end">
                        <div class="new-item"><button id="btn-new-item" class="btn btn-primary">+ Add Supplier Item</button></div>
                    </div>
            </div>

            <div id="add-new-item" style="display: none;">
                <div style="display: flex; align-items:center;">
                     <input style="margin-top: 5px; margin-bottom: 0px; width: 150px; float: left; margin-right: 10px" type="text" class="form-control" id="itemDescription" name="itemDescription" placeholder="Item Description">
                     <input style="margin-top: 5px; margin-bottom: 0px; float: left; height: 34px; width: 34px; background-color: #0F84D9; border: #0F84D9; border-radius: 7px; color: white;" type="button" id="addItem" name="addItem" value="+">
                </div>
                <p class="error" id="error-description"></p>
                <button id="btn-add-new-inventory" class="btn-light-blue" style="display: none;
                margin-top: 10px;" data-toggle="modal" data-target="#modal-new-item">Add New Item</button>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="modal-new-item" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLongTitle">New Item</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="add-new-item">
                            <label for="description">Description</label> <input id="description" type="text"><br>
                            <p class="error" id="error-description" style="margin-top: 3px; margin-bottom: 3px;"></p>

                            <label for="dropdown-category" style="margin-right: 10px">Category</label>
                            <select class="dropdown" id="dropdown-category" style="margin-top: 3px; margin-bottom: 5px; height: 30px">
                                <option value="no-selected" selected>--Select Category--</option>
                                {{#each itemCategories}}
                                    <option value={{_id}}>{{category}}</option>
                                {{/each}}
                            </select>
                            <p class="error" id="error-category" style="margin-top: 3px; margin-bottom: 3px;"></p>

                            <label for="dropdown-unit" style="margin-right: 10px">Unit</label>
                            <select class="dropdown" id="dropdown-unit" style="margin-top: 3px; margin-bottom: 5px; height: 30px">
                                <option value="no-selected" selected>--Select Unit--</option>
                                {{#each units}}
                                    <option value={{_id}}>{{unit}}</option>
                                {{/each}}
                            </select>
                            <p class="error" id="error-unit" style="margin-top: 3px; margin-bottom: 3px;"></p>


                            <label for="reorder-level">Reorder Level</label> <input id="reorder-level" type="number"><br>
                            <p class="error" id="error-reorder-level" style="margin-top: 3px; margin-bottom: 3px;"></p>

                            <label for="EOQ">EOQ</label> <input id="EOQ" type="number"><br>
                            <p class="error" id="error-EOQ" style="margin-top: 3px; margin-bottom: 3px;"></p>

                            <label for="selling-price">Selling Price</label> <input id="selling-price" type="number"><br>
                            <p class="error" id="error-selling-price" style="margin-top: 3px; margin-bottom: 3px;"></p>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="btn-add-new-item">Save</button>
                    </div>
                </div>
                </div>
            </div>

             <!-- Modal Items -->
            <!--<div class="modal fade" id="modal-add-item" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLongTitle">Add Supplier Item</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    
                    <div class="modal-body">
                        <form id="add-supplier-item">
                            <label for="item-description">Item Description</label> <input id="item-description" type="text">
                            <p class="error" id="error-description" style="margin-top: 3px; margin-bottom: 3px;"></p>
                            <br><br><br>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="btn-add-supplier-item">Save</button>
                    </div>
                </div>
                </div>
            </div>-->
                

            <table class="table" id="table-item" style="margin-top: 30px;">
                <thead class="table-head">
                    <tr>
                        <th>Item Description</th>
                        <th>Unit</th>
                    </tr>
                </thead>
               <tbody id="supplier-item"> 
                        {{#each inventory}}
                               <td>{{itemDescription}}</td>
                               <td>{{unit}}</td>
                            </tr>
                        {{/each}}
                      </tbody>
            </table>          
            </div>
        </div>

        <script>
            $(document).ready(function() {

                function capitalize(string){
                    var words = string.toLowerCase().split(' ');
                    for (i=0; i<words.length; i++)
                        words[i] = words[i].charAt(0).toUpperCase() + words[i].substring(1);
                    return words.join(' ');
                };

                function errorMessage(type) {

                    if (type == "noContactPerson") {
                        $('#contact-person').css("border", "1px solid #B00000");
                        $('#error-contact-person').text("Invalid contact person");
                    }
                    else if (type == "noNumber") {
                        $('#contact-number').css("border", "1px solid #B00000");
                        $('#error-contact-number').text("Invalid conact number");
                    }
                    else if (type == "noEmail") {
                        $('#email').css("border", "1px solid #B00000");
                        $('#error-email').text("Invalid email");
                    }
                    else if (type == "noAddress") {
                        $('#address').css("border", "1px solid #B00000");
                        $('#error-address').text("Input address");
                    }
                }


                function contactPersonValidation(contactPerson) {
                    if (contactPerson == null || contactPerson == "") {
                        errorMessage("noContactPerson")
                        return 1;
                    }
                    else 
                        return 0;
                }   
                function numberValidation(number) {
                    if (number == 0 || number < 0) {
                        errorMessage("noNumber")
                        return 1;
                    }
                    else 
                        return 0;
                }     
                
                function emailValidation(email) {
                    if (email == null || email == "") {
                        errorMessage("noEmail")
                        return 1;
                    }
                    else 
                        return 0;
                }


                function addressValidation(address) {
                    if (address == null || address == "") {
                        errorMessage("noAddress")
                        return 1;
                    }
                    else 
                        return 0;
                }

                $('#btn-update-supplier').click(function() {
                    var address = window.location.pathname.split('/');
                    var supplierID = address[address.length -1]
                    var name = $('#supplier-name').text();
                    var contactPerson = $('#contact-person').val();
                    var number = $('#contact-number').val();  
                    var email = $('#email').val();
                    var address = $('#address').val();

                    if (!contactPersonValidation(contactPerson) &&!numberValidation(number) 
                    && !emailValidation(email) && !addressValidation(address)) {

                            $('#contact-person').css("border", "1px solid #DDDDDD");
                            $('#contact-number').css("border", "1px solid #DDDDDD");
                            $('#address').css("border", "1px solid #DDDDDD");
                            $('#email').css("border", "1px solid #DDDDDD");

                            $('#error-contact-person').text("");
                            $('#error-contact-number').text("");
                            $('#error-email').text("");
                            $('#error-address').text(""); 

                            $.post('/postUpdateSupplierInformation', {supplierID, name, contactPerson, number, email, address}, function(result) {
                                    $('#modal-edit-supplier').modal('hide');
                                    $('#edit-supplier').trigger('reset');
                                    alert("Succesfully updated supplier information");
                                    window.location.replace(`/supplier/${result}`)
                            })
                                
                    }
                })

                $('#btn-delete-supplier').click(function() {
                    var supplierID = $('#supplierID').text();
                    if (confirm("Are you sure you want to delete this supplier?")) {
                        $.post('/deleteSupplier', {supplierID});
                        alert("Supplier information was deleted");
                        window.location.replace("/supplierList")
                    }
                    else { }
                })


                function descriptionValidation(description) {
                    if (description == null || description == "") {
                        errorMessage("description");
                        return 1;
                    }
                    else 
                        return 0;
                }

                 function unitValidation(unit) {
                    if (unit == "no-selected") {
                        errorMessage("unit");
                        return 1;
                    }
                    else 
                        return 0;
                }

                function errorMessage(type) {
                    if (type == "description") {
                        $("#item-description").css("border", "1px solid #B00000");
                        $("#error-description").text("Please enter an Item Description.");
                   } else if (type == "unit") {
                        $("#dropdown-unit").css("border", "1px solid #B00000");
                        $("#error-unit").text("Please select a Unit.");
                    }
                }

                $('#btn-new-item').click(function() {
                    $('#add-new-item').css('display', 'block')
                })

                 $("#itemDescription").autocomplete({
                    source: function(request, response) {
                    $.ajax({
                                url: `/getAllItemName?query=${request.term}`,
                                dataType: "json",
                                data: {
                                    //request.term refers to the value currently in the text input
                                    term: request.term
                                },
                                success: function (data) {
                                    response(data);
                                }
                         });
                    }, response: function (event, ui) {
                        if (ui.content.length === 0) {
                            $("#itemDescription").css("border", "1px solid #B00000");
                            $('#error-description').text("Item does not exist");
                            $('#btn-add-new-inventory').css('display', 'block')
                        }
                        else {
                            $("#itemDescription").css("border", "1px solid #DDDDDD");
                            $('#error-description').text('')
                            $('#btn-add-new-inventory').css('display', 'none')
                        }
                    }
                })

                $('#addItem').click(function() {
                    var itemDesc = capitalize($('#itemDescription').val());

                    var address = window.location.pathname.split('/');
                    var supplierID = address[address.length -1]

                    if (!descriptionValidation(itemDesc)) {

                     $("#itemDescription").css("border", "1px solid #DDDDDD");
                     $("#error-description").text("");

                        $.post('/addSupplierItem', {itemDesc, supplierID}, function(result) {
                            console.log(result)
                            $('#supplier-item').append(`
                                <tr>
                                    <td>${itemDesc}</td>
                                    <td>${result}</td>
                                </tr`)
                            $('#itemDescription').val('');
                        })
                            
                    }
                })




                //--------------------ADDING NEW INVENTORY ITEM FUNCTIONS----------------

                // INPUT VALIDATION

                function descriptionValidation(description) {
                    if (description == null || description == "") {
                        errorMessage("description");
                        return 1;
                    }
                    else 
                        return 0;
                }

                function typeValidation(type) {
                    if (type == "no-selected") {
                        errorMessage("type");
                        return 1;
                    }
                    else 
                        return 0;
                }

                function unitValidation(unit) {
                    if (unit == "no-selected") {
                        errorMessage("unit");
                        return 1;
                    }
                    else 
                        return 0;
                }

                function reorderLevelValidation(reorderLevel) { 
                    if (reorderLevel == null || reorderLevel == "") {
                        errorMessage("reorderLevel");
                        return 1;
                    } else if (parseFloat(reorderLevel) <= 0) {
                        errorMessage("reorderLevelInvalidNum");
                        return 1;
                    }
                    else 
                        return 0;
                }

                function EOQValidation(EOQ) { 
                    if (EOQ == null || EOQ == "") {
                        errorMessage("EOQ");
                        return 1;
                    } else if (parseFloat(EOQ) <= 0) {
                        errorMessage("EOQInvalidNum");
                        return 1;
                    }
                    else 
                        return 0;
                }

                function sellingPriceValidation(price) {
                    if (price == null || price == "") {
                        errorMessage("sellingPrice");
                        return 1;
                    }
                    else 
                        return 0;
                }

                function errorMessage(type) {
                    if (type == "description") {
                        $("#description").css("border", "1px solid #B00000");
                        $("#error-description").text("Please enter an Item Description.");
                    } else if (type == "type") {
                        $("#dropdown-category").css("border", "1px solid #B00000");
                        $("#error-category").text("Please select a Type.");
                    } else if (type == "unit") {
                        $("#dropdown-unit").css("border", "1px solid #B00000");
                        $("#error-unit").text("Please select a Unit.");
                    } else if (type == "reorderLevel") {
                        $("#reorder-level").css("border", "1px solid #B00000");
                        $("#error-reorder-level").text("Please enter a Reorder Level.");
                    } else if (type == "reorderLevelInvalidNum") {
                        $("#reorder-level").css("border", "1px solid #B00000");
                        $("#error-reorder-level").text("Invalid Reorder Level.");
                    } else if (type == "EOQ") {
                        $("#EOQ").css("border", "1px solid #B00000");
                        $("#error-EOQ").text("Please enter an EOQ.");
                    } else if (type == "EOQInvalidNum") {
                        $("#EOQ").css("border", "1px solid #B00000");
                        $("#error-EOQ").text("Invalid EOQ.");
                    } else if (type == "sellingPrice") {
                        $("#selling-price").css("border", "1px solid #B00000");
                        $("#error-selling-price").text("Please enter a Selling Price.");
                    } 
                }

                function resetErrorMessage() {
                    $("#description").css("border", "1px solid #DDDDDD");
                    $("#error-description").text("");
                    $("#dropdown-category").css("border", "1px solid #DDDDDD");
                    $("#error-category").text("");
                    $("#dropdown-unit").css("border", "1px solid #DDDDDD");
                    $("#error-unit").text("");
                    $("#reorder-level").css("border", "1px solid #DDDDDD");
                    $("#error-reorder-level").text("");
                    $("#EOQ").css("border", "1px solid #DDDDDD");
                    $("#error-EOQ").text("");
                    $("#selling-price").css("border", "1px solid #DDDDDD");
                    $("#error-selling-price").text("");
                }

                $('#description').keyup(function () { 
                    resetErrorMessage();

                    // Get value 
                     var description = capitalize($('#description').val());

                    // Check if dish name exists 
                    $.get("/getCheckItemDescription", {itemDescription: description}, function (result) {
                        if (result.itemDescription == description) {
                            //alert("same");
                            $("#description").css("border", "1px solid #B00000");
                            $("#error-description").text("Item Description already taken.");
                            $("#btn-add-new-item").prop("disabled", true);
                            $("#btn-add-new-item").css("background-color", "#b3b3b3");
                        } else {
                            $("#description").css("border", "1px solid #DDDDDD");
                            $("#error-description").text("");
                            $("#btn-add-new-item").prop("disabled", false);
                            $("#btn-add-new-item").css("background-color", "#0F84D9");
                        }
                    });
                });

                $('#dropdown-category').change(function() {
                    resetErrorMessage();
                })

                $('#dropdown-unit').change(function() {
                    resetErrorMessage();
                })

                $('#reorder-level').keyup(function () { 
                    resetErrorMessage();
                });

                $('#EOQ').keyup(function () { 
                    resetErrorMessage();
                });

                $('#selling-price').keyup(function () { 
                    resetErrorMessage();
                });

                function checkAll(description, category, unit, reorderLevel, EOQ, sellingPrice) {
                    descriptionValidation(description);
                    typeValidation(category);
                    unitValidation(unit);
                    reorderLevelValidation(reorderLevel);
                    EOQValidation(EOQ);
                    sellingPriceValidation(sellingPrice);
                }

                $('#btn-add-new-item').click(function() {
                    var description = capitalize($('#description').val());
                    var category = $('#dropdown-category').val();
                    var categoryText = $('#dropdown-category option:selected').text();
                    var unit = $('#dropdown-unit').val();
                    var unitText = $('#dropdown-unit option:selected').text();
                    var reorderLevel = $('#reorder-level').val();
                    var EOQ = $('#EOQ').val();
                    var sellingPrice = $('#selling-price').val();

                    checkAll(description, category, unit, reorderLevel, EOQ, sellingPrice);

                    if (!descriptionValidation(description) && !typeValidation(category) && !unitValidation(unit) && !reorderLevelValidation(reorderLevel) && !EOQValidation(EOQ)  && !sellingPriceValidation(sellingPrice)) {

                        // remove texts and red borders
                        resetErrorMessage();

                        $.post('/postNewItem', {description, category, categoryText, unit, unitText, reorderLevel, EOQ, sellingPrice}, function (updatedItem) {
                            var sellingPrice = parseFloat(updatedItem.sellingPrice).toFixed(2)

                            $('#table-inventory').find('tbody').append(
                                `  <tr class="link" style="cursor: pointer" data-href="/inventory/${updatedItem._id}"> 
                                        <td>${updatedItem.itemDescription}</td> 
                                        <td value="${updatedItem.categoryID}" class="category-id">${updatedItem.category}</td>
                                        <td style="text-align: right;">${updatedItem.quantityAvailable}</td> 
                                        <td class="unit-id">${updatedItem.unit}</td> 
                                        <td style="text-align: right;">₱ ${sellingPrice}</td> 
                                        <td><button class="btn-status btn-low status-id" value="${updatedItem.statusID}">Low Stock</button></td>
                                    </tr>`
                            );
                        })

                        $('#modal-new-item').modal('hide');
                        $('#add-new-item').trigger('reset');
                    }
                })
            })
        </script> 
    </body>
</html>