<!DOCTYPE html>
<html>
    <head>
        <title> Update Manual Count </title>
        <meta name="description" content="Update Manual Count">
        <meta name="keyword" content="Moderna, Update Manual Count">
        <link rel="stylesheet" type="text/css" href="../css/general.css">
        <link rel="stylesheet" type="text/css" href="../css/list.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        
    </head>
    <body>

        <!-- PARTIALS -->
        <div id="navbar"> 
            <div class="navbar-logo"> <img src="../images/Kamuning.png" alt="Kamuning Hardware Logo" width="200" height="65"></div>
            <div class="navbar-logout"> <a href= "login.html">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                    <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                </svg>
            </a>
            </div>
        </div>

        <div class="sidebar">
            <a href="#">Home</a>
            <a href="#">Deliveries</a>
            <a href="#">Customers</a>
        </div>

        <div class="content">        
            <div class="fixed-div">
                <div> 
                    <div class="search" style="width: 40%">
                        <h1 class="bold" style="padding-bottom: 10px;"> Update Manual Count </h1>
                    </div>
                   
                    <div class="btn-new-PO">
                        <select class="dropdown" id="dropdown-manual-count" style="margin-right: 10px; margin-top: 20px;">
                            <option value="all-type" selected>All</option>
                            {{#each itemCategories}}
                                <option value={{_id}}>{{category}}</option>
                            {{/each}}
                        </select>
                    </div> 
                </div>
                
                <div style="height: 30px"></div>
                <hr style="margin-top: 0px; margin-bottom: 0px;">
                <div style="height: 20px"></div>
            </div>


                <table class="table" id="table-manual-count">
                    <thead class="table-head" style="top: 205px;">
                        <tr>
                            <th>Item Description</th>
                            <th style="display: none;"></th>
                            <th>System</th>
                            <th>Manual</th> <!-- right aligned-->
                            <th>Unit</th> 
                            <th>Reason</th>
                            <th style="display: none;"></th>
                        </tr>
                    </thead>
                    <tbody> 
                        {{#each items}}
                            <tr>
                                <td>{{itemDescription}}</td>
                                <td style="display: none;" class="itemID">{{_id}}</td>
                                <td style="text-align:end;" class="quantity-available">{{quantityAvailable}}</td>
                                <td class="quantity"><input type="number" value="{{quantityAvailable}}" style="text-align:end;" class="quantity-val"></td>
                                <td>
                                    <select class="dropdown-unit">
                                        {{#each units}}
                                            <option val="{{id}}">{{unit}}</option>
                                        {{/each}}
                                    </select>
                                </td>
                                <td class="reason">
                                    <select disabled class="dropdown-shrinkage-reasons">
                                        <option value="no-selected">Select Reason</option>
                                        {{#each reasons}}
                                            <option value={{_id}}>{{reason}}</option>
                                        {{/each}}
                                    </select>
                                </td>
                                <td style="display: none;" class="category">{{category}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>

                <div> 
                    <div class="search" style="width: 50%">
                        <div class="btn-cancel-invoice"><button class="btn-light-grey" id="btn-cancel" style="margin-bottom: 10px;">Cancel</button></div>
                    </div>
                           
                    <div class="btn-new-PO">
                        <button class="btn-light-blue" id="btn-save" style="margin-bottom: 10px;" >Save</button>
                    </div> 
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function() {
                $('.quantity-val').keyup(function () { 
                    resetManualError();
                    resetReasonError();

                    var manualCount = parseFloat($(this).val());
                    var quantityAvailable = parseFloat($(this).parent().parent().children('.quantity-available').text());

                   if (manualCount != quantityAvailable) {
                       $(this).parent().parent().children('.reason').children('.dropdown-shrinkage-reasons').prop("disabled", false);
                   } else {
                        // supposed to reset the selected reason dropdown, DOES NOT WORK 
                        var noSelected = "no-selected";
                        $(this).parent().parent().children('.reason').children(".dropdown-shrinkage-reasons option[value=" + noSelected + "]").attr('selected', 'selected');
                        $(this).parent().parent().children('.reason').children('.dropdown-shrinkage-reasons').prop("disabled", true);
                   }
                });

                $('#dropdown-manual-count').change(function () { 
                    if (validation()) {
                        $('#table-manual-count tr').show();
                        var filterID = $('#dropdown-manual-count option:selected').val();

                        $('#table-manual-count > tbody > tr').each(function(index) {
                            var categoryID = $(this).children('.category').text();
                            
                            if (filterID != categoryID && filterID!="all-type")
                                $(this).toggle();
                        })
                        resetManualError();
                        resetReasonError();
                    } else {
                        // this doesn't wanna work smh
                        var allType = "all-type";
                        $("#dropdown-manual-count option[value=" + allType + "]").attr('selected', 'selected');
                    }
                });

                $('.dropdown-shrinkage-reasons').change(function () { 
                    resetReasonError();
                });

                function resetManualError() {
                    $('.quantity-val').css("border", "1px solid #DDDDDD");
                }

                function resetReasonError() {
                    $('.dropdown-shrinkage-reasons').css("border", "1px solid #DDDDDD");
                }

                function validateManualCount(manualCount, quantityAvailable) {
                    if (manualCount == null || manualCount == "") {
                        return "blank";
                    } else if (parseFloat(manualCount) < 0) {
                        return "invalidNum";
                    } else if (parseFloat(manualCount) > parseFloat(quantityAvailable)) {
                        return "greater";
                    }
                    else 
                        return false;
                }

                function validateReason(reason) {
                    if (reason == "no-selected") {
                        return true;
                    }
                    else 
                        return false;
                }

                function validation() {
                    var ok = true;

                    $('#table-manual-count > tbody > tr').each(function(index) {
                        var manualCount = $(this).children('.quantity').children('.quantity-val').val();
                        var quantityAvailable = $(this).children('.quantity-available').text();

                        if (parseFloat(manualCount) != parseFloat(quantityAvailable)) {
                            var checkCount = validateManualCount(manualCount, quantityAvailable);

                            if (checkCount == "blank") {
                                $(this).children('.quantity').children('.quantity-val').css("border", "1px solid #B00000");
                                ok = false;
                            }
                            else if (checkCount == "invalidNum") {
                                $(this).children('.quantity').children('.quantity-val').css("border", "1px solid #B00000");
                                ok = false;
                            } else if (checkCount == "greater") {
                                $(this).children('.quantity').children('.quantity-val').css("border", "1px solid #B00000");
                                ok = false;
                            }

                            var checkReason = validateReason($(this).children('.reason').children('.dropdown-shrinkage-reasons').val());

                            if (checkReason == true) {
                                $(this).children('.reason').children('.dropdown-shrinkage-reasons').css("border", "1px solid #B00000");
                                ok = false;
                            }
                        }
                    });

                    return ok;
                }

                $('#btn-save').click(function() {
                    if (validation()) {
                        var shrinkages = [];
                        var dateToday = new Date();

                        $('#table-manual-count tr').show();

                        $('#table-manual-count > tbody > tr').each(function(index) {
                            var manualCount = $(this).children('.quantity').children('.quantity-val').val();
                            var quantityAvailable = $(this).children('.quantity-available').text();

                            if (parseFloat(manualCount) != parseFloat(quantityAvailable)) {
                                var shrinkage = {
                                    itemID: $(this).children('.itemID').text(),
                                    quantityLost: parseFloat(quantityAvailable) - parseFloat(manualCount),
                                    reasonID:  $(this).children('.reason').children('.dropdown-shrinkage-reasons').val(),
                                    date: dateToday,
                                    employeeID: "6187c88ffa9a0c35600c54a8"
                                }
                                //alert(shrinkage.itemID + ", " + shrinkage.quantityLost + ", " + shrinkage.reasonID + ", " + shrinkage.date + ", " + shrinkage.employeeID);

                                shrinkages.push(shrinkage);
                            }
                        });

                        var JSONShrinkages = JSON.stringify(shrinkages);

                        $.ajax({
                                url: "/updateManualCount",              
                                type: "POST",
                                data: {JSONShrinkages},
                                async: false,
                                success: function(result){
                                    window.location.assign('/shrinkages'); 
                                }
                        }); 
                    }
                });
            })
        </script>
    </body>
</html>