<!DOCTYPE html>
<html>
    <head>
        <title> View Specific Item </title>
        <meta name="description" content="View Specific Item">
        <meta name="keyword" content="Moderna, View Specific Item">
        <link rel="stylesheet" type="text/css" href="../css/general.css">
        <link rel="stylesheet" type="text/css" href="../css/information.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        
    </head>
    <body>

        <!-- PARTIALS -->
        <div id="navbar"> 
            <div class="navbar-logo"> <img src="../images/Kamuning.png" alt="Kamuning Hardware Logo" width="200" height="65"></div>
            <div class="navbar-logout"> <a href= "login.html">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                    <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                </svg>
            </a>
            </div>
        </div>

        <div class="sidebar">
            <a href="#">Home</a>
            <a href="#">Deliveries</a>
            <a href="#">Customers</a>
        </div>

        <div class="content">
            <div>
                <div style="display: flex;">
                    <div style="width: 50%"><h1 class="bold" id="item-description">{{itemInfo.itemDescription}}</h1></div>
                    <p id="item-ID" style="display: none;">{{itemInfo._id}}</p>
                    <div class="btn-status">
                        <div style="margin-top: 40px; text-align: center;"><button class="btn-status btn-{{itemInfo.btn_status}}" style="width: 100px; display: inline-block;">{{itemInfo.status}}</button></div>
                        <p id="item-status-ID" style="display: none;">{{itemInfo.statusID}}</p>
                    </div>
                </div>
            </div> 
            <hr style="margin-top: 0px;">

            <div>
                <table style="width: 100%;">
                    <th>
                        <div>
                            <div class="div-number">{{itemInfo.quantityAvailable}}</div>
                            <div class="div-number-label">Available</div>
                        </div>
                    </th>
                    <th>
                        <div>
                            <div class="div-number">{{itemInfo.reorderLevel}}</div>
                            <div class="div-number-label">Reorder Level</div>
                        </div>
                    </th>
                    <th>
                        <div>
                            <div class="div-number">{{itemInfo.EOQ}}</div>
                            <div class="div-number-label">EOQ </div>
                        </div>
                    </th>
                    <th>
                        <div>
                            <div class="div-number">{{itemInfo.toBeReceived}}</div>
                            <div class="div-number-label">To Be Received</div>
                        </div>
                    </th>
                </table>
            </div>

            <div style="margin-top: 20px;">
                    <div class="label-container">
                        <div class="override-label">Category</div> 
                        <div class="label-content">{{itemInfo.category}}</div>
                        <p id="item-category-ID" style="display: none;">{{itemInfo.categoryID}}</p>
                    </div>
                    <div class="label-container">
                        <div class="override-label">Quantity</div> 
                        <div class="label-content" id="item-quantity">{{itemInfo.quantityAvailable}}</div>
                    </div>
                    <div class="label-container">
                        <div class="override-label">Unit</div> 
                        <div class="label-content">{{itemInfo.unit}}</div>
                        <p id="item-unit-ID" style="display: none;">{{itemInfo.unitID}}</p>
                    </div>
                    <div class="label-container">
                        <div class="override-label">Selling Price</div> 
                        <div class="label-content">₱ {{itemInfo.sellingPrice}}</div>
                    </div>
            </div> 
            <div style="height: 20px"></div>

            <div><button class="btn-light-blue" id="btn-edit-details" style="float: right;" data-toggle="modal" data-target="#modal-edit-item">Edit Details</button></div>

            <!-- Modal -->
            <div class="modal fade" id="modal-edit-item" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLongTitle">Edit Item</h3>
                        <button type="button" class="close" data-dismiss="modal" a ria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="edit-item">
                            {{!-- <label for="description">Description</label> <input id="description" type="text" value="{{itemInfo.itemDescription}}"><br>
                            <p class="error" id="error-description" style="margin-top: 3px; margin-bottom: 3px;"></p> --}}

                            <label for="dropdown-category" style="margin-right: 10px">Type</label>
                            <select class="dropdown" id="dropdown-category" style="margin-top: 3px; margin-bottom: 5px; height: 30px">
                                <option value="no-selected" selected>Select Type</option>
                                {{#each inventoryTypes}}
                                        <option value={{_id}}>{{type}}</option>
                                {{/each}}
                            </select>
                            <p class="error" id="error-category" style="margin-top: 3px; margin-bottom: 3px;"></p>

                            <label for="dropdown-unit" style="margin-right: 10px">Unit</label>
                            <select class="dropdown" id="dropdown-unit" style="margin-top: 3px; margin-bottom: 5px; height: 30px">
                                <option value="no-selected" selected>Select Unit</option>
                                {{#each units}}
                                    <option value={{_id}}>{{unit}}</option>
                                {{/each}}
                            </select>
                            <p class="error" id="error-unit" style="margin-top: 3px; margin-bottom: 3px;"></p>

                            <label for="reorder-level">Reorder Level</label> <input id="reorder-level" type="number" value="{{itemInfo.reorderLevel}}"><br>
                            <p class="error" id="error-reorder-level" style="margin-top: 3px; margin-bottom: 3px;"></p>

                            <label for="EOQ">EOQ</label> <input id="EOQ" type="number" value="{{itemInfo.EOQ}}"><br>
                            <p class="error" id="error-EOQ" style="margin-top: 3px; margin-bottom: 3px;"></p>

                            <label for="selling-price">Selling Price</label> <input id="selling-price" type="number" value="{{itemInfo.sellingPrice}}"><br>
                            <p class="error" id="error-selling-price" style="margin-top: 3px; margin-bottom: 3px;"></p>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="btn-edit-item">Save</button>
                    </div>
                </div>
                </div>
            </div>

            <div style="margin-top: 50px;">
                <div style="display: flex;">
                    <div style="width: 50%"><h3 class ="bold">Suppliers</h3></div>

                    <form action="/editItemSuppliers/{{itemInfo._id}}" style="float: right;" class="btn-status">
                        <div class="btn-status"><button class="btn-light-blue" id="btn-edit-supplier" style=" width: 150px">Edit Item Suppliers</button></div>
                    </form>
                </div>
            </div>
          
            <table class="table">
                <thead class="table-regular-head" >
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody> 
                    {{#each itemSuppliers}}
                        <tr>
                            <td>{{supplierID}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

         <script>
            $(document).ready(function() {
                var categoryVal = $("#item-category-ID").text();
                var unitVal = $("#item-unit-ID").text();

                $("#dropdown-category option[value=" + categoryVal + "]").attr('selected', 'selected');
                $("#dropdown-unit option[value=" + unitVal + "]").attr('selected', 'selected');

                function capitalize(string){
                    var words = string.toLowerCase().split(' ');
                    for (i=0; i<words.length; i++)
                        words[i] = words[i].charAt(0).toUpperCase() + words[i].substring(1);
                    
                    return words.join(' ');
                }

                // INPUT VALIDATION

                function typeValidation(type) {
                    if (type == "no-selected") {
                        errorMessage("type");
                        return 1;
                    }
                    else 
                        return 0;
                }

                function unitValidation(unit) {
                    if (unit == "no-selected") {
                        errorMessage("unit");
                        return 1;
                    }
                    else 
                        return 0;
                }

                function reorderLevelValidation(reorderLevel) { 
                    if (reorderLevel == null || reorderLevel == "") {
                        errorMessage("reorderLevel");
                        return 1;
                    } else if (parseFloat(reorderLevel) <= 0) {
                        errorMessage("reorderLevelInvalidNum");
                        return 1;
                    }
                    else 
                        return 0;
                }

                function EOQValidation(EOQ) { 
                    if (EOQ == null || EOQ == "") {
                        errorMessage("EOQ");
                        return 1;
                    } else if (parseFloat(EOQ) <= 0) {
                        errorMessage("EOQInvalidNum");
                        return 1;
                    }
                    else 
                        return 0;
                }

                function sellingPriceValidation(price) {
                    if (price == null || price == "") {
                        errorMessage("sellingPrice");
                        return 1;
                    }
                    else 
                        return 0;
                }

                function errorMessage(type) {
                    if (type == "type") {
                        $("#dropdown-category").css("border", "1px solid #B00000");
                        $("#error-category").text("Please select a Type.");
                    } else if (type == "unit") {
                        $("#dropdown-unit").css("border", "1px solid #B00000");
                        $("#error-unit").text("Please select a Unit.");
                    } else if (type == "reorderLevel") {
                        $("#reorder-level").css("border", "1px solid #B00000");
                        $("#error-reorder-level").text("Please enter a Reorder Level.");
                    } else if (type == "reorderLevelInvalidNum") {
                        $("#reorder-level").css("border", "1px solid #B00000");
                        $("#error-reorder-level").text("Invalid Reorder Level.");
                    } else if (type == "EOQ") {
                        $("#EOQ").css("border", "1px solid #B00000");
                        $("#error-EOQ").text("Please enter an EOQ.");
                    } else if (type == "EOQInvalidNum") {
                        $("#EOQ").css("border", "1px solid #B00000");
                        $("#error-EOQ").text("Invalid EOQ.");
                    } else if (type == "sellingPrice") {
                        $("#selling-price").css("border", "1px solid #B00000");
                        $("#error-selling-price").text("Please enter a Selling Price.");
                    } else if (type == "supplier") {
                        $("#dropdown-supplier").css("border", "1px solid #B00000");
                        $("#error-supplier").text("Please select a Supplier.");
                    } 
                    
                }

                function resetErrorMessage() {
                    $("#dropdown-category").css("border", "1px solid #DDDDDD");
                    $("#error-category").text("");
                    $("#dropdown-unit").css("border", "1px solid #DDDDDD");
                    $("#error-unit").text("");
                    $("#reorder-level").css("border", "1px solid #DDDDDD");
                    $("#error-reorder-level").text("");
                    $("#EOQ").css("border", "1px solid #DDDDDD");
                    $("#error-EOQ").text("");
                    $("#selling-price").css("border", "1px solid #DDDDDD");
                    $("#error-selling-price").text("");
                }

                $('#dropdown-category').change(function() {
                    resetErrorMessage();
                })

                $('#dropdown-unit').change(function() {
                    resetErrorMessage();
                })

                $('#reorder-level').keyup(function () { 
                    resetErrorMessage();
                });

                $('#EOQ').keyup(function () { 
                    resetErrorMessage();
                });

                $('#selling-price').keyup(function () { 
                    resetErrorMessage();
                });

                function checkAll(category, unit, reorderLevel, EOQ, sellingPrice) {
                    typeValidation(category);
                    unitValidation(unit);
                    reorderLevelValidation(reorderLevel);
                    EOQValidation(EOQ);
                    sellingPriceValidation(sellingPrice);
                }

                function supplierValidation(supplier) {
                    if (supplier == "no-selected") {
                        errorMessage("supplier");
                        return 1;
                    }
                    else 
                        return 0;
                }

                $('#dropdown-supplier').change(function() {
                    $("#dropdown-supplier").css("border", "1px solid #DDDDDD");
                    $("#error-supplier").text("");
                })

                $('#btn-add-supplier').click(function() {
                    var itemID = $('#item-ID').text();
                    var supplierID = $('#dropdown-supplier').val();

                    if (!supplierValidation(supplierID)) {
                        $.post('/postAddItemSupplier', {itemID, supplierID}, function () {

                        })
                            
                        $('#modal-add-supplier').modal('hide');
                        $('#add-supplier').trigger('reset');
                    }
                })

                $('#btn-edit-item').click(function() {
                    var itemID = $('#item-ID').text();
                    var itemDescription = $('#item-description').text();
                    var category = $('#dropdown-category').val();
                    var unit = $('#dropdown-unit').val();
                    var quantity = $('#item-quantity').text();
                    var EOQ = $('#EOQ').val();
                    var reorderLevel = $('#reorder-level').val();
                    var sellingPrice = $('#selling-price').val();
                    var itemStatusID = $('#item-status-ID').text();

                    var categoryText = $('#dropdown-category option:selected').text();
                    var unitText = $('#dropdown-unit option:selected').text();

                    checkAll(category, unit, reorderLevel, EOQ, sellingPrice);

                    if (!typeValidation(category) && !unitValidation(unit) && !reorderLevelValidation(reorderLevel) && !EOQValidation(EOQ)  && !sellingPriceValidation(sellingPrice)) {

                        // remove texts and red borders
                        resetErrorMessage();
                        
                        // update page 
                        /*$.ajax({
                                url: "/postUpdateItemInformation",              
                                type: "POST",
                                data: {itemID, itemDescription, category, unit, quantity, EOQ, reorderLevel, sellingPrice, itemStatusID},
                                async: false,
                                success: function(result){
                                    $('#modal-edit-item').modal('hide');
                                    $('#edit-item').trigger('reset');
                                    alert("Item information has been updated")
                                    window.location.assign('/inventory/' + result._id);
                                }
                        });*/ 

                        $.post('/postUpdateItemInformation', {itemID, itemDescription, category, unit, quantity, EOQ, reorderLevel, sellingPrice, itemStatusID}, function(result){
                                $('#modal-edit-item').modal('hide');
                                $('#edit-item').trigger('reset');
                                alert("Item information has been updated")
                                window.location.assign('/inventory/' + result._id);
                            })
                      }
                })
            })
        </script>
    </body>
</html>