<!DOCTYPE html>
<html>
    <head>
        <title>{{itemInfo.itemDescription}}</title>
        <meta name="description" content="View Specific Item">
        <meta name="keyword" content="Moderna, View Specific Item">
        <link rel="stylesheet" type="text/css" href="../css/general.css">
        <link rel="stylesheet" type="text/css" href="../css/information.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        
    </head>
    <body>

        {{> logoutPartial }}

       {{#compare position "==" "Inventory and Purchasing"}} 
            {{> inventoryAndPurchasingPartial }}
        {{/compare}}

       {{#compare position "==" "Manager"}} 
            {{> managerPartial }}
        {{/compare}}

        {{#compare position "==" "Sales"}} 
            {{> cashierPartial }}
        {{/compare}}

        <div class="content">
            <div>
                <div style="display: flex;">
                    <div style="width: 50%"><h1 class="bold" id="item-description">{{itemInfo.itemDescription}}</h1></div>
                    <p id="item-ID" style="display: none;">{{itemInfo._id}}</p>
                    <div class="btn-status">
                        <div style="margin-top: 40px; text-align: center;"><button class="btn-status btn-{{itemInfo.btn_status}}" style="width: 100px; display: inline-block;">{{itemInfo.status}}</button></div>
                        <p id="item-status-ID" style="display: none;">{{itemInfo.statusID}}</p>
                    </div>
                </div>
            </div> 
            <hr style="margin-top: 0px;">

            <div style="display: flex; justify-content: space-between">
                <div>
                    <div class="div-number" id="item-quantity">{{itemInfo.quantityAvailable}}</div>
                    <div class="div-number-label">Available</div>
                </div>
                <div>
                    <div class="div-number">{{itemInfo.reorderLevel}}</div>
                    <div class="div-number-label">Reorder Level</div>
                </div>
                 <div>
                    <div class="div-number">{{itemInfo.EOQ}}</div>
                    <div class="div-number-label">EOQ </div>
                </div>
                 <div>
                    <div class="div-number">{{itemInfo.toBeReceived}}</div>
                    <div class="div-number-label">To Be Received</div>
                </div>
            </div>

            <div style="margin-top: 20px;">
                    <div class="label-container">
                        <div class="override-label">Unit</div> 
                        <div class="label-content">{{itemInfo.unit}}</div>
                        <p id="item-unit-ID" style="display: none;">{{itemInfo.unitID}}</p>
                    </div>
                    <div class="label-container">
                        <div class="override-label">Category</div> 
                        <div class="label-content">{{itemInfo.category}}</div>
                        <p id="item-category-ID" style="display: none;">{{itemInfo.categoryID}}</p>
                    </div>
                    <!--<div class="label-container">
                        <div class="override-label">Quantity</div> 
                        <div class="label-content" id="item-quantity">{{itemInfo.quantityAvailable}}</div>
                    </div>-->
                    <div class="label-container">
                        <div class="override-label">Retail Quantity</div> 
                        <div class="label-content">{{itemInfo.retailQuantity}}</div>
                    </div>
                    <!--<div class="label-container">
                        <div class="override-label">Selling Price</div> 
                        <div class="label-content">₱ {{itemInfo.sellingPrice}}</div>
                    </div>--->
            </div> 
            <div style="height: 10px"></div>

            {{#compare position "!=" "Sales"}}
            <div><button class="btn-light-blue" id="btn-edit-details" style="float: right; margin-bottom: 10px;" data-toggle="modal" data-target="#modal-edit-item">Edit Details</button></div>
            {{/compare}}

            <hr style="margin-top: 50px;">

            <!-- Modal -->
            <div class="modal fade" id="modal-edit-item" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLongTitle">Edit Item</h3>
                        <!--<button type="button" class="close" data-dismiss="modal" a ria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>-->
                    </div>
                    <div class="modal-body">
                        <form id="edit-item">
                            {{!-- <label for="description">Description</label> <input id="description" type="text" value="{{itemInfo.itemDescription}}"><br>
                            <p class="error" id="error-description" style="margin-top: 3px; margin-bottom: 3px;"></p> --}}

                            <div class="flex-display">
                                <label for="dropdown-category" class="modal-label">Item Category</label>
                                <select class="form-control" id="dropdown-category">
                                    <option value="no-selected" selected>Select Type</option>
                                    {{#each itemCategories}}
                                            <option value={{_id}}>{{category}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <p class="error modal-error" id="error-category"></p>

                            <div class="flex-display">
                                <label for="dropdown-unit" class="modal-label">Unit</label>
                                <select class="form-control" id="dropdown-unit">
                                    <option value="no-selected" selected>Select Unit</option>
                                    {{#each units}}
                                        <option value={{_id}}>{{unit}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <p class="error modal-error" id="error-unit"></p>
                            
                            <div class="flex-display">
                                <label for="retail-quantity" class="modal-label">Retail Quantity</label>
                                <input id="retail-quantity" type="number" class="modal-input form-control" style="text-align:end;" value={{itemInfo.retailQuantity}}>
                            </div>
                            <p class="error modal-error" id="error-retail-quantity"></p>
                            
                            <div class="flex-display">
                                <label for="reorder-level" class="modal-label">Reorder Level</label> 
                                <input id="reorder-level" type="number" class="modal-input form-control" style="text-align:end;" value="{{itemInfo.reorderLevel}}"><br>
                            </div>
                            <p class="error modal-error" id="error-reorder-level"></p>

                            <div class="flex-display">
                                <label for="EOQ" class="modal-label">EOQ</label> 
                                <input id="EOQ" type="number" class="modal-input form-control" style="text-align:end;" value="{{itemInfo.EOQ}}"><br>
                            </div>
                            <p class="error modal-error" id="error-EOQ"></p>

                            <!--<label for="selling-price">Selling Price</label> <input id="selling-price" type="number" value="{{itemInfo.sellingPrice}}"><br>
                            <p class="error" id="error-selling-price" style="margin-top: 3px; margin-bottom: 3px;"></p>-->
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="modal-btn-grey" data-dismiss="modal">Close</button>
                        <button type="button" class="modal-btn-light-blue" id="btn-edit-item">Save</button>
                    </div>
                </div>
                </div>
            </div>

            <div style="margin-top: 30px;">
                <div style="display: flex;">
                    <div style="width: 50%"><h3 class ="bold h3-left">Selling Units</h3></div>
                   {{#compare position "!=" "Sales"}}
                        <div class="btn-status"><button class="btn-light-blue" id="btn-selling-unit" data-toggle="modal" data-target="#modal-add-selling-unit">Add Selling Unit</button></div>
                    {{/compare}}
                </div>
            </div>

            <!-- ADD SELLING UNIT -->
            <div class="modal fade" id="modal-add-selling-unit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLongTitle">Add Selling Unit</h3>
                    </div>
                    <div class="modal-body">
                        <form id="edit-item">
                            <div class="flex-display">
                                <label for="quatity" class="modal-label">Quantity</label>
                                <input id="quantity" class="form-control" style="text-align:end;" type="number"><br>
                            </div>
                            <p class="error modal-error" id="error-selling-unit-quantity"></p>

                            <div class="flex-display">
                                <label for="dropdown-new-selling-unit" class="modal-label">Unit</label>
                                <select class="form-control" id="dropdown-new-selling-unit">
                                    <option value="no-selected" selected>Select Unit</option>
                                    {{#each units}}
                                        <option value={{_id}}>{{unit}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <p class="error modal-error" id="error-unit"></p>

                            <div class="flex-display">
                                <label for="selling-price" class="modal-label">Selling Price</label> 
                                <input id="selling-price" class="form-control" style="text-align:end;" type="number"><br>
                            </div>
                            <p class="error modal-error" id="error-selling-price"></p>
                        </form>
                        <p class="error modal-error" id="error-selling-unit"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="modal-btn-grey" data-dismiss="modal">Close</button>
                        <button type="button" class="modal-btn-light-blue" id="btn-save-selling-unit">Save</button>
                    </div>
                </div>
                </div>
            </div>


            <!--EDIT SELLING PRICE-->
            <div class="modal fade" id="modal-edit-selling-unit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLongTitle">Edit Selling Price</h3>
                         <p id="modal-unit-name" style="display: none;"></p>
                    </div>
                    <div class="modal-body">
                        <form id="edit-item">
                            <div class="flex-display">
                                <label for="edit-selling-price" class="modal-label">Selling Price</label> 
                                <input id="edit-selling-price" type="number" style="text-align: right;" class="modal-input form-control"><br>
                            </div>
                            <p class="error modal-error" id="old-selling-price" style="display: none;"></p>
                            <p class="error modal-error" id="error-edit-selling-price"></p>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="modal-btn-red" id="btn-delete-selling-unit" style="float:left">Delete</button>
                        <button type="button" class="modal-btn-grey" data-dismiss="modal">Close</button>
                        <button type="button" class="modal-btn-light-blue" id="btn-save-edit-selling-unit">Save</button>
                    </div>
                </div>
                </div>
            </div>

            <table class="table">
                <thead class="table-regular-head">
                    <tr>
                        <td>Unit</td>
                        <td>Quantity</td>
                        <td>Selling Price</td>
                        <td>Available Stock</td>
                        {{#compare position "!=" "Sales"}} 
                        <td></td>
                        {{/compare}}
                    </tr>
                </thead>
                <tbody>
                    {{#compare position "!=" "Sales"}} 
                        {{#each itemUnits}}
                            <tr>
                                <td class="item-unit-name">{{unitName}}</td>
                                <td style="text-align: right;">{{ratio}}</td>
                                <td class="item-unit-selling-price" style="text-align: right;">₱ {{sellingPrice}}</td>
                                <td style="text-align: right;">{{availableStock}}</td>
                                <td style="text-align: right;"><button class="edit-button"><img src="../images/edit-icon.png" height="20px" width="15x" alt="Edit"></button></td>
                            </tr>
                        {{/each}}
                    {{/compare}}

                    {{#compare position "==" "Sales"}} 
                        {{#each itemUnits}}
                            <tr>
                                <td class="item-unit-name">{{unitName}}</td>
                                <td style="text-align: right;">{{ratio}}</td>
                                <td class="item-unit-selling-price" style="text-align: right;">₱ {{sellingPrice}}</td>
                                <td style="text-align: right;">{{availableStock}}</td>
                            </tr>
                        {{/each}}
                    {{/compare}}



                </tbody>
            </table>

            <br>

           {{#compare position "!=" "Sales"}} 

            <hr>
            <div style="margin-top: 50px;">
                <div style="display: flex;">
                    <div style="width: 50%"><h3 class ="bold h3-left">Suppliers</h3></div>
                    <div class="btn-status">
                        <form action="/editItemSuppliers/{{itemInfo._id}}" class="btn-status">
                                <button class="btn-light-blue" id="btn-edit-supplier" data-toggle="modal">Edit Item Suppliers</button>
                        </form>
                    </div>
            </div>
           
            <table class="table">
                <thead class="table-regular-head" >
                    <tr>
                        <th>Name</th>
                        <th>Unit</th>
                    </tr>
                </thead>
                <tbody> 
                    {{#each itemSuppliers}}
                        <tr class="tr-supplier" data-toggle="modal" data-target="#modal-supplier-price" >
                            <td class="supplier">{{supplierID}}</td>
                            <td class="unit">{{unit}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>

             <!--SUPPLIER PRICES BASED ON LAST 3 PURCHASE ORDERS-->
            <div class="modal fade" id="modal-supplier-price" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLongTitle">Latest buying prices</h3>
                         <p id="modal-unit-name" style="display: none;"></p>
                    </div>
                    <div class="modal-body">
                        <table class="table">
                            <thead class="table-regular-head">
                                <tr>
                                    <td>Date</td>
                                    <td>Price</td>
                                </tr>
                            </thead>
                            <tbody id="table-body-supplier-price">
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btn-close-supplier-price" class="modal-btn-grey" data-dismiss="modal">Close</button>
                    </div>
                </div>
                </div>
            </div>
            {{/compare}}

        </div>

         <script>
            $(document).ready(function() {
                var categoryVal = $("#item-category-ID").text();
                var unitVal = $("#item-unit-ID").text();

                $("#dropdown-category option[value=" + categoryVal + "]").attr('selected', 'selected');
                $("#dropdown-unit option[value=" + unitVal + "]").attr('selected', 'selected');

                function capitalize(string){
                    var words = string.toLowerCase().split(' ');
                    for (i=0; i<words.length; i++)
                        words[i] = words[i].charAt(0).toUpperCase() + words[i].substring(1);
                    
                    return words.join(' ');
                }

                // INPUT VALIDATION

                function typeValidation(type) {
                    if (type == "no-selected") {
                        errorMessage("type");
                        return 1;
                    }
                    else 
                        return 0;
                }

                function unitValidation(unit) {
                    if (unit == "no-selected") {
                        errorMessage("unit");
                        return 1;
                    }
                    else 
                        return 0;
                }

                function reorderLevelValidation(reorderLevel) { 
                    if (reorderLevel == null || reorderLevel == "") {
                        errorMessage("reorderLevel");
                        return 1;
                    } else if (parseFloat(reorderLevel) <= 0) {
                        errorMessage("reorderLevelInvalidNum");
                        return 1;
                    }
                    else 
                        return 0;
                }

                function EOQValidation(EOQ) { 
                    if (EOQ == null || EOQ == "") {
                        errorMessage("EOQ");
                        return 1;
                    } else if (parseFloat(EOQ) <= 0) {
                        errorMessage("EOQInvalidNum");
                        return 1;
                    }
                    else 
                        return 0;
                }

                /*function sellingPriceValidation(price) {
                    if (price == null || price == "") {
                        errorMessage("sellingPrice");
                        return 1;
                    }
                    else 
                        return 0;
                }*/

                function retailQuantityValidation(retailQuantity) {
                    if (retailQuantity == null || retailQuantity == ""){
                        errorMessage('retailQuantity')
                        return 1
                    }
                    else {
                        if (retailQuantity <=0) {
                            errorMessage('invalidRetailQuantity')
                            return 1;
                        }
                        return 0
                    }
                }

                function errorMessage(type) {
                    if (type == "type") {
                        $("#dropdown-category").css("border", "1px solid #B00000");
                        $("#error-category").text("Please select a Type.");
                    } else if (type == "unit") {
                        $("#dropdown-unit").css("border", "1px solid #B00000");
                        $("#error-unit").text("Please select a Unit.");
                    } 
                     else if (type == "retailQuantity") {
                        $("retail-quantity").css("border", "1px solid #B00000");
                        $("#error-retail-quantity").text("Please enter a Retail Quantity.");
                    } else if (type == "invalidRetailQuantity") {
                        $("#retail-quantity").css("border", "1px solid #B00000");
                        $("#error-retail-quantity").text("Invalid Retail Quantity");
                    } 
                    else if (type == "reorderLevel") {
                        $("#reorder-level").css("border", "1px solid #B00000");
                        $("#error-reorder-level").text("Please enter a Reorder Level.");
                    } else if (type == "reorderLevelInvalidNum") {
                        $("#reorder-level").css("border", "1px solid #B00000");
                        $("#error-reorder-level").text("Invalid Reorder Level.");
                    } 
                    else if (type == "EOQ") {
                        $("#EOQ").css("border", "1px solid #B00000");
                        $("#error-EOQ").text("Please enter an EOQ.");
                    } else if (type == "EOQInvalidNum") {
                        $("#EOQ").css("border", "1px solid #B00000");
                        $("#error-EOQ").text("Invalid EOQ.");
                    }
                    
                }

                function resetErrorMessage() {
                    $("#dropdown-category").css("border", "1px solid #DDDDDD");
                    $("#error-category").text("");
                    $("#dropdown-unit").css("border", "1px solid #DDDDDD");
                    $("#error-unit").text("");
                    $("#retail-quantity").css("border", "1px solid #DDDDDD");
                    $("#error-retail-quantity").text("");
                    $("#reorder-level").css("border", "1px solid #DDDDDD");
                    $("#error-reorder-level").text("");
                    $("#EOQ").css("border", "1px solid #DDDDDD");
                    $("#error-EOQ").text("");
                    $('#error-selling-unit').text("");
                }

                $('#dropdown-category').change(function() {
                    resetErrorMessage();
                })

                $('#dropdown-unit').change(function() {
                    resetErrorMessage();
                })

                $('#retail-quantity').keyup(function() {
                    resetErrorMessage();
                })

                $('#reorder-level').keyup(function () { 
                    resetErrorMessage();
                });

                $('#EOQ').keyup(function () { 
                    resetErrorMessage();
                });


                function checkAll(category, unit, reorderLevel, EOQ, retailQuantity) {
                    typeValidation(category);
                    unitValidation(unit);
                    reorderLevelValidation(reorderLevel);
                    EOQValidation(EOQ);
                    retailQuantityValidation(retailQuantity)
                    //sellingPriceValidation(sellingPrice);
                }

                function supplierValidation(supplier) {
                    if (supplier == "no-selected") {
                        errorMessage("supplier");
                        return 1;
                    }
                    else 
                        return 0;
                }

                $('#dropdown-supplier').change(function() {
                    $("#dropdown-supplier").css("border", "1px solid #DDDDDD");
                    $("#error-supplier").text("");
                })

                $('#btn-add-supplier').click(function() {
                    var itemID = $('#item-ID').text();
                    var supplierID = $('#dropdown-supplier').val();

                    if (!supplierValidation(supplierID)) {
                        $.post('/postAddItemSupplier', {itemID, supplierID}, function () {

                        })
                            
                        $('#modal-add-supplier').modal('hide');
                        $('#add-supplier').trigger('reset');
                    }
                })

                $('#btn-edit-item').click(function() {
                    var itemID = $('#item-ID').text();
                    var itemDescription = $('#item-description').text();
                    var category = $('#dropdown-category').val();
                    var unit = $('#dropdown-unit').val();
                    var retailQuantity = $('#retail-quantity').val()
                    var quantity = $('#item-quantity').text();
                    var EOQ = $('#EOQ').val();
                    var reorderLevel = $('#reorder-level').val();
                    //var sellingPrice = $('#selling-price').val();
                    var itemStatusID = $('#item-status-ID').text();

                    var categoryText = $('#dropdown-category option:selected').text();
                    var unitText = $('#dropdown-unit option:selected').text();

                    checkAll(category, unit, reorderLevel, EOQ, retailQuantity);

                    if (!typeValidation(category) && !unitValidation(unit) && !retailQuantityValidation(retailQuantity) && !reorderLevelValidation(reorderLevel) && !EOQValidation(EOQ)) {
                        // remove texts and red borders
                        resetErrorMessage();
                        
                        // update page 
                        /*$.ajax({
                                url: "/postUpdateItemInformation",              
                                type: "POST",
                                data: {itemID, itemDescription, category, unit, quantity, EOQ, reorderLevel, sellingPrice, itemStatusID},
                                async: false,
                                success: function(result){
                                    $('#modal-edit-item').modal('hide');
                                    $('#edit-item').trigger('reset');
                                    alert("Item information has been updated")
                                    window.location.assign('/inventory/' + result._id);
                                }
                        });*/ 

                        $.post('/postUpdateItemInformation', {itemID, itemDescription, category, unit, quantity, retailQuantity, EOQ, reorderLevel, itemStatusID}, function(result){
                                $('#modal-edit-item').modal('hide');
                                $('#edit-item').trigger('reset');
                                alert("Item information has been updated")
                                window.location.assign('/inventory/' + result._id);
                            })
                      }
                })

                function sellingUnitValidation(quantity, unit, sellingPrice) {
                    var filled = true

                    if (quantity == null || quantity == "" || quantity < 0) {
                        $("#quantity").css("border", "1px solid #B00000");
                        $("#error-selling-unit-quantity").text("Invalid quantity.");
                        filled = false
                    } else {
                        $("#quantity-price").css("border", "1px solid #DDDDDD");
                        $("error-selling-unit-quantity").text("");
                    }
                    
                    if (sellingPrice == null || sellingPrice == "" || sellingPrice < 0) {
                        $("#selling-price").css("border", "1px solid #B00000");
                        $("#error-selling-price").text("Invalid selling price.");
                        filled = false
                    } else {
                        $("#selling-price").css("border", "1px solid #DDDDDD");
                        $("#error-selling-price").text("");
                    }

                    if (unit == "no-selected") {
                        $('#dropdown-new-selling-unit').css("border", "1px solid #B00000")
                        $('#error-unit').text("Select selling unit")
                        filled = false
                    }
                    else {
                        $("#dropdown-new-selling-unit").css("border", "1px solid #DDDDDD");
                        $("#error-unit").text("");
                    }

                    return filled   
                }

                $('#btn-save-selling-unit').click(function() {
                    var address = window.location.pathname.split('/');
                    var itemID = address[address.length -1]

                    var quantity = $('#quantity').val()
                    var unit = $("#dropdown-new-selling-unit").val()
                    var sellingPrice = $('#selling-price').val();
                    $.get('/checkSellingUnit', {itemID, quantity, unit, sellingPrice}, function(result) {
                        if (result == "found")
                            $('#error-selling-unit').text('Selling unit already exists')

                        else {
                            $('#error-selling-unit').text("")
                            console.log(sellingUnitValidation(quantity, unit, sellingPrice))
                            if (sellingUnitValidation(quantity, unit, sellingPrice)) {
                                $.post('/newSellingUnit', {itemID, quantity, unit, sellingPrice}, function(result) {
                                    window.location.reload();
                                })
                            }
                        }
                    })
                })

                $('.edit-button').click(function() {
                    var currentSellingPrice = $(this).parents('tr').find('.item-unit-selling-price').text();
                    var editSellingPrice = currentSellingPrice.slice(2)
                    $('#edit-selling-price').val(editSellingPrice.replace(/\,/g,''));
                    $('#old-selling-price').text(currentSellingPrice.slice(2));
                    $('#modal-edit-selling-unit').modal('show');

                    var unitName = $(this).parents('tr').find('.item-unit-name').text();
                    $('#modal-unit-name').text(unitName);
                })

                //delete selling unit
                $('#btn-delete-selling-unit').click(function() {
                    var itemID = $("#item-ID").text();
                    var unitName = $('#modal-unit-name').text();
                    if (confirm("Are you sure you want to delete this selling unit?")) {
                        $.post('/deleteSellingUnit', {itemID, unitName}, function(result) {
                            window.location.reload();
                        })
                    }
                })

                function resetEditSellingPriceErrorMessage (){
                    $("#edit-selling-price").css("border", "1px solid #DDDDDD");
                    $("#error-edit-selling-price").text("");
                }

                $('#edit-selling-price').keyup(function () { 
                    resetEditSellingPriceErrorMessage();
                });

                //change informationstatus of the current selling unit and create a new one
                $('#btn-save-edit-selling-unit').click(function () {
                    var itemID = $("#item-ID").text();
                    var unitName = $('#modal-unit-name').text();
                    var newSellingPrice = $('#edit-selling-price').val();
                    var oldSellingPrice = $('#old-selling-price').text();

                    // add validation
                    if (newSellingPrice == null || newSellingPrice == "" || newSellingPrice < 0) {
                        $("#edit-selling-price").css("border", "1px solid #B00000");
                        $("#error-edit-selling-price").text("Invalid selling price.");
                    } else {
                        resetEditSellingPriceErrorMessage();

                        // check if different 
                        if (parseFloat(newSellingPrice) != parseFloat(oldSellingPrice)) {

                            $.post('/editSellingUnit', {itemID, unitName, newSellingPrice}, function(result) {
                                window.location.reload();
                            })
                        } else 
                            $('#modal-edit-selling-unit').modal('hide');
                    }
                })

                $('.tr-supplier').click(function() {
                    var itemDesc = $("#item-description").text();
                    var supplierName = $(this).find('.supplier').text();
                    var unit = $(this).find('.unit').text();


                    $.get('/getLastestPrices', {supplierName, itemDesc, unit}, function(result) {
                        var length;
                        if (result.length<3)
                            length = result.length
                        else
                            length = 3

                        if (result.length!=0) {
                            for (var i=0; i<length; i++) {
                                console.log(result[i])
                                $('#table-body-supplier-price').append(`
                                    <tr>
                                        <td>${result[i].date}</td>
                                        <td>₱ ${parseFloat(result[i].price).toFixed(2)}</td
                                    </tr>
                                    `)
                            }
                        }
                        else {
                            $('#table-body-supplier-price').append(`
                                <tr>
                                    <p>No prices found</p>
                                </tr>`)
                        }
                    })
                })

                $('#btn-close-supplier-price').click(function() {
                    $('#table-body-supplier-price').empty()
                })

            })
        </script>
    </body>
</html>