<!DOCTYPE html>
<html>
    <head>
        <title> View Purchase Order </title>
        <meta name="description" content="View Purchase Order">
        <meta name="keyword" content="Moderna, View Purchase Order">
        <link rel="stylesheet" type="text/css" href="../css/general.css">
        <link rel="stylesheet" type="text/css" href="../css/information.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        
    </head>
    <body>

        <!-- PARTIALS -->
        <div id="navbar"> 
            <div class="navbar-logo"> <img src="../images/Kamuning.png" alt="Kamuning Hardware Logo" width="200" height="65"></div>
            <div class="navbar-logout"> <a href= "login.html">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                    <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                </svg>
            </a>
            </div>
        </div>

        <div class="sidebar">
            <a href="#">Home</a>
            <a href="#">Deliveries</a>
            <a href="#">Customers</a>
        </div>

        <div class="content">
            <div> <!-- ADD FIXED -->
                <div style="display: flex; align-items: center;">
                    <div style="width: 50%"><h1 class="bold" id="poNumber"> Purchase Order #{{poInfo.purchaseOrderNumber}} </h1></div>
                    <div class="btn-status">
                        {{#if newPO}}
                            <div><button id="btn-status" style="background-color: #0F84D9;">New</button></div>
                        {{else if released}}
                            <div><button id="btn-status" style="background-color: #F2A154;">Released</button></div>
                        {{else if incomplete}}
                            <div><button id="btn-status" style="background-color: #E24E3A;">Incomplete</button></div>
                        {{else if received}}
                            <div><button id="btn-status" style="background-color: #55B66A;">Received</button></div>
                        {{else if canceled}}
                            <div><button id="btn-status" style="background-color: #E24E3A;">Canceled</button></div>
                        {{/if}}
                    </div>
                </div>
            </div> 
            <hr style="margin-top: 0px;">

            <div>
                <div class="label-container">
                    <div class="override-label"> Processed By </div> 
                    <div class="label-content" id="view-PO-processed-by">{{poInfo.employeeName}}</div>
                </div>
                <div class="label-container">
                    <div class="override-label"> Date Made </div> 
                    <div class="label-content" id="view-PO-date-made">{{poInfo.fdateMade}}</div>
                </div>
                <div class="label-container">
                    <div class="override-label"> Date Received </div> 
                    <div class="label-content" id="view-PO-date-received">{{poInfo.fdateReceived}}</div>
                </div>
                <div class="display-flex" style="margin-top: 30px;">
                    <h3 class ="bold h3-left">Supplier Details</h3>
                </div>
                <div>
                    <div class="label-container">
                        <div class="override-label"> Name </div> 
                        <div class="label-content" id="view-PO-name-content">{{supplier.name}}</div>
                    </div>
                    <div class="label-container">
                        <div class="override-label"> Contact Person </div> 
                        <div class="label-content" id="view-PO-contact-person-content">{{supplier.contactPerson}}</div>
                    </div>
                    <div class="label-container">
                        <div class="override-label"> Contact Number </div> 
                        <div class="label-content" id="view-PO-contact-number">{{supplier.number}}</div>
                    </div>
                    <div class="label-container">
                        <div class="override-label"> Address </div> 
                        <div class="label-content" id="view-PO-address-content">{{supplier.address}}</div>
                    </div>
                </div>
        </div> 

                <div class="display-flex" style="margin-top: 20px">
                    <h3 class ="bold h3-left">Order Details</h3>
                </div>           
                    <table class="table">
                        <thead style="background-color: #2F5D62; color: white">
                            <tr>
                                <th>Item Description</th>
                                <th>Quantity</th>
                                <th>Unit</th>
                                <th>Unit Price</th>
                                <th>Received</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <!-- right align qty, received, unit price, amount-->
                        <tbody id="table-poItem-body"> 
                            {{#each items}}
                                <tr>
                                    <td class="classItemDescription">{{itemDescription}}</td>
                                    <td class="classQty" style="text-align: right;">{{quantity}}</td>
                                    <td class="classUnit">{{unitName}}</td>
                                    <td style="text-align: right;">₱ {{unitPrice}}</td>
                                    <td style="text-align: right;">{{quantityReceived}}</td>
                                    <td style="text-align: right;">₱ {{amount}}</td>  
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                    {{#if received}}
                        <div class="summary-container">
                            <div class="summary-text">Subtotal</div>
                            <div class="summary-info-container"><div class="summary-info">₱ {{poInfo.subtotal}}</div></div>
                        </div>
                        <div class="summary-container">
                            <div class="summary-text">VAT</div>
                            <div class="summary-info-container"><div class="summary-info">₱ {{poInfo.vat}}</div></div>
                        </div>
                        <div class="summary-container">    
                            <div class="summary-text">Discount</div>
                            <div class="summary-info-container"><div class="summary-info">₱ {{poInfo.discount}}</div></div>
                        </div>
                        <div class="summary-container">
                            <div class="summary-text">Total</div>
                            <div class="summary-info-container"><div class="summary-info">₱ {{poInfo.total}}</div></div>
                        </div>
                    {{/if}}

                    <div style="height: 10px"></div>

                    <div>
                        <div style="display: flex; align-items: center;">
                            {{#if newPO}}
                                <div style="width: 50%"><div class="btn-cancel-po"><button class="btn-red" id="btn-delete-po" style="margin-bottom: 10px;">Delete</button></div></div>
                                <div style="display: flex; flex-direction: column; position: absolute; right: 5%;">
                                    <div class="btn-save-invoice"><button class="btn-light-blue" id="btn-edit-po" onclick="document.location.href='/editPO/{{poInfo._id}}'"style="margin-bottom: 10px;">Edit</button></div>
                                     <div class="btn-export-invoice"><button class="btn-dark-blue" id="btn-export-invoice">Export</button></div>
                                 </div>
                            {{else if released}}
                                <div class="btn-save-invoice" style="position: absolute; right:5%"><button class="btn-light-blue" id="btn-save-invoice" onclick="document.location.href='/editPO/{{poInfo._id}}'" style="margin-bottom: 10px;" >Receive Items</button></div>
                            {{else}}
                                <div></div>
                            {{/if}}
                        </div>
                    </div>

                    
                    <div style="height: 20px"></div>
        </div>

        <script>
            $(document).ready(function() {
                $('#btn-export-invoice').click(function() {
                    if (confirm("Once the PO has been exported, it cannot be edited anymore. Do you wish to proceed?")) {
                        var address = window.location.pathname.split('/');
                        var poID = address[address.length -1]

                        var supplier = {
                            name: $('#view-PO-name-content').text(),
                            contactPerson: $('#view-PO-contact-person-content').text(),
                            number: $('#view-PO-contact-number').text(),
                            address: $('#view-PO-address-content').text()
                        }
                        var date = $("#view-PO-date-made").text()

                        var supplierString = JSON.stringify(supplier)

                        var poItems = []

                         $("#table-poItem-body > tr").each(function () {
                            var poItem= {
                                itemDesc: $(this).children('.classItemDescription').text(), 
                                quantity: $(this).find('.classQty').text(),
                                unit: $(this).children('.classUnit').text()
                            }
                            poItems.push(poItem);
                        });

                         var poItemsString = JSON.stringify(poItems)
                         var poNumber  = $('#poNumber').text()
   
                        $.post('/updatePOStatus', {poID}, function (result) {
                            $.get('/exportPO', {supplierString, poItemsString, poNumber, date}, function(result) {
                                window.location.reload()
                            })
                        });
                    }
                })

                $('#btn-delete-po').click(function () {
                    if (confirm("Do you want to delete this purchase order? This cannot be undone.")) {
                        var address = window.location.pathname.split('/');
                        var poID = address[address.length -1]
                        $.post('/deletePO', {poID}, function(result) {
                            alert("Purchase Order has been deleted")
                            window.location = "/purchaseOrderList"
                        })
                    } 
                })

                $('#btn-cancel-po').click(function () {
                    if (confirm("Do you want to cacel this purchase order? This cannot be undone.")) {
                        var address = window.location.pathname.split('/');
                        var poID = address[address.length -1]
                        $.post('/cancelPO', {poID}, function(result) {
                            alert("Purchase Order has been canceled")
                            window.location = "/purchaseOrderList"
                        })
                    } 
                })
            })
        </script>
    </body>
</html>