<!DOCTYPE html>
<html>
    <head>
        <title>Invoice #{{deliveryInfo.invoiceNum}}</title>
        <meta name="description" content="View Invoice">
        <meta name="keyword" content="Moderna, View Invoice">
        <link rel="stylesheet" type="text/css" href="../css/general.css">
        <link rel="stylesheet" type="text/css" href="../css/information.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        
    </head>
    <body>

        {{> logoutPartial }}

        {{#if delivery}}
            {{> deliveryPartial }}
        {{/if}}

        {{#if manager}}
            {{> managerPartial }}
        {{/if}}

        <div class="content">
            <div> 
                <div style="display: flex;">
                    <div style="width: 50%"><h1 class="bold"> Invoice #{{deliveryInfo.invoiceNum}} </h1></div>
                    <p id="invoice-ID" style="display: none;">{{deliveryInfo.invoice_id}}</p>
                    <p id="delivery-ID" style="display: none;">{{deliveryInfo._id}}</p>
                    <div class="btn-status" style="margin-top: 30px">
                        <div><button class="btn-status btn-{{deliveryInfo.paymentStatus}}" style="width: 100px; display: inline-block">{{deliveryInfo.paymentStatus}}</button></div>
                    </div>
                </div>
            </div> 
            <hr style="margin-top: 0px;">

            <div class="display-flex">
                <h3 class ="bold h3-left">Customer Details</h3>
                <h3 class="h3-right">{{invoice.date}}</h3>
            </div>

                <div>
                    <div class="label-container">
                        <div class="override-label"> Name </div> 
                        <div class="label-content">{{customer.name}}</div>
                    </div>
                </div>
                <div class="label-container" id="address-div">
                    <div class="override-label"> Address </div> 
                    <div class="label-content ">{{customer.address}}</div>
                </div>
                <div class="label-container" id="contantNum-div"> 
                    <div class="override-label"> Contact Number </div> 
                    <div class="label-content">{{customer.number}}</div>
                </div>
            
                <div style="height: 20px"></div>

                    <h3 class ="bold">Order Details</h3>

                    <div class="label-container"> 
                        <div class="override-label"> Invoice Type </div> 
                        <div class="label-content" id="invoice-type">{{invoice.invoiceType}}</div>
                    </div>

                     <div class="label-container"> 
                        <div class="override-label"> Payment Type </div> 
                        <div class="label-content" id="payment-type">{{invoice.paymentType}}</div>
                    </div>

                    <div class="label-container"> 
                        <div class="override-label"> Delivery Date </div> 
                        <div class="label-content">{{deliveryInfo.deliveryDate}}</div>
                    </div>

                    <div class="label-big-container" style="height: 80px" id="notes-div"> 
                        <div class="label-wide">
                            <div class="navbar-logo">Notes</div>
                            
                        </div>
                        <div class="label-wide-content" style="height: 40px">{{deliveryInfo.deliveryNotes}}</div>
                    </div> 

                    <table class="table" style="margin-top: 30px">
                        <thead style="background-color: #2F5D62; color: white">
                            <tr>
                                <th>Item Description</th>
                                <th>Qty</th>
                                <th>Unit</th>
                                <th>Unit Price</th>
                                <th>Discount</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody> 
                            {{#each items}}
                                <tr>
                                    <td>{{itemDescription}}</td>
                                    <td style="text-align: right;">{{qty}}</td> 
                                    <td>{{unit}}</td>
                                    <td style="text-align: right;">₱ {{unitPrice}}</td> 
                                    <td style="text-align: right; color: red;">- ₱ {{discount}}</td> 
                                    <td style="text-align: right;">₱ {{amount}}</td> 
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>

                    <div class="summary-container">
                        <div class="summary-text">Subtotal</div>
                        <div class="summary-info-container"><div class="summary-info">₱ {{invoice.subtotal}}</div></div>
                    </div>
                    <div class="summary-container">
                        <div class="summary-text">VAT</div>
                        <div class="summary-info-container"><div class="summary-info">₱ {{invoice.VAT}}</div></div>
                    </div>
                    <div class="summary-container">    
                        <div class="summary-text">Discount</div>
                        <div class="summary-info-container"><div class="summary-info">₱ {{invoice.discount}}</div></div>
                    </div>
                    <div class="summary-container">
                        <div class="summary-text">Total</div>
                        <div class="summary-info-container"><div class="summary-info">₱ {{invoice.total}}</div></div>
                    </div>

                    <div style="height: 10px"></div>

                    <div class="btn-export-invoice"><button class="btn-light-blue" id="btn-confirm-delivery" data-toggle="modal" data-target="#modal-confirm-delivery">Confirm Delivery</button></div>

                    <div style="height: 20px"></div>

                <!-- Modal -->
                <div class="modal fade" id="modal-confirm-delivery" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="exampleModalLongTitle">Confirm Delivery</h3>
                        </div>
                        <div class="modal-body">
                            <p>Confirming delivery will mark the items as delivered. Do you wish to Proceed?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="modal-btn-grey" data-dismiss="modal">No</button>
                            <button type="button" class="modal-btn-light-blue" id="btn-delivered">Yes</button>
                        </div>
                    </div>
                    </div>
                </div>
        </div>
         <script>
           $(document).ready(function() {
                $("#btn-delivered").click(function() {
                    var _id = $('#delivery-ID').text();
                    var invoice_id = $('#invoice-ID').text();

                    $.ajax({
                        url: "/postUpdateDelivery",              
                        type: "POST",
                        data: {_id, invoice_id},
                        async: false,
                        success: function(result){
                            $('#modal-confirm-delivery').modal('hide');
                            window.location.assign('/deliveries');
                        }
                    }); 
                });         
            })
        </script>
    </body>
</html>