<!DOCTYPE html>
<html>
    <head>
        <title>Invoice #{{invoiceInfo.invoiceID}}</title>
        <meta name="description" content="View Invoice">
        <meta name="keyword" content="Moderna, View Invoice">
        <link rel="stylesheet" type="text/css" href="../css/general.css">
        <link rel="stylesheet" type="text/css" href="../css/information.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        
    </head>
    <body>

        {{> logoutPartial }}

        {{#if cashier}}
            {{> cashierPartial }}
        {{/if}}

        {{#if manager}}
            {{> managerPartial }}
        {{/if}}

        <div class="content">
            <div> <!-- ADD FIXED -->
                <div style="display: flex;">
                    <div style="width: 50%"><h1 class="bold"> Invoice #{{invoiceInfo.invoiceID}} </h1></div>
                    <div class="btn-status" style="margin-top: 30px">
                        <div><button class="btn-status btn-{{invoiceInfo.status}}" style="width: 100px; display: inline-block">{{invoiceInfo.status}}</button></div>
                    </div>
                </div>
            </div> 
            <hr style="margin-top: 0px;">

            <div class="display-flex">
                <h3 class ="bold h3-left">Customer Details</h3>
                <!--<h3 class="h3-right">{{invoiceInfo.date}}</h3>-->
            </div>

                {{#if customerName}}
                      <div>
                        <div class="label-container">
                            <div class="override-label"> Name </div> 
                            <div class="label-content">{{customerName}}</div>
                        </div>
                    </div>
                {{/if}}

                {{#if customer}}
                        <div class="label-container">
                            <div class="override-label"> Name </div> 
                            <div class="label-content">{{invoiceInfo.customerName}}</div>
                        </div>
                    {{#compare invoiceInfo.type "==" "Delivery"}}
                        <div class="label-container" id="address-div">
                            <div class="override-label"> Delivery Address </div> 
                            <div class="label-content ">{{delivery.address}}</div>
                        </div>
                    {{/compare}}
                    <div class="label-container" id="contantNum-div"> 
                        <div class="override-label"> Contact Number </div> 
                        <div class="label-content">{{customer.number}}</div>
                    </div>
                {{/if}}
            
                <div style="height: 20px"></div>

                <hr>

                    <h3 class ="bold">Order Details</h3>

                    <div class="label-container"> 
                        <div class="override-label"> Invoice Date </div> 
                        <div class="label-content" id="invoice-type">{{invoiceInfo.date}}</div>
                    </div>

                    <div class="label-container"> 
                        <div class="override-label"> Invoice Type </div> 
                        <div class="label-content" id="invoice-type">{{invoiceInfo.type}}</div>
                    </div>

                     <div class="label-container"> 
                        <div class="override-label"> Payment Type </div> 
                        <div class="label-content" id="payment-type">{{invoiceInfo.paymentOption}}</div>
                    </div>

                    <div class="label-container"> 
                        <div class="override-label"> Processed By </div> 
                    <div class="label-content">{{invoiceInfo.employeeName}}</div>
                    </div>

                    {{#compare invoiceInfo.type "==" Delivery}}
                        <div style="display: flex;" id="date-div">
                            <div class="label-container" style="width: 49%; margin-right: 2%;">
                                <div class="override-label">Delivery Date</div> 
                                <div class="label-content">{{delivery.fdeliveryDate}}</div>
                            </div>

                            <div class="label-container" style="width: 49%" >
                                <div class="override-label">Date Delivered</div> 
                                <div class="label-content">{{delivery.fdateDelivered}}</div>
                            </div>
                        </div>

                        <div class="label-container" id="deliveredBy-div">
                            <div class="override-label">Delivered By</div> 
                        <div class="label-content">{{delivery.deliveryPersonnel}}</div>
                            </div>

                        <div class="label-big-container" style="height: 100px" id="notes-div"> 
                            <div class="label-wide">
                                <div class="navbar-logo">Notes</div>
                                
                            </div>
                            <div class="label-wide-content" style="height: 40px">{{delivery.deliveryNotes}}</div>
                        </div> 
                    {{/compare}}


                    <table class="table" style="margin-top: 30px">
                        <thead style="background-color: #2F5D62; color: white">
                            <tr>
                                <th>Item Description</th>
                                <th>Qty</th>
                                <th>Unit</th>
                                <th>Unit Price</th>
                                <th>Discount</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody> 
                            {{#each items}}
                                <tr>
                                    <td>{{itemDescription}}</td>
                                    <td style="text-align: right;">{{qty}}</td> 
                                    <td>{{unit}}</td>
                                    <td style="text-align: right;">₱ {{unitPrice}}</td> 
                                    <td style="text-align: right; color: red;">- ₱ {{discount}}</td> 
                                    <td style="text-align: right;">₱ {{amount}}</td> 
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>

                    <div class="summary-container">
                        <div class="summary-text">Subtotal</div>
                        <div class="summary-info-container"><div class="summary-info">₱ {{invoiceInfo.subtotal}}</div></div>
                    </div>
                    <div class="summary-container">
                        <div class="summary-text">VAT</div>
                        <div class="summary-info-container"><div class="summary-info">₱ {{invoiceInfo.VAT}}</div></div>
                    </div>
                    <div class="summary-container">    
                        <div class="summary-text">Discount</div>
                        <div class="summary-info-container"><div class="summary-info">₱ {{invoiceInfo.discount}}</div></div>
                    </div>
                    <div class="summary-container">
                        <div class="summary-text">Total</div>
                        <div class="summary-info-container"><div class="summary-info">₱ {{invoiceInfo.total}}</div></div>
                    </div>
                    <br>

                    {{#compare invoiceInfo.paymentOption "==" "On Account"}}
                        <hr style="margin-top: 0px;">
                      
                        <div style="margin-top: 50px;">
                            <div style="display: flex;">
                                <div style="width: 50%"><h3 class ="bold h3-left">Payment History</h3></div>
                                 {{#compare invoiceInfo.status "==" "Pending"}}
                                    <div class="btn-status">
                                        <button class="btn-light-blue" id="btn-pay-invoice" data-toggle="modal" data-target="#modal-new-payment">New Payment</button>
                                    </div>
                                 {{/compare}}
                        </div>

                        <table class="table" style="margin-top: 0px">
                            <thead style="background-color: #2F5D62; color: white">
                                <tr>
                                    <th>Date</th>
                                    <th>Payment Method</th>
                                    <th>Amount</th>
                                    <th>Payment Details</th>
                                </tr>
                            </thead>
                            <tbody> 
                                {{#each paymentHistory}}
                                    <tr>
                                        <td>{{date}}</td>
                                        <td>{{paymentMethod}}</td>
                                        <td style="text-align: right;">₱ {{amountPaid}}</td> 
                                        {{#if paymentDetails}}
                                        <td>{{paymentDetails}}</td>
                                        {{else}}
                                        <td></td>
                                        {{/if}}
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table>

                        
                        <div class="summary-container">
                            <div class="summary-text">Amount Paid</div>
                            <div class="summary-info-container"><div class="summary-info">₱ {{paymentTotal}}</div></div>
                        </div>
                        {{#compare invoiceInfo.status "==" "Pending"}}
                        <div class="summary-container">    
                            <div class="summary-text">Amount Due</div>
                            <div class="summary-info-container"><div class="summary-info" id="totalAmountDue">₱ {{amountDue}}</div></div>
                        </div>
                        {{/compare}}
                    {{/compare}}

                    <div style="height: 10px"></div>

                     <!---PAYMENT MODAL-->
                    <div class="modal fade" id="modal-new-payment" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title" id="exampleModalLongTitle">New Payment</h3>
                                <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>-->
                            </div>
                            <div class="modal-body">
                                <div class="flex-display" style="margin-bottom: 3px; align-items: center;">
                                    <label for="dropdown-payment-method" class="modal-label">Payment Method</label> 
                                    <select id="dropdown-payment-method" class="dropdown form-control">
                                        {{#each paymentMethods}}
                                            <option value="{{_id}}">{{paymentOption}}</option>
                                        {{/each}}
                                    </select>
                                </div>

                                <div class="flex-display" style="margin-bottom:3px;">
                                    <label for="input-new-payment" class="modal-label">Amount</label> 
                                    <input type="number" id="input-new-payment" class="modal-input form-control" style="text-align: right;">
                                </div>

                                <div class="flex-display" id="payment-details" style="display:none">
                                    <label for="input-new-payment" class="modal-label">Details (Bank Name, Cheque No.)</label> 
                                    <input type="text" id="input-payment-detail" class="modal-input form-control" style="text-align: right;">
                                </div>

                                <p id="error-amount" class ="error" style="display:none">Amount inputted cannot be greater than total amount due.</p>
                            </div>
                            <div class="modal-footer">
                                 <button type="button" class="modal-btn-grey" data-dismiss="modal">Close</button>
                                <button type="button" class="modal-btn-light-blue" id="btn-save-payment">Save</button>
                            </div>
                        </div>
                        </div>
                    </div>

                    {{#compare invoiceInfo.status "==" "Pending"}}
                    <hr>
                    {{/compare}}
                        

                    {{#compare invoiceInfo.status "!=" "Void"}}
                        <div class="btn-export-invoice" style="margin-bottom: 10px"><button class="btn-light-blue" id="return">Return</button></div>
                        <div class="btn-export-invoice">
                            <a id="download-link" href="" download></a>
                            <button class="btn-dark-blue" id="btn-export-invoice">Export</button>
                        </div>
                    {{/compare}}

                    <div style="height: 20px"></div>
        </div>
         <script>
            if ($("#invoice-type").text() == "In-Store") {
                $("#address-div").css("display", "none");
                $("#contantNum-div").css("display", "none");
                $("#date-div").css("display", "none");
                $("#deliveredBy-div").css("display", "none");
                $("#notes-div").css("display", "none");
            }

            $(document).ready(function() {
                $('#return').click(function() {
                    var address = window.location.pathname.split('/');
                    var invoiceID = address[address.length -1]

                    window.location = `/return/${invoiceID}`
                })

                function amountValid(amountPaid) {
                    if (amountPaid > (parseFloat($("#totalAmountDue").text().slice(1).split(",").join("")))) 
                        return false
                    else
                        return true
                }

                $('#dropdown-payment-method').change(function() {
                    var method = $('#dropdown-payment-method option:selected').text();
                    if (method == "Cash")
                        $('#payment-details').css('display', 'none')
                    else 
                        $('#payment-details').css('display', 'flex')
                })

                $('#input-new-payment').keyup(function() {
                    var amountPaid = parseFloat($(this).val())
                    if (amountValid(amountPaid)) {
                        $("#btn-save-payment").prop("disabled", false);
                        $("#btn-save-payment").css("background-color", "#0F84D9");
                        $('#error-amount').css('display', 'none')
                    }
                    else {
                        $("#btn-save-payment").prop("disabled", true);
                        $("#btn-save-payment").css("background-color", "#b3b3b3");
                        $('#error-amount').css('display', 'block')
                    }
                })

                $('#btn-save-payment').click(function () {
                    var address = window.location.pathname.split('/');
                    var invoiceID = address[address.length -1]
                    var amountPaid = $('#input-new-payment').val()
                    var paymentMethod = $('#dropdown-payment-method').val();
                    var paymentDetails = $('#input-payment-detail').val()

                    if (amountValid(amountPaid)) {
                        $('#error-amount').css('display', 'none')
                        $.post('/payOneInvoice', {invoiceID, paymentMethod, paymentDetails, amountPaid}, function(result) {
                            alert('Payment has been saved')
                            window.location.reload()
                        })
                    }  
                    else
                        $('#error-amount').css('display', 'block')
                })

                $('#btn-export-invoice').click(function (e) {
                    var address = window.location.pathname.split('/');
                    var invoiceID = address[address.length -1]

                    $.get('/exportInvoice', {invoiceID}, function(result) {
                        $('#download-link').attr('href', '/documents/'+result)
                        $('#download-link')[0].click()
                    })
                })
                
            })
        </script>
    </body>
</html>